footer {
  color: $violet;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: get-vw(16px);
  font-weight: 400;
  line-height: get-vw(25px);
  .inner-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: get-vw(2px) solid $violet;
    border-bottom: get-vw(2px) solid $violet;
    padding: get-vw(24px) 0 0;
    & > * {
      margin-bottom: get-vw(30px);
    }
  }
  .logo-wrap {
    margin-right: get-vw(-50px);
    img {
      width: get-vw(100px);
      height: get-vw(100px);
    }
  }
  .social-wrap {
    display: flex;
    a {
      position: relative;
      display: block;
      margin-right: get-vw(25px);
      width: get-vw(50px);
      height: get-vw(50px);
      border-radius: 100%;
      background-color: $black;
      &:hover {
        background-color: $lavander;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    .icon {
      position: absolute;
    }
  }
  h4 {
    font-family: 'Uni Sans Thin Caps', sans-serif;
    font-size: get-vw(16px);
    font-weight: bold;
    margin-bottom: get-vw(18px);
    white-space: nowrap;
  }
  a {
    color: $violet;
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    font-size: get-vw(14px);
    font-weight: 400;
  }
  form {
    .form-group {
      position: relative;
      input {
        width: get-vw(400px);
        font-weight: 400;
        padding-right: get-vw(210px);
      }
      button {
        width: get-vw(200px);
        position: absolute;
        font-weight: 400;
        top: 0;
        right: 0;
        background-color: $white;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  .footer-nav {
    padding: get-vw(20px) 0;
    border-bottom: get-vw(2px) solid $violet;
    ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    a {
      position: relative;
      font-family: 'Uni Sans Thin Caps', sans-serif;
      font-size: get-vw(16px);
      font-weight: bold;
      line-height: get-vw(25px);
      padding: 2rem 0;
      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 75%;
        width: 0;
        height: get-vw(1px);
        background-color: $violet;
        transition: width $default;
      }
      &:hover,
      &:focus {
        text-decoration: none;
        &::after {
          width: 100%;
        }
      }
    }
  }
  .footer-info {
    display: flex;
    justify-content: space-between;
    padding: get-vw(24px) 0;
    p {
      text-align: right;
      margin: 0;
    }
  }
}

//@media (max-width: $desktop) {
//  footer {
//    .footer-nav {
//      ul {
//        flex-wrap: wrap;
//        li {
//          padding: 1rem 0;
//          width: 20%;
//        }
//      }
//    }
//  }
//}
//
//@media (min-width: $tablet + 1px) and (max-width: $desktop) {
//  footer {
//    .footer-nav {
//      ul {
//        li {
//          width: 25%;
//        }
//      }
//    }
//  }
//}
//
//@media (min-width: $mobile + 1px) and (max-width: $tablet) {
//  footer {
//    .footer-nav {
//      ul {
//        li {
//          width: 33.33333%;
//        }
//      }
//    }
//  }
//}
//
//@media (max-width: $mobile) {
//  footer {
//    .subscribe {
//      width: 100%;
//    }
//    form {
//      .form-group {
//        input {
//          width: 100%;
//        }
//        button {
//          width: 50%;
//        }
//      }
//    }
//    .footer-nav {
//      ul {
//        li {
//          width: 50%;
//        }
//      }
//    }
//  }
//}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-facebook {
  background-image: url('../img/fb.svg');
  width: get-vw(45px);
  height: get-vw(45px);
  top: calc(50% + 0.4vw);
  left: calc(50% + 0.2vw);
}

.icon-instagram {
  background-image: url('../img/ig.svg');
  width: get-vw(30px);
  height: get-vw(30px);
  left: calc(50% + .05vw)
}

.icon-youtube {
  background-image: url('../img/yt.svg');
  width: get-vw(30px);
  height: get-vw(21px);
  left: calc(50% + .05vw)
}

.icon-prom {
  background-image: url('../img/pu.svg');
  width: get-vw(30px);
  height: get-vw(30px);
}
