footer {
  color: $violet;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: get-vw(18px);
  font-weight: 400;
  line-height: get-vw(25px);
  .inner-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: get-vw(2px) solid $violet;
    border-bottom: get-vw(2px) solid $violet;
    padding: get-vw(24px) 0 0;
    & > * {
      margin-bottom: get-vw(30px);
    }
  }
  .logo-wrap {
    margin-right: get-vw(-34px);
    img {
      width: get-vw(100px);
      height: get-vw(100px);
    }
  }
  .social-wrap {
    display: flex;
    a {
      position: relative;
      display: block;
      margin-right: get-vw(25px);
      width: get-vw(50px);
      height: get-vw(50px);
      border-radius: 100%;
      background-color: $black;
      &:hover {
        background-color: $lavander;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    .icon {
      position: absolute;
    }
  }
  h4 {
    font-family: 'Uni Sans Thin Caps', sans-serif;
    font-size: get-vw(18px);
    font-weight: bold;
    margin-bottom: get-vw(18px);
    white-space: nowrap;
  }
  a {
    color: $violet;
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    font-size: get-vw(14px);
    font-weight: 400;
  }
  form {
    .form-group {
      position: relative;
      input {
        width: get-vw(400px);
        font-weight: 400;
        padding-right: get-vw(210px);
      }
      button {
        width: get-vw(200px);
        position: absolute;
        font-weight: 400;
        top: 0;
        right: 0;
        background-color: $white;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  .footer-nav {
    padding: get-vw(20px) 0;
    border-bottom: get-vw(2px) solid $violet;
    ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    a {
      position: relative;
      font-family: 'Uni Sans Thin Caps', sans-serif;
      font-size: get-vw(18px);
      font-weight: bold;
      line-height: get-vw(25px);
      padding: 2rem 0;
      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 75%;
        width: 0;
        height: get-vw(1px);
        background-color: $violet;
        transition: width $default;
      }
      &:hover,
      &:focus {
        text-decoration: none;
        &::after {
          width: 100%;
        }
      }
    }
  }
  .footer-info {
    display: flex;
    justify-content: space-between;
    padding: get-vw(24px) 0;
    p {
      text-align: right;
      margin: 0;
    }
  }
}

@media (min-width: $tablet + 1px) {
  .phone-link {
    cursor: default;
    &:hover {
      text-decoration: none;
    }
  }
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-facebook {
  background-image: url('../img/fb.svg');
  width: get-vw(45px);
  height: get-vw(45px);
  top: calc(50% + 0.4vw);
  left: calc(50% + 0.2vw);
}

.icon-instagram {
  background-image: url('../img/ig.svg');
  width: get-vw(30px);
  height: get-vw(30px);
  left: calc(50% + .05vw)
}

.icon-youtube {
  background-image: url('../img/yt.svg');
  width: get-vw(30px);
  height: get-vw(21px);
  left: calc(50% + .05vw)
}

.icon-prom {
  background-image: url('../img/pu.svg');
  width: get-vw(30px);
  height: get-vw(30px);
}

@media (min-width: $min-tablet)
and (max-width: $tablet) {
  footer {
    font-size: get-vw-t(16px);
    line-height: get-vw-t(23px);
    .inner-wrap {
      flex-wrap: nowrap;
      border-top: get-vw-t(1px) solid $violet;
      border-bottom: get-vw-t(1px) solid $violet;
      padding: get-vw-t(25px) 0 0;
      & > * {
        margin-bottom: get-vw(30px);
      }
    }
    .logo-wrap {
      margin-right: get-vw-t(60px);
      img {
        width: get-vw-t(88px);
        height: get-vw-t(88px);
      }
    }
    .contacts {
      min-width: get-vw-t(177px);
      .contact:not(.d-xl-none) {
        margin-bottom: get-vw-t(11px);
      }
    }
    .schedule {
      min-width: get-vw-t(127px);
    }
    .contacts,
    .schedule {
      margin-right: get-vw-t(60px);
    }
    .social-media {
      margin-top: get-vw-t(24px);
    }
    .social-wrap {
      a {
        margin-right: get-vw-t(20px);
        width: get-vw-t(50px);
        height: get-vw-t(50px);
      }
    }
    h4 {
      font-size: get-vw-t(16px);
      margin-bottom: get-vw-t(9px);
    }
    p {
      font-size: get-vw-t(16px);
    }
    form {
      .form-group {
        input {
          width: get-vw-t(380px);
          padding-right: get-vw-t(240px);
        }
        button {
          width: get-vw-t(146px);
        }
      }
    }
    .footer-nav {
      padding: get-vw-t(22px) 0;
      border-bottom: get-vw-t(1px) solid $violet;
      a {
        font-size: get-vw-t(16px);
        line-height: get-vw-t(22px);
        padding: 2rem 0;
        &::after {
          left: 0;
          top: 75%;
          width: 0;
          height: get-vw(1px);
        }
      }
    }
    .footer-info {
      padding: get-vw(24px) 0;
    }
  }

  .icon-facebook {
    width: get-vw-t(45px);
    height: get-vw-t(45px);
  }

  .icon-instagram {
    width: get-vw-t(30px);
    height: get-vw-t(30px);
  }

  .icon-youtube {
    width: get-vw-t(30px);
    height: get-vw-t(21px);
  }

  .icon-prom {
    width: get-vw-t(30px);
    height: get-vw-t(30px);
  }
}

@media (max-width: $mobile) {
  footer {
    font-size: get-vw-m(18px);
    line-height: get-vw-m(23px);
    .inner-wrap {
      flex-wrap: wrap;
      border-top: get-vw-m(2px) solid $violet;
      border-bottom: get-vw-m(2px) solid $violet;
      padding: get-vw-m(30px) 0 0;
      & > * {
        margin-bottom: get-vw-m(36px);
      }
    }
    .logo-wrap {
      width: 100%;
      text-align: center;
      img {
        width: get-vw-m(75px);
        height: get-vw-m(75px);
      }
    }
    .contacts {
      display: flex;
      flex-wrap: wrap;
      .contact {
        width: 50%;
        display: inline-block;
        text-align: center;
      }
    }
    .contacts,
    .schedule,
    .subscribe {
      min-width: initial;
      width: 100%;
      margin-right: 0;
    }
    .schedule {
      text-align: center;
    }
    .social-media {
      margin-top: get-vw-m(34px);
    }
    .subscribe {
      margin-bottom: get-vw-m(34px);
    }
    .social-wrap {
      justify-content: center;
      margin-top: get-vw-m(18px);
      a {
        margin-right: get-vw-m(20px);
        width: get-vw-m(50px);
        height: get-vw-m(50px);
      }
    }
    h4 {
      width: 100%;
      text-align: center;
      font-size: get-vw-m(16px);
      line-height: get-vw-m(25px);
      margin-bottom: get-vw-m(8px);
    }
    p {
      font-size: get-vw-m(18px);
    }
    form {
      margin-top: get-vw-m(15px);
      .form-group {
        input {
          width: 100%;
          padding-right: get-vw-m(146px);
        }
        button {
          width: get-vw-m(146px);
          padding-top: get-vw-m(13px);
          padding-bottom: get-vw-m(13px);
        }
      }
    }
    .footer-nav {
      text-align: center;
      padding: get-vw-m(22px) 0;
      border-bottom: get-vw-m(2px) solid $violet;
      a {
        font-size: get-vw-m(18px);
        line-height: get-vw-m(22px);
        padding: 2rem 0;
        &::after {
          left: 0;
          top: 75%;
          width: 0;
          height: get-vw-m(1px);
        }
      }
    }
    .footer-info {
      padding: get-vw-m(12px) 0 get-vw-m(35px);
      flex-direction: column;
      text-align: center;
      font-size: get-vw-m(14px);
      a {
        margin-bottom: get-vw-m(5px);
      }
      a, p {
        text-align: center;
        font-size: get-vw-m(14px);
      }
    }
  }

  .icon-facebook {
    width: get-vw-m(45px);
    height: get-vw-m(45px);
  }

  .icon-instagram {
    width: get-vw-m(30px);
    height: get-vw-m(30px);
  }

  .icon-youtube {
    width: get-vw-m(30px);
    height: get-vw-m(21px);
  }

  .icon-prom {
    width: get-vw-m(30px);
    height: get-vw-m(30px);
  }
}
