header {
  background-color: transparentize($white, .2);
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  & + section {
    margin-top: get-vw(100px);
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: get-vw(25px) 0;
    &-brand {
      line-height: 0;
      img {
        width: get-vw(270px);
      }
    }
    &-toggler {
      cursor: pointer;
      position: relative;
      width: get-vw(35px);
      height: get-vw(25px);
      padding: 0;
      z-index: 100;
      &.active {
        .navbar-toggler-icon {
          background-color: transparent;
          &::before {
            transform: rotate(315deg);
            top: 0;
          }
          &::after {
            transform: rotate(-315deg);
            top: 0;
            bottom: auto;
          }
        }
      }
    }
    &-toggler-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: get-vw(35px);
      height: get-vw(1px);
      background-color: $violet;
      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        display: block;
        width: inherit;
        height: inherit;
        background-color: $violet;
        transition: .5s ease-in;
      }
      &::before {
        top: get-vw(-10px);
      }
      &::after {
        bottom: get-vw(-10px);
      }
    }
    &-nav {
      .nav-item {
        //padding: 0 get-vw(50px);
        padding: 0 get-vw(20px);
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
        .nav-link {
          position: relative;
          color: $violet;
          font-family: "Uni Sans Thin Caps", sans-serif;
          font-size: get-vw(16px);
          font-weight: bold;
          line-height: get-vw(25px);
          text-transform: uppercase;
          padding: get-vw(20px) 0;
          &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 75%;
            width: 0;
            height: 1px;
            background-color: $violet;
            transition: width $default;
          }
          &:hover {
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .menu-toggle {
    position: absolute;
    width: get-vw(800px);
    height: 100vh;
    top: 0;
    right: get-vw(-1000px);
    background-color: $white;
    box-shadow: 0 0 get-vw(50px) rgba(0, 0, 0, .15);
    transition: $default;
    &.active {
      right: 0;
    }
    &::after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      right: get-vw(-800px);
      width: inherit;
      height: inherit;
      background-color: inherit;
    }
    ul {
      position: relative;
      margin-top: get-vw(100px);
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      &:not(.submenu) > li:hover {
        a {
          text-decoration: none;
          &::after {
            opacity: 1;
          }
          & + .submenu {
            display: block;
          }
        }
      }
      a {
        position: relative;
        font-family: 'Uni Sans Thin Caps', sans-serif;
        font-size: get-vw(25px);
        font-weight: bold;
        line-height: get-vw(25px);
        color: $violet;
        padding: get-vw(25px) 0;
        display: inline-block;
      }
      button {
        margin-top: get-vw(25px);
      }
      &:not(.submenu) > li {
        width: 100%;
        text-align: right;
      }
      &:not(.submenu) > li > a {
        &::after {
          content: '';
          position: absolute;
          right: calc(100% + 1.14583333333vw);
          top: 50%;
          transform: translateY(-50%);
          width: get-vw(270px);
          height: 2px;
          background-color: $violet;
          z-index: 2;
          opacity: 0;
        }
      }
    }
    .submenu {
      display: none;
      position: absolute;
      width: get-vw(480px);
      height: 100vh;
      left: 0;
      top: 0;
      margin: 0;
      padding: get-vw(10px) get-vw(100px);
      background-color: #F9F5E0;
      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: calc(100% - 2.60416666667vw);
        height: inherit;
        background-color: inherit;
        z-index: 100;
      }
      a {
        font-size: get-vw(16px);
        padding: get-vw(16px) 0;
        z-index: 1000;
      }
    }
  }
}

@media (min-width: $desktop) and (max-width: $fullhd) {
  header {
    .navbar {
      &-nav {
        .nav-item {
          //padding: 0 get-vw(20px);
        }
      }
    }
  }
}

@media (max-width: $large-desktop) {
  header {
    .navbar {
      &-nav,
      .btn {
        //display: none;
      }
    }
  }
}

@media (max-width: $desktop) {
  header {
    .menu-toggle {
      width: 100%;
      &.active::before {
        opacity: 1;
        z-index: 1;
        height: inherit;
      }
      &::before {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: -100%;
        width: inherit;
        height: 0;
        background-color: inherit;
        opacity: 0;
        z-index: -1;
      }
      &::after {
        right: -100%;
      }
    }
  }
}

@media (max-width: $tablet) {
  header {
    .menu-toggle {
      ul {
        a::after {
          display: none;
        }
        button {
          display: block !important;
        }
      }
      .submenu {
        display: none !important;
      }
    }
  }
}
@media (max-width: $mobile) {
  header {
    .menu-toggle {
      ul {
        li {
          padding: 0 get-vw(25px);
          .btn {
            margin-left: auto;
          }
        }
      }
    }
  }
}

