header {
  background-color: transparentize($white, .2);
  position: fixed;
  width: 100%;
  z-index: 10000;
  top: 0;
  & + section {
    margin-top: 10rem;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2.5rem 0;
    &-brand {
      line-height: 0;
      @include outline();
      img {
        width: 27rem;
      }
    }
    &-toggler {
      cursor: pointer;
      position: relative;
      width: 3.5rem;
      height: 2.5rem;
      padding: 0;
      z-index: 100;
      &.active {
        .navbar-toggler-icon {
          background-color: transparent;
          &::before {
            transform: rotate(315deg);
            top: 0;
          }
          &::after {
            transform: rotate(-315deg);
            top: 0;
            bottom: auto;
          }
        }
      }
    }
    &-toggler-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 3.5rem;
      height: 1px;
      background-color: $violet;
      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        display: block;
        width: inherit;
        height: inherit;
        background-color: $violet;
        transition: .5s ease-in;
      }
      &::before {
        top: -1rem;
      }
      &::after {
        bottom: -1rem;
      }
    }
    &-nav {
      .nav-item {
        padding: 0 5rem;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
        .nav-link {
          position: relative;
          color: $violet;
          font-family: "Uni Sans Thin Caps", sans-serif;
          font-size: 1.6rem;
          font-weight: bold;
          line-height: 2.5rem;
          text-transform: uppercase;
          padding: 2rem 0;
          &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 75%;
            width: 0;
            height: 1px;
            background-color: $violet;
            transition: width $default;
          }
          &:hover {
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .menu-toggle {
    position: absolute;
    width: 800px;
    height: 100vh;
    top: 0;
    right: -100vw;
    background-color: $white;
    box-shadow: 0 0 50px rgba(0, 0, 0, .15);
    transition: $default;
    &.active {
      right: 0;
    }
    &::after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      right: -800px;
      width: inherit;
      height: inherit;
      background-color: inherit;
    }
    ul {
      position: relative;
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      a {
        position: relative;
        font-family: 'Uni Sans Thin Caps', sans-serif;
        font-size: 25px;
        font-weight: bold;
        line-height: 25px;
        color: $violet;
        padding: 25px 0;
        display: inline-block;
        &:hover {
          text-decoration: none;
        }
      }
      &:not(.submenu) > li {
        width: 100%;
        text-align: right;
      }
      &:not(.submenu) > li > a {
        &:hover {
          text-decoration: none;
          &::after {
            opacity: 1;
          }
        }
        &::after {
          content: '';
          position: absolute;
          right: calc(100% + 22px);
          top: 50%;
          transform: translateY(-50%);
          width: 250px;
          height: 2px;
          background-color: $violet;
          z-index: 2;
          opacity: 0;
        }
      }
    }
    .submenu {
      position: absolute;
      width: 480px;
      height: 100vh;
      left: 0;
      top: 0;
      margin: 0;
      padding: 10px 100px;
      background-color: transparentize(#f2ebc0, .5);
      a {
        font-size: 16px;
        padding: 16px 0;
      }
    }
  }
}

@media (min-width: $desktop) and (max-width: $fullhd) {
  header {
    .navbar {
      &-nav {
        .nav-item {
          padding: 0 2rem;
        }
      }
    }
  }
}

@media (max-width: $large-desktop) {
  header {
    .navbar {
      &-nav,
      .btn {
        display: none;
      }
    }
  }
}
