header {
  background-color: transparentize($white, .2);
  position: fixed;
  width: 100%;
  z-index: 10000;
  top: 0;
  & + section {
    margin-top: 10rem;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2.5rem 0;
    &-brand {
      line-height: 0;
      @include outline();
      img {
        width: 27rem;
      }
    }
    &-toggler {
      position: relative;
      width: 3.5rem;
      height: 2.5rem;
      padding: 0;
    }
    &-toggler-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 3.5rem;
      height: 1px;
      background-color: $violet;
      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        display: block;
        width: inherit;
        height: inherit;
        background-color: inherit;
      }
      &::before {
        top: -1rem;
      }
      &::after {
        bottom: -1rem;
      }
    }
    &-nav {
      .nav-item {
        padding: 0 5rem;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
        .nav-link {
          position: relative;
          color: $violet;
          font-family: "Uni Sans Thin Caps", sans-serif;
          font-size: 1.6rem;
          font-weight: bold;
          line-height: 2.5rem;
          text-transform: uppercase;
          padding: 2rem 0;
          &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 75%;
            width: 0;
            height: 1px;
            background-color: $violet;
            transition: width $default;
          }
          &:hover {
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media (min-width: $desktop) and (max-width: $fullhd) {
  header {
    .navbar {
      &-nav {
        .nav-item {
          padding: 0 2rem;
        }
      }
    }
  }
}

@media (max-width: $large-desktop) {
  header {
    .navbar {
      &-nav,
      .btn {
        display: none;
      }
    }
  }
}
