header {
  background-color: transparentize($white, .2);
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  & + section {
    margin-top: get-vw(100px);
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: get-vw(25px) 0;
    &-brand {
      line-height: 0;
      img {
        width: get-vw(270px);
      }
    }
    &-toggler {
      cursor: pointer;
      position: relative;
      width: get-vw(35px);
      height: get-vw(25px);
      padding: 0;
      z-index: 100;
      &.active {
        .navbar-toggler-icon {
          background-color: transparent;
          &::before {
            transform: rotate(315deg);
            top: 0;
          }
          &::after {
            transform: rotate(-315deg);
            top: 0;
            bottom: auto;
          }
        }
      }
    }
    &-toggler-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: get-vw(35px);
      height: get-vw(1px);
      min-height: 1px;
      background-color: $violet;
      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        display: block;
        width: inherit;
        min-height: 1px;
        height: inherit;
        background-color: $violet;
        transition: .5s ease-in;
      }
      &::before {
        top: get-vw(-10px);
      }
      &::after {
        bottom: get-vw(-10px);
      }
    }
    &-nav {
      .nav-item {
        //padding: 0 get-vw(50px);
        padding: 0 get-vw(20px);
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
        .nav-link {
          position: relative;
          color: $violet;
          font-family: "Uni Sans Thin Caps", sans-serif;
          font-size: get-vw(16px);
          font-weight: bold;
          line-height: get-vw(25px);
          text-transform: uppercase;
          padding: get-vw(20px) 0;
          &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 75%;
            width: 0;
            height: 1px;
            background-color: $violet;
            transition: width $default;
          }
          &:hover {
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .menu-toggle {
    position: absolute;
    width: calc(41.66667vw - 24vw);
    height: 100vh;
    top: 0;
    right: get-vw(-1000px);
    background-color: $white;
    box-shadow: get-vw(-25px) 0 get-vw(50px) rgba(0, 0, 0, .15);
    transition: $default;
    & > ul {
      height: 90%;
      overflow: hidden auto;
      padding-right: get-vw(30px);
    }
    &.active {
      right: get-vw(-30px);
    }
    &::after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      right: -100%;
      //right: calc(-41.66667vw + 24vw);
      width: inherit;
      height: inherit;
      background-color: inherit;
    }
    ul {
      position: relative;
      margin-top: get-vw(100px);
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      &:not(.submenu) > li.has-submenu:not(:hover) {
        .submenu {
          display: none !important;
        }
      }
      &:not(.submenu) > li.has-submenu:hover {
        a {
          text-decoration: none;
          span {
            opacity: 1;
          }
        }
      }
      li:last-child {
        padding-bottom: 2vw;
      }
      .has-submenu {
        cursor: pointer;
        &:nth-child(1) {
          a > span {
            width: get-vw(210px);
          }
        }
        &:nth-child(2) {
          a > span {
            width: get-vw(118px);
          }
        }
      }
      a {
        position: relative;
        font-family: 'Uni Sans Thin Caps', sans-serif;
        font-size: get-vw(25px);
        font-weight: bold;
        line-height: get-vw(25px);
        color: $violet;
        padding: get-vw(25px) 0;
        display: inline-block;
      }
      button {
        margin-top: get-vw(25px);
      }
      &:not(.submenu) > li {
        width: 100%;
        text-align: right;
      }
      &:not(.submenu) > li > a {
        span {
          position: absolute;
          display: block;
          right: calc(100% + 1.14583333333vw);
          top: 50%;
          transform: translateY(-50%);
          height: 2px;
          background-color: $violet;
          z-index: 2;
          opacity: 0;
          transition: opacity $default;
        }
      }
    }
    .submenu {
      display: none;
      position: absolute;
      width: get-vw(480px);
      height: 100vh;
      left: 0;
      top: 0;
      margin: 0;
      padding: get-vw(10px) get-vw(100px);
      background-color: #F9F5E0;
      overflow-y: auto;
      &::before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 0;
        background-color: $white;
        height: 100%;
        width: 100%;
      }
      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: calc(100% - 2.60416666667vw);
        height: inherit;
        background-color: inherit;
        z-index: 100;
      }
      a {
        font-size: get-vw(16px);
        padding: get-vw(16px) 0;
        z-index: 1000;
        &:hover {
          text-decoration: underline !important;
        }
      }
    }
  }
}

@media (max-width: $tablet) {
  header {
    .navbar-nav {
      display: none;
    }
  }
}

@media (min-width: $min-tablet)
   and (max-width: $tablet) {
  header {
    .navbar {
      justify-content: flex-start;
      padding: get-vw-t(25px) 0;
      &-brand {
        img {
          width: get-vw-t(270px);
        }
      }
      &-toggler {
        width: get-vw-t(35px);
        height: get-vw-t(25px);
      }
      &-toggler-icon {
        width: get-vw-t(35px);
        height: get-vw-t(1px);
        &::before {
          top: get-vw-t(-10px);
        }
        &::after {
          bottom: get-vw-t(-10px);
        }
      }
      &-nav {
        .nav-item {
          padding: 0 get-vw-t(20px);
          .nav-link {
            font-size: get-vw-t(16px);
            line-height: get-vw-t(25px);
            padding: get-vw-t(20px) 0;
          }
        }
      }
    }
    .navbar-nav + .btn-outline {
      margin: 0 get-vw-t(50px) 0 auto;
    }
    .menu-toggle {
      right: get-vw-t(-1000px);
      box-shadow: get-vw-t(-25px) 0 get-vw-t(50px) rgba(0, 0, 0, .15);
      & > ul {
        padding-right: get-vw-t(30px);
      }
      &.active {
        right: get-vw-t(-30px);
      }
      ul {
        margin-top: get-vw-t(100px);
        .has-submenu {
          &:nth-child(1) {
            a > span {
              width: get-vw-t(210px);
            }
          }
          &:nth-child(2) {
            a > span {
              width: get-vw-t(118px);
            }
          }
        }
        a {
          font-size: get-vw-t(25px);
          line-height: get-vw-t(25px);
          padding: get-vw-t(25px) 0;
        }
        button {
          margin-top: get-vw-t(25px);
        }
      }
      .submenu {
        width: get-vw-t(480px);
        padding: get-vw-t(10px) get-vw-t(100px);
        a {
          font-size: get-vw-t(16px);
          padding: get-vw-t(16px) 0;
        }
      }
    }
  }
}

@media (max-width: $mobile) {

}
