#blog.career {
  padding-top: 0;
  padding-bottom: 6.8rem;
  margin-top: 10rem;
  .career-jumbotron {
    padding-top: 12rem;
    height: 40rem;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    h2 {
      margin: 0 0 2.4rem;
    }
    p {
      display: inline-block;
      color: $white;
      margin: 0;
      max-width: 60rem;
    }
  }
  .career-wrap {
    padding: 6.6rem 0 0;
    .career-search {
      h3, .tag {
        margin-bottom: 2.4rem;
      }
      .tag {
        &.active {
          span {
            color: $white;
          }
        }
        span {
          display: inline-block;
          margin-left: .8rem;
          color: $blue;
        }
      }
      .search-vacancies {
        display: flex;
        margin-bottom: 6.6rem;
        input,
        .btn-default {
          border: 1px solid $pale-grey;
          border-right: none;
        }
        input, button {
          height: 7rem;
        }
        input {
          padding-left: 1.6rem;
          padding-top: 2.2rem;
        }
        .btn-default {
          padding-left: 3.2rem;
          padding-right: 3.2rem;
          min-width: 19rem;
        }
        .multiselect-container.dropdown-menu {
          width: 100% !important;
        }
      }
    }
    .career-vacancies {
      padding-top: 2.8rem;
    }
    .col-xs-12 {
      &:hover,
      &:focus {

          text-decoration: none;

      }
    }
    .vacancy {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 20rem;
      margin-bottom: 5.2rem;
      padding: 2.4rem;
      background-color: $ghost-white;
      transition: $default;
      &:hover,
      &:focus {
        background-color: $pale-grey;
      }
      h3, p {
        margin: 0;
      }
      p {
        font-family: Karla-Regular, sans-serif;
        font-size: 1.6rem;
      }
    }
  }
}

@media (max-width: $hd) {
  #blog.career {
    .career-wrap {
      .vacancy {
        height: 16.4rem;
      }
    }
  }
}

@media (max-width: $mobile) {
  #blog.career {
    padding-bottom: 4.4rem;
    .career-jumbotron {
      padding-top: 9.6rem;
      background-position: 70% center;
    }
    .career-wrap {
      .career-search {
        .search-vacancies {
          flex-direction: column;
          input,
          .btn-default {
            border-right: 1px solid $pale-grey;
          }
          .btn-default {
            border-top: none;
            border-bottom: none;
            padding-left: 1.6rem;
          }
          .multiselect-native-select,
          .btn-group,
          button {
            width: 100%;
          }
          .accordion + .btn-group > .dropdown-toggle .caret {
            right: 2.2rem;
          }
        }
      }
      .vacancy {
        height: 20rem;
      }
    }
  }
}