button,
.btn-span {
  cursor: pointer !important;
  position: relative;
  display: inline-block;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: get-vw(20px);
  font-weight: 500;
  line-height: 1;
  border: none;
  text-align: center;
  background-color: transparent;
  border-radius: get-vw(50px);
  text-transform: uppercase;
  padding: get-vw(13px) get-vw(57px);
  transition: background $default;
  &::after {
    content: '';
    position: absolute;
    display: block;
    transform: translateY(-50%);
    top: 50%;
    width: 1px;
    height: get-vw(10px);
    border-radius: get-vw(50px);
  }
  &.btn-primary {
    color: $white;
    border: get-vw(2px) solid $violet;
    background: linear-gradient(to right, $violet 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    &::after {
      right: 0;
      background: $violet;
    }
    &:hover {
      color: $violet;
      background-position: right bottom;
      &::after {
        display: none;
      }
    }
  }
  &.btn-outline {
    color: $violet;
    border: get-vw(2px) solid $violet;
    background: linear-gradient(to right, transparent 50%, $violet 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    &::after {
      left: 0;
      background: $violet;
      display: none;
    }
    &:hover {
      color: $white;
      background-position: right bottom;
      &::after {
        display: block;
      }
    }
  }
}

@media (min-width: $min-tablet)
and (max-width: $tablet) {
  button,
  .btn-span {
    font-size: get-vw-t(20px);
    border-radius: get-vw-t(50px);
    padding: get-vw-t(13px) get-vw-t(57px);
    &::after {
      height: get-vw-t(10px);
      border-radius: get-vw-t(50px);
    }
    &.btn-primary {
      border: get-vw-t(2px) solid $violet;
    }
    &.btn-outline {
      border: get-vw-t(2px) solid $violet;
    }
  }
}

@media (max-width: $mobile) {
  button,
  .btn-span {
    font-size: get-vw-m(20px);
    border-radius: get-vw-m(50px);
    padding: get-vw-m(15px) get-vw-m(20px);
    &::after {
      height: get-vw-m(10px);
      border-radius: get-vw-m(50px);
    }
    &.btn-primary {
      border: get-vw-m(2px) solid $violet;
    }
    &.btn-outline {
      border: get-vw-m(2px) solid $violet;
    }
  }
}

