* {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

html {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
  color: $black;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-filter: blur(0.000001px);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.smarthoop-wrap {
  overflow: hidden;
}

.hidden {
  display: none !important;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
  }
}

.content-editable {
  ul {
    li {
      padding-left: get-vw(40px);
      position: relative;
      display: block;
      &::before {
        content: '';
        width: get-vw(25px);
        height: get-vw(2px);
        display: block;
        background-color: $black;
        position: absolute;
        top: get-vw(16px);
        left: 0;
      }
    }
  }
}

.content-editable,
p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: get-vw(25px);
  font-weight: 300;
  line-height: get-vw(35px);
  margin-top: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: $default;
  &.back {
    display: block;
    position: relative;
    text-transform: uppercase;
    color: $black;
    font-size: get-vw(30px);
    text-align: right;
    span {
      position: relative;
    }
    .icon-arrow {
      position: absolute;
      top: get-vw(-55px);
      left: get-vw(-100px);
      transform: rotate(90deg);
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1 {
  font-family: 'Uni Sans Heavy Caps Italic', sans-serif;
  font-size: get-vw(60px);
  font-weight: 400;
  line-height: get-vw(72px);
  color: $white;
  span {
    background-color: $violet;
  }
}

h2 {
  font-family: 'Uni Sans Heavy Caps', sans-serif;
  font-size: get-vw(40px);
  font-weight: 400;
  line-height: get-vw(50px);
  margin-bottom: get-vw(30px);
}

@media (min-width: $min-tablet) and (max-width: $tablet) {
  h1 {
    font-size: get-vw-t(42px);
    line-height: get-vw-t(50px);
  }
  h2 {
    font-size: get-vw-t(36px);
    line-height: get-vw-t(44px);
    margin-bottom: get-vw-t(25px);
  }
}

@media (max-width: $mobile) {
  h1 {
    font-size: get-vw-m(28px);
    line-height: get-vw-m(46px);
  }
  h2 {
    font-size: get-vw-m(30px);
    line-height: get-vw-m(42px);
    margin-bottom: get-vw-m(25px);
  }
}

input,
textarea {
  background-color: $lavander;
  border-radius: get-vw(25px);
  border: none;
  color: $black;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: get-vw(11.5px) get-vw(18px) get-vw(11.5px) get-vw(50px);
  transition: $default;
  &::placeholder {
    color: $white;
    opacity: 1;
  }
  &:focus {
    outline: none;
  }
}

input {
  font-size: get-vw(20px);
  font-weight: 400;
  height: get-vw(50px);
  &::placeholder {
    text-transform: uppercase;
  }
}

input::-webkit-inner-spin-button {
  display: none !important;
}

input[type=number] {
  -moz-appearance: textfield;
}

textarea {
  font-size: get-vw(18px);
  font-weight: 300;
  line-height: get-vw(25px);
  resize: none;
  padding-right: get-vw(50px);
  &::placeholder {
    text-transform: initial;
  }
}

.underline {
  position: relative;
  text-transform: uppercase;
  font-family: "Uni Sans Thin Caps", sans-serif;
  font-weight: bold;
  font-size: get-vw(30px);
  color: $black;
  padding: 0 get-vw(24px);
  &::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 2px;
    bottom: get-vw(-14px);
    left: 50%;
    transform: translateX(-50%);
    background-color: $black;
    transition: $default;
  }
  &:hover,
  &:focus,
  &:active {
    &::after {
      width: 100%;
    }
  }
}

.eye-hover {
  cursor: pointer;
  position: relative;
  a {
    z-index: 10;
  }
  span,
  .underline {
    position: relative;
    text-transform: uppercase;
    font-family: "Uni Sans Thin Caps", sans-serif;
    font-weight: bold;
    font-size: get-vw(30px);
    color: $black;
    padding: 0 get-vw(24px);
    &::after {
      width: 70%;
      opacity: 1;
    }
  }
  .icon-eye {
    position: absolute;
    background: url('../img/eye-hover.png') no-repeat;
    background-size: contain;
    width: get-vw(175px);
    height: get-vw(87px);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: .3s ease-in;
  }
  &:hover,
  &:focus,
  &:active {
    span::after,
    .underline::after {
      opacity: 0;
      transition: .3s ease-in;
    }
    .icon-eye {
      opacity: 1;
    }
  }
}

.icon-arrow {
  display: block;
  background-image: url('../img/arrow.png');
  background-size: cover;
  width: get-vw(10px);
  height: get-vw(153px);
}

.decorative {
  position: absolute;
  z-index: -1;
  &.lavander {
    background-color: $lavander;
  }
  &.yellow {
    background-color: $yellow;
  }
  &.light-yellow {
    background-color: transparentize($yellow, .5);
  }
}

.bordered {
  border: get-vw(15px) solid $yellow;
  padding: get-vw(80px);
  p {
    margin: 0 0 get-vw(38px);
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.smarthoop-works {
  .services.extra-services {
    padding-top: get-vw(50px);
    .decorative {
      &.yellow {
        top: auto;
        bottom: get-vw(100px);
        left: get-vw(350px);
      }
      &.lavander {
        left: get-vw(725px);
        right: auto;
        bottom: auto;
        top: get-vw(125px);
      }
    }
  }
}

.error404 {
  & > .make-order .background {
    display: none;
  }
}

.page-template-works {
  & > .make-order {
    display: none;
  }
}

.not-found {
  margin: 16rem 0 4rem;
  .text-center {
    text-align: center;
  }
  h1 {
    font-size: 12rem;
    line-height: 12rem;
  }
  p {
    font-size: 4rem;
    line-height: 6rem;
  }
  h1, p {
    color: $violet;
    margin: 0;
  }
}

.container {
  max-width: 86%;
}

@media (min-width: $min-tablet) and (max-width: $tablet) {
  .container {
    max-width: 96.6%;
  }

  input,
  textarea {
    border-radius: get-vw-t(25px);
    padding: get-vw-t(11.5px) get-vw-t(18px) get-vw-t(11.5px) get-vw-t(30px);
  }

  input {
    font-size: get-vw-t(20px);
    height: get-vw-t(50px);
  }

  textarea {
    font-size: get-vw-t(18px);
    line-height: get-vw-t(25px);
    padding-right: get-vw-t(50px);
  }

 .eye-hover {
   span,
   .underline {
     font-size: get-vw-t(19px);
     padding: 0;
     &::after {
       width: 88%;
     }
   }
   .icon-eye {
     //width: get-vw-t(175px);
     //height: get-vw-t(87px);
   }
 }

  .icon-arrow {
    width: get-vw-t(10px);
    height: get-vw-t(99px);
  }

  .content-editable,
  p {
    font-size: get-vw-t(22px);
    line-height: get-vw-t(28px);
  }

  .bordered {
    border: get-vw-t(12px) solid $yellow;
    padding: get-vw-t(40px) get-vw-t(23px) get-vw-t(24px) get-vw-t(43px);
    p {
      margin: 0 0 get-vw-t(30px);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: $mobile) {
  .container {
    max-width: 100%;
  }

  input,
  textarea {
    border-radius: get-vw-t(25px);
    padding: get-vw-t(11.5px) get-vw-t(18px) get-vw-t(11.5px) get-vw-t(30px);
  }

  input {
    font-size: get-vw-t(20px);
    height: get-vw-t(50px);
  }

  textarea {
    font-size: get-vw-t(18px);
    line-height: get-vw-t(25px);
    padding-right: get-vw-t(50px);
  }

  .eye-hover {
    span,
    .underline {
      font-size: get-vw-t(19px);
      padding: 0;
      &::after {
        width: 88%;
      }
    }
    .icon-eye {
      //width: get-vw-t(175px);
      //height: get-vw-t(87px);
    }
  }

  .icon-arrow {
    width: get-vw-t(10px);
    height: get-vw-t(99px);
  }

  .content-editable,
  p {
    font-size: get-vw-t(22px);
    line-height: get-vw-t(28px);
  }

  .bordered {
    border: get-vw-t(12px) solid $yellow;
    padding: get-vw-t(40px) get-vw-t(23px) get-vw-t(24px) get-vw-t(43px);
    p {
      margin: 0 0 get-vw-t(30px);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

//select2 overrides
.select2-container {
  width: 100% !important;
}
.select2-dropdown {
  border: none;
  &.select2-dropdown--above .select2-results__options {
    border-radius: 1.30208vw 1.30208vw 0 0;
    background-color: $lavander;
  }
}
.select2-container--default .select2-selection--single {
  height: get-vw(50px);
  background-color: $lavander;
  border-radius: 1.30208vw;
  border: none;
  padding: 0 .9375vw 0 2.60417vw;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: get-vw(50px);
  padding: 0;
  font-size: 1.04167vw;
  font-weight: 400;
  color: $white;
  text-transform: uppercase;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: get-vw(50px);
  right: get-vw(20px);
  top: get-vw(-2px);
  b {
    border-color: $white transparent transparent transparent;
    border-width: get-vw(8px) get-vw(6px) 0 get-vw(6px);
  }
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow  {
  b {
    border-color: transparent transparent $white transparent;
    border-width: 0 get-vw(6px) get-vw(8px) get-vw(6px);
  }
}

.select2-dropdown.select2-dropdown--below {
  border: none;
  background: $lavander;
  border-radius: 0 0 1.30208vw 1.30208vw;
}

.select2-search.select2-search--dropdown {
  display: none !important;
}

.select2-results__option[aria-selected] {
  display: block;
  font-size: 1.04167vw;
  font-weight: 400;
  color: $white;
  padding: 0 .9375vw;
  height: get-vw(50px);
  line-height: get-vw(50px);
  text-transform: uppercase;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $violet;
}

.select2-dropdown {
  z-index: 1000000 !important;
}

.select2-container--default {
  .select2-selection__rendered {
    color: $white !important;
  }
}

.select2-container--default.select2-container--below:not(.select2-container--open),
.select2-container--default.select2-container--above:not(.select2-container--open) {
  .select2-selection__rendered {
    color: $black !important;
  }
}

@media (min-width: $min-tablet)
and (max-width: $tablet) {
  .select2-dropdown {
    &.select2-dropdown--above .select2-results__options {
      border-radius: get-vw-t(25px) get-vw-t(25px) 0 0;
    }
  }
  .select2-container--default .select2-selection--single {
    height: get-vw-t(50px);
    border-radius: get-vw-t(25px);
    padding: 0 .9375vw 0 2.60417vw;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: get-vw-t(50px);
    padding: 0;
    font-size: get-vw-t(18px);
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: get-vw-t(50px);
    right: get-vw-t(20px);
    top: get-vw-t(-2px);
    b {
      border-width: get-vw-t(8px) get-vw-t(6px) 0 get-vw-t(6px);
    }
  }

  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow  {
    b {
      border-width: 0 get-vw-t(6px) get-vw-t(8px) get-vw-t(6px);
    }
  }

  .select2-dropdown.select2-dropdown--below {
    border-radius: 0 0 get-vw-t(25px) get-vw-t(25px);
  }

  .select2-results__option[aria-selected] {
    font-size: get-vw-t(18px);
    padding: 0 .9375vw;
    height: get-vw-t(50px);
    line-height: get-vw-t(50px);
  }
}

@media (max-width: $mobile) {

}

//drag&drop
.make-order {
  .g-recaptcha,
  .custom-submit {
    margin: get-vw(50px) 0 0;
  }
  .box {
    position: relative;
    padding: get-vw(17px) get-vw(48px) get-vw(10px);
    height: get-vw(150px);
    &.uploaded > .box__input > span {
      display: none !important;
    }
    &__input {
      display: flex;
      flex-direction: column;
      justify-content: center;
      & > span {
        display: block;
        margin: get-vw(23px) 0 get-vw(17px);
        font-size: get-vw(20px);
        font-weight: 300;
        font-stretch: condensed;
        font-style: normal;
        line-height: 0.9;
        letter-spacing: normal;
        text-align: center;
        color: $lavander;
        text-transform: uppercase;
      }
      input[type="file"] {
        display: none;
      }
      .btn-span {
        padding: get-vw(11px) 0 get-vw(12px);
        font-size: get-vw(18px);
        width: get-vw(160px);
        white-space: nowrap;
        margin: 0 auto;
      }
      .uploaded + .btn-span {
        position: absolute;
        left: 50%;
        bottom: get-vw(10px);
        transform: translateX(-50%);
      }
      .files-names {
        background-color: $white;
        position: relative;
        z-index: 1;
        padding-bottom: get-vw(10px);
      }
      .file-item {
        margin-bottom: get-vw(10px);
        display: flex;
        justify-content: space-between;
        span {
          font-size: get-vw(16px);
          font-weight: 600;
          font-stretch: condensed;
          font-style: normal;
          line-height: 1.13;
          letter-spacing: normal;
          text-align: center;
          color: $black;
        }
        .btn-close {
          width: get-vw(14px);
          height: get-vw(14px);
          padding: 0;
          margin: 0;
        }
      }
    }
    &.has-advanced-upload {
      border-radius: 25px;
      border: 2px dashed $lavander;
    }
    &.is-dragover {
      border-color: $violet;
    }
    &__dragndrop,
    &__icon
    {
      display: none;
    }
    &.has-advanced-upload &__dragndrop
    {
      display: inline;
    }
    &.is-uploading &__input,
    &.is-success &__input,
    &.is-error &__input {
      visibility: hidden;
    }
    &__uploading,
    &__success,
    &__error {
      display: none;
    }
    &.is-uploading &__uploading,
    &.is-success &__success,
    &.is-error &__error {
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      -webkit-transform: translateY( -50% );
      transform: translateY( -50% );
    }
    &__uploading {
      font-style: italic;
    }
  }
}

.box__restart
{
  font-weight: 700;
}
.box__restart:focus,
.box__restart:hover
{
  color: #39bfd3;
}

.js .box__file
{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.js .box__file + label
{
  max-width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
}
.js .box__file + label:hover strong,
.box__file:focus + label strong,
.box__file.has-focus + label strong
{
  color: #39bfd3;
}
.js .box__file:focus + label,
.js .box__file.has-focus + label
{
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.no-js .box__button
{
  display: block;
}

@media (min-width: $min-tablet)
and (max-width: $tablet) {
  .make-order {
    .g-recaptcha,
    .custom-submit {
      margin: get-vw-t(40px) 0 0;
    }
    .box {
      padding: get-vw-t(17px) get-vw-t(48px) get-vw-t(10px);
      height: get-vw-t(140px);
      &__input {
        & > span {
          margin: get-vw-t(15px) 0 get-vw-t(8px);
          font-size: get-vw-t(18px);
          line-height: get-vw-t(18px);
        }
        .btn-span {
          padding: get-vw-t(11px) 0 get-vw-t(12px);
          font-size: get-vw-t(18px);
          width: get-vw-t(160px);
        }
        .uploaded + .btn-span {
          bottom: get-vw-t(10px);
        }
        .files-names {
          padding-bottom: get-vw-t(10px);
        }
        .file-item {
          margin-bottom: get-vw-t(10px);
          span {
            font-size: get-vw-t(16px);
          }
          .btn-close {
            width: get-vw-t(14px);
            height: get-vw-t(14px);
          }
        }
      }
      &.has-advanced-upload {
        border-radius: get-vw-t(25px);
        border: 2px dashed $lavander;
      }
    }
  }
}

@media (max-width: $mobile) {

}

@media (min-width: $min-tablet)
and (max-width: $tablet) {

}

@media (max-width: $mobile) {

}

