* {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

html {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
  color: $black;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.smarthoop-wrap {
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
  }
}

.content-editable {
  ul {
    li {
      padding-left: get-vw(40px);
      position: relative;
      display: block;
      &::before {
        content: '';
        width: get-vw(25px);
        height: get-vw(2px);
        display: block;
        background-color: $black;
        position: absolute;
        top: get-vw(16px);
        left: 0;
      }
    }
  }
}

.content-editable,
p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: get-vw(25px);
  font-weight: 300;
  line-height: get-vw(35px);
  margin-top: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: $default;
  &.back {
    display: block;
    position: relative;
    text-transform: uppercase;
    color: $black;
    font-size: get-vw(30px);
    text-align: right;
    span {
      position: relative;
    }
    .icon-arrow {
      position: absolute;
      top: get-vw(-55px);
      left: get-vw(-100px);
      transform: rotate(90deg);
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1 {
  font-family: 'Uni Sans Heavy Caps Italic', sans-serif;
  font-size: get-vw(60px);
  font-weight: 400;
  line-height: get-vw(72px);
  color: $white;
  span {
    background-color: $violet;
  }
}

h2 {
  font-family: 'Uni Sans Heavy Caps', sans-serif;
  font-size: get-vw(40px);
  font-weight: 400;
  line-height: get-vw(50px);
  margin-bottom: get-vw(30px);
}

@media (max-width: $mobile) {
  h1 {
    // font-size: 3.2rem;
    // line-height: 3.9rem;  
  }
  h2 {
    // font-size: 2.6rem;
    // line-height: 3.6rem;
  }
}

input,
textarea {
  background-color: $lavander;
  border-radius: get-vw(25px);
  border: none;
  color: $white;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: get-vw(11.5px) get-vw(18px) get-vw(11.5px) get-vw(50px);
  transition: $default;
  &::placeholder {
    color: $white;
  }
  &:focus {
    outline: none;
  }
}

input {
  font-size: get-vw(20px);
  font-weight: 400;
  height: get-vw(50px);
  &::placeholder {
    text-transform: uppercase;
  }
}

input::-webkit-inner-spin-button {
  display: none !important;
}

input[type=number] {
  -moz-appearance: textfield;
}

//input[type="file" i]::-webkit-file-upload-button {
//  display: none !important;
//  border: .10417vw solid #3b2f5c;
//  background-color: $white;
//}
//
//.fileinput-wrap {
//  position: relative;
//  height: get-vw(50px);
//  input {
//    line-height: get-vw(50px);
//    height: 100%;
//  }
//  span {
//    position: absolute;
//    top: 0;
//    left: 0;
//    line-height: get-vw(50px);
//  }
//  label {
//    position: absolute;
//    right: 0;
//    top: 0;
//    height: 100%;
//  }
//}

textarea {
  font-size: get-vw(18px);
  font-weight: 300;
  line-height: get-vw(25px);
  resize: none;
  padding-right: get-vw(50px);
  &::placeholder {
    text-transform: initial;
  }
}

.underline {
  position: relative;
  text-transform: uppercase;
  font-family: "Uni Sans Thin Caps", sans-serif;
  font-weight: bold;
  font-size: get-vw(30px);
  color: $black;
  padding: 0 get-vw(24px);
  &::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 2px;
    bottom: get-vw(-14px);
    left: 50%;
    transform: translateX(-50%);
    background-color: $black;
    transition: $default;
  }
  &:hover,
  &:focus,
  &:active {
    &::after {
      width: 100%;
    }
  }
}

.eye-hover {
  cursor: pointer;
  position: relative;
  span,
  .underline {
    position: relative;
    text-transform: uppercase;
    font-family: "Uni Sans Thin Caps", sans-serif;
    font-weight: bold;
    font-size: get-vw(30px);
    color: $black;
    padding: 0 get-vw(24px);
    &::after {
      width: 70%;
      opacity: 1;
    }
  }
  .icon-eye {
    position: absolute;
    background: url('../img/eye-hover.png') no-repeat;
    background-size: contain;
    width: get-vw(175px);
    height: get-vw(87px);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: .3s ease-in;
  }
  &:hover,
  &:focus,
  &:active {
    span::after,
    .underline::after {
      opacity: 0;
      transition: .3s ease-in;
    }
    .icon-eye {
      opacity: 1;
    }
  }
}

.icon-arrow {
  display: block;
  background-image: url('../img/arrow.png');
  background-size: cover;
  width: get-vw(10px);
  height: get-vw(153px);
}

.decorative {
  position: absolute;
  z-index: -1;
  &.lavander {
    background-color: $lavander;
  }
  &.yellow {
    background-color: $yellow;
  }
  &.light-yellow {
    background-color: transparentize($yellow, .5);
  }
}

.bordered {
  border: get-vw(15px) solid $yellow;
  padding: get-vw(80px);
  p {
    margin: 0 0 get-vw(38px);
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.smarthoop-works {
  .services.extra-services {
    padding-top: get-vw(50px);
    .decorative {
      &.yellow {
        top: auto;
        bottom: get-vw(100px);
        left: get-vw(350px);
      }
      &.lavander {
        left: get-vw(725px);
        right: auto;
        bottom: auto;
        top: get-vw(125px);
      }
    }
  }
}

.page-template-works {
  .make-order {
    display: none;
  }
}

.not-found {
  margin: 16rem 0 4rem;
  .text-center {
    text-align: center;
  }
  h1 {
    font-size: 12rem;
    line-height: 12rem;
  }
  p {
    font-size: 4rem;
    line-height: 6rem;
  }
  h1, p {
    color: $violet;
    margin: 0;
  }
}

//@media (max-width: $hd) {
//  .bordered {
//    h2 {
//      font-size: 3rem;
//      line-height: 4rem;
//      margin-bottom: 3rem;
//    }
//  }
//  .content-editable,
//  p {
//    font-size: 1.8rem;
//    line-height: 2.8rem;
//  }
//}
//
//@media (min-width: $desktop + 1px) {
//  .bordered {
//    transform: translate(-9.3rem, 0);
//  }
//}
//
//@media (max-width: $mobile) {
//  .bordered {
//    padding: 4rem;
//  }
//}

//@media (min-width: $hd) {
  .container {
    max-width: 86%;
  }
//}

//@media (min-width: $xl) {
//  .container {
//    //max-width: get-vw(1500px);
//    //max-width: 93.75%;
//    max-width: 83.3333333333%;
//  }
//}
//
//@media (min-width: $fullhd) {
//  .container {
//    //max-width: get-vw(1600px);
//    max-width: 83.3333333333%;
//  }
//}

// @media (max-width: $tablet) {
//   html {
//     font-size: 8.2px;
//   }
// }

// @media (max-width: $mobile) {
//   html {
//     font-size: 6px;
//   }
// }

//select2 overrides
.select2-container {
  width: 100% !important;
}
.select2-dropdown {
  border: none;
  &.select2-dropdown--above .select2-results__options {
    border-radius: 1.30208vw 1.30208vw 0 0;
    background-color: $lavander;
  }
}
.select2-container--default .select2-selection--single {
  height: get-vw(50px);
  background-color: $lavander;
  border-radius: 1.30208vw;
  border: none;
  padding: 0 .9375vw 0 2.60417vw;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: get-vw(50px);
  padding: 0;
  font-size: 1.04167vw;
  font-weight: 400;
  color: $white;
  text-transform: uppercase;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: get-vw(50px);
  right: get-vw(20px);
  top: get-vw(-2px);
  b {
    border-color: $white transparent transparent transparent;
    border-width: get-vw(8px) get-vw(6px) 0 get-vw(6px);
  }
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow  {
  b {
    border-color: transparent transparent $white transparent;
    border-width: 0 get-vw(6px) get-vw(8px) get-vw(6px);
  }
}

.select2-dropdown.select2-dropdown--below {
  border: none;
  background: $lavander;
  border-radius: 0 0 1.30208vw 1.30208vw;
}

.select2-search.select2-search--dropdown {
  display: none !important;
}

.select2-results__option[aria-selected] {
  display: block;
  font-size: 1.04167vw;
  font-weight: 400;
  color: $white;
  padding: 0 .9375vw;
  height: get-vw(50px);
  line-height: get-vw(50px);
  text-transform: uppercase;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $violet;
}

.select2-dropdown {
  z-index: 1000000 !important;
}

//fileinput
.form-element {
  cursor: pointer;
  position: relative;
  margin: 0;
  height: get-vw(50px);
  &-label {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    line-height: get-vw(50px);
    height: get-vw(50px);
    padding: 0 2vw;
    z-index: 1;
    color: #3b2f5c;
    border: .10417vw solid #3b2f5c;
    background-color: $white;
    font-size: 1.04167vw;
    font-weight: 500;
    border-radius: 2.60417vw;
    text-transform: uppercase;
  }
}

.form-element input[type="file"] + .form-element-inputfile {
  height: get-vw(50px);
  border-radius: 2.60417vw;
  border: none;
  background-color: $lavander;
  color: $white;
  font-size: 1.04167vw;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed',sans-serif;
  span {
    line-height: get-vw(50px);
  }
}

