@mixin outline() {
  outline-color: $lavander;
  &:focus {
    outline: 1px dashed $lavander;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
  color: $black;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  margin: 0;
  padding: 0;
}

.smarthoop-wrap {
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
  }
}

.content-editable {
  ul {
    li {
      padding-left: 40px;
      position: relative;
      display: block;
      &::before {
        content: '';
        width: 25px;
        height: 2px;
        display: block;
        background-color: $black;
        position: absolute;
        top: 16px;
        left: 0;
      }
    }
  }
}

.content-editable,
p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 3.5rem;
  margin-top: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: $default;
  @include outline();
  &.back {
    display: block;
    position: relative;
    text-transform: uppercase;
    color: $black;
    font-size: 3rem;
    text-align: right;
    span {
      position: relative;
    }
    .icon-arrow {
      position: absolute;
      top: -5.5rem;
      left: -10rem;
      transform: rotate(90deg);
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1 {
  font-family: 'Uni Sans Heavy Caps Italic', sans-serif;
  font-size: 6rem;
  font-weight: 400;
  line-height: 7.2rem;
  color: $white;
  span {
    background-color: $violet;
  }
}

h2 {
  font-family: 'Uni Sans Heavy Caps', sans-serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 5rem;
  margin-bottom: 5rem;
}

@media (max-width: $mobile) {
  h1 {
    // font-size: 3.2rem;
    // line-height: 3.9rem;  
  }
  h2 {
    // font-size: 2.6rem;
    // line-height: 3.6rem;
  }
}

input,
textarea {
  background-color: $lavander;
  border-radius: 2.5rem;
  border: none;
  color: $white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 1.15rem 1.8rem 1.15rem 5rem;
  @include outline();
  transition: $default;
  &::placeholder {
    color: $white;
  }
  &:focus {
    outline: none;
  }
}

input {
  font-size: 2rem;
  font-weight: bold;
  &::placeholder {
    text-transform: uppercase;
  }
}

textarea {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.5rem;
  resize: none;
  &::placeholder {
    text-transform: initial;
  }
}

.underline {
  position: relative;
  text-transform: uppercase;
  font-family: "Uni Sans Thin Caps", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: $black;
  &::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 2px;
    bottom: -1.4rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: $black;
    transition: $default;
  }
  &:hover,
  &:focus,
  &:active {
    &::after {
      width: 100%;
    }
  }
}

.icon-arrow {
  display: block;
  background-image: url('../img/arrow.png');
  background-size: cover;
  width: 1rem;
  height: 15.3rem;
}

.decorative {
  position: absolute;
  z-index: -1;
  &.lavander {
    background-color: $lavander;
  }
  &.yellow {
    background-color: $yellow;
  }
}

.bordered {
  border: 15px solid $yellow;
  padding: 8rem;
  p {
    margin: 0 0 3rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $hd) {
  .bordered {
    h2 {
      font-size: 3rem;
      line-height: 4rem;
      margin-bottom: 3rem;
    }
  }
  .content-editable,
  p {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}

@media (min-width: $desktop + 1px) {
  .bordered {
    transform: translate(-9.3rem, 0);
  }
}

@media (max-width: $mobile) {
  .bordered {
    padding: 4rem;
  }
}

@media (min-width: $hd) {
  .container {
    max-width: 135rem;
  }
}

@media (min-width: $xl) {
  .container {
    max-width: 150rem;
  }
}

@media (min-width: $fullhd) {
  .container {
    max-width: 160rem;
  }
}

// @media (max-width: $tablet) {
//   html {
//     font-size: 8.2px;
//   }
// }

// @media (max-width: $mobile) {
//   html {
//     font-size: 6px;
//   }
// }
