* {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

html {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
  color: $black;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.smarthoop-wrap {
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
  }
}

.content-editable {
  ul {
    li {
      padding-left: get-vw(40px);
      position: relative;
      display: block;
      &::before {
        content: '';
        width: get-vw(25px);
        height: get-vw(2px);
        display: block;
        background-color: $black;
        position: absolute;
        top: get-vw(16px);
        left: 0;
      }
    }
  }
}

.content-editable,
p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: get-vw(25px);
  font-weight: 300;
  line-height: get-vw(35px);
  margin-top: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: $default;
  &.back {
    display: block;
    position: relative;
    text-transform: uppercase;
    color: $black;
    font-size: get-vw(30px);
    text-align: right;
    span {
      position: relative;
    }
    .icon-arrow {
      position: absolute;
      top: get-vw(-55px);
      left: get-vw(-100px);
      transform: rotate(90deg);
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1 {
  font-family: 'Uni Sans Heavy Caps Italic', sans-serif;
  font-size: get-vw(60px);
  font-weight: 400;
  line-height: get-vw(72px);
  color: $white;
  span {
    background-color: $violet;
  }
}

h2 {
  font-family: 'Uni Sans Heavy Caps', sans-serif;
  font-size: get-vw(40px);
  font-weight: 400;
  line-height: get-vw(50px);
  margin-bottom: get-vw(50px);
}

@media (max-width: $mobile) {
  h1 {
    // font-size: 3.2rem;
    // line-height: 3.9rem;  
  }
  h2 {
    // font-size: 2.6rem;
    // line-height: 3.6rem;
  }
}

input,
textarea {
  background-color: $lavander;
  border-radius: get-vw(25px);
  border: none;
  color: $white;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: get-vw(11.5px) get-vw(18px) get-vw(11.5px) get-vw(50px);
  transition: $default;
  &::placeholder {
    color: $white;
  }
  &:focus {
    outline: none;
  }
}

input {
  font-size: get-vw(20px);
  font-weight: bold;
  &::placeholder {
    text-transform: uppercase;
  }
}

textarea {
  font-size: get-vw(18px);
  font-weight: 300;
  line-height: get-vw(25px);
  resize: none;
  padding-right: get-vw(50px);
  &::placeholder {
    text-transform: initial;
  }
}

.underline {
  position: relative;
  text-transform: uppercase;
  font-family: "Uni Sans Thin Caps", sans-serif;
  font-weight: bold;
  font-size: get-vw(30px);
  color: $black;
  &::after {
    content: '';
    position: absolute;
    width: 80%;
    height: get-vw(2px);
    bottom: get-vw(-14px);
    left: 50%;
    transform: translateX(-50%);
    background-color: $black;
    transition: $default;
  }
  &:hover,
  &:focus,
  &:active {
    &::after {
      width: 100%;
    }
  }
}

.icon-arrow {
  display: block;
  background-image: url('../img/arrow.png');
  background-size: cover;
  width: get-vw(10px);
  height: get-vw(153px);
}

.decorative {
  position: absolute;
  z-index: -1;
  &.lavander {
    background-color: $lavander;
  }
  &.yellow {
    background-color: $yellow;
  }
  &.light-yellow {
    background-color: transparentize($yellow, .5);
  }
}

.bordered {
  border: get-vw(15px) solid $yellow;
  padding: get-vw(80px);
  p {
    margin: 0 0 get-vw(30px);
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.not-found {
  margin: 16rem 0 4rem;
  .text-center {
    text-align: center;
  }
  h1 {
    font-size: 12rem;
    line-height: 12rem;
  }
  p {
    font-size: 4rem;
    line-height: 6rem;
  }
  h1, p {
    color: $violet;
    margin: 0;
  }
}

//@media (max-width: $hd) {
//  .bordered {
//    h2 {
//      font-size: 3rem;
//      line-height: 4rem;
//      margin-bottom: 3rem;
//    }
//  }
//  .content-editable,
//  p {
//    font-size: 1.8rem;
//    line-height: 2.8rem;
//  }
//}
//
//@media (min-width: $desktop + 1px) {
//  .bordered {
//    transform: translate(-9.3rem, 0);
//  }
//}
//
//@media (max-width: $mobile) {
//  .bordered {
//    padding: 4rem;
//  }
//}

@media (min-width: $hd) {
  .container {
    //max-width: get-vw(1350px);
    //max-width: 93.75%;
    max-width: 83.3333333333%;
  }
}

//@media (min-width: $xl) {
//  .container {
//    //max-width: get-vw(1500px);
//    //max-width: 93.75%;
//    max-width: 83.3333333333%;
//  }
//}
//
//@media (min-width: $fullhd) {
//  .container {
//    //max-width: get-vw(1600px);
//    max-width: 83.3333333333%;
//  }
//}

// @media (max-width: $tablet) {
//   html {
//     font-size: 8.2px;
//   }
// }

// @media (max-width: $mobile) {
//   html {
//     font-size: 6px;
//   }
// }
