@mixin reference-list-item() {
  .reference-description-wrap {
    display: block;
    padding: 4rem 3.2rem;
    background-color: $ghost-white;
    //height: 35rem;
    margin-bottom: 5.2rem;
    &:hover {
      background-color: $pale-grey;
      text-decoration: none;
    }
    .reference-description p,
    .reference-description-info {
      color: $night-blue;
    }
    .reference-description {
      height: 14.4rem;
      margin-bottom: 2.4rem;
      max-height: 100%;
      p {
        -webkit-line-clamp: 4;
      }
    }
    .logo-wrap {
      filter: invert(20%);
    }
  }
  @media (max-width: $desktop - 1px) {
    .reference-description-wrap {
      padding: 3.2rem 1.6rem;
      .reference-description {
        height: auto;
        p {
          -webkit-line-clamp: 6;
        }
      }
    }
  }
}