.book-meeting,
.subscribe,
.no-suitable-roles-block {
  padding: 10rem 0;
  text-align: center;
  background-color: $ghost-white;
  small {
    max-width: 616px;
    display: inline-block;
    color: $night-blue;
  }
  .btn {
    margin-top: 6.4rem;
  }
}

@media (max-width: $mobile - 1px) {
  .book-meeting {
    padding: 5.5rem 0;
    .btn {
      width: 100%;
    }
  }
}

.subscribe {
  form {
    display: flex;
    align-items: flex-end;
    .form-group {
      width: 100%;
      margin: 0 3.2rem 0 0;
    }
    .form-message {
      margin: 1.6rem 0 0;
      position: absolute;
      left: 0;
      top: 100%;
    }
  }
}

.no-suitable-roles-block {
  padding-top: 8rem;
  a {
    display: block;
  }
  .btn {
    margin-top: 5.2rem;
    font-size: 1.6rem;
  }
}

@media (max-width: $mobile) {
  .no-suitable-roles-block {
    padding: 4rem 0 7rem;
    .btn {
      width: 100%;
    }
  }
}
