.get-reference {
    background-color: $ghost-white;
    border: 1px solid $pale-grey;
    margin-top: 20.8rem;
    padding: 9.6rem 0;
    text-align: center;
    position: relative;
    z-index: 2;
    h3 {
      margin-top: 0;
    }
    p {
      font-size: 1.6rem;
      line-height: 2.8rem;
    }
    .inline-form {
      margin: 4.8rem 0 0;
      & > div:first-child {
        margin-left: .01rem;
        & > *:last-child {
          display: flex;
          align-items: center;
          transform: translateY(-1rem);
        }
      }
      .form-group {
        input {
          border-bottom-color: $grey-blue;
        }
      }
      .submit-wrap {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 6.4rem;
        .btn {

        }
        .form-message {
          text-align: left;
          //transform: translateY(0);
          margin: 1.6rem 0;
        }
      }
    }
  }

@media (min-width: $desktop + 1px) {
  .get-reference {
    .inline-form {
      max-width: 90rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (max-width: $desktop) {
  .get-reference {
    margin-top: 12rem;
    padding: 5rem 0 6rem;
    .inline-form {
      margin-top: 5rem;
      margin-left: -$gap;
      margin-right: -$gap;
      & > div {
        //margin-left: .01rem;
        & > *:last-child {
          //display: flex;
          //align-items: center;
          //transform: translateY(-1rem);
        }
      }
      & > .btn {
        //margin-top: 6.4rem;
        width: 100%;
        font-size: 1.6rem;
        margin-left: $gap;
        margin-right: $gap;
      }
    }
  }
}