.smarthoop-services {
  .services {
    padding: 10rem 0 15rem;
    .decorative {
      &.yellow {
        top: 4rem;
        left: 30%;
      }
      &.lavander {
        bottom: 95px;
        right: -35px;
        left: auto;
        top: auto;
      }
    }
    .service-item {
      // display: block;
      // position: relative;
      // max-height: 50rem;
      // overflow: hidden;
      // box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
      // padding-top: 80%;
      // margin-bottom: 5.5rem;
      // background-color: $white;
      .service-img-wrap {
        height: 100%;
        // position: absolute;
        // top: 0;
        // left: 0;
        // width: 100%;
        // height: auto;
        // transition: $default;
        padding-right: 0;
        &::after {
          // content: '';
          // display: block;
          // width: 100%;
          // height: 100%;
          // position: absolute;
          // top: 0;
          // left: 0;
          // transition: $default;
        }
        .service-img {
          height: inherit;
          padding: 0;
          // width: 100%;
          // padding-bottom: 120%;
          // background-image: url('../img/38bba466020cded409f222437f8c15d6.png');
          // background-size: cover;
          // background-repeat: no-repeat;
          // background-position: center center;
          // transition: $default;
        }
      }
      .service-title {
        // position: relative;
        // z-index: 1;
        // padding: 1.5rem 2.7rem 1.5rem 0;
        // text-align: right;
        // color: $violet;
        // font-family: 'Uni Sans Thin Caps', sans-serif;
        // font-size: 2.5rem;
        // font-weight: bold;
        // line-height: 5rem;
        // transition: $default;
        // margin-bottom: -4.8rem;
        background: white;
        border-radius: 50px 0 0 50px;
        margin-left: 7%;
        padding: 0 18px 0 0;
        margin-bottom: 50px;
      }
      button {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        margin-left: auto;
        margin-right: 2.7rem;
        transform: translate(-50%, -50%);
        opacity: 0;
        z-index: -1;
      }
    }
    .see-more {
      margin-top: 5rem;
      // text-align: center;
    }
  }
}


@media (max-width: $large-desktop) {
  .smarthoop-services .services .service-item .service-img-wrap .service-img {
    // padding-bottom: 145%;
  }
}

@media (min-width: $desktop + 1px) {
  .smarthoop-services .services {
    .service-item:hover {
  //     .service-img-wrap {
  //       padding-right: 0;
  //       &::after {
  //         background-color: transparentize($white, .4);
  //       }
  //     }
      .service-title {
        transform: translateY(0);
      }
      button {
        transform: translate(-50%, -50%);
        opacity: 1;
        z-index: 2;
      }
    }
  }
}

@media (max-width: $desktop) {
  .smarthoop-services .services {
    .service-item {
      button {
        opacity: 1;
        z-index: 2;
      }
    }
  }
}

@media (min-width: $tablet + 1px) and (max-width: $desktop) {
  .smarthoop-services .services {
    .service-item {
      .service-title {
        transform: translateY(-200%);
      }
    }
  }
}

@media (max-width: $mobile) {
  .smarthoop-services .services {
    padding: 5rem 0 10rem;
  }
}

