.main-page {
  #trigger1 {
    position: absolute;
    top: 65vh;
  }
}

.main-jumbotron {
  position: relative;
  padding: 24rem 0 14rem;
  overflow: hidden;
  h3 {
    font-family: Karla-Regular, sans-serif;
  }
  .background-overlay {
    position: absolute;
    width: 110%;
    height: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: 30% bottom;
    background-repeat: no-repeat;
    background-size: cover;
    //filter: blur(4px);
  }
}

@media (min-width: $desktop + 1px) {
  .main-jumbotron {
    h1 {
      margin-top: 0;
    }
  }
}

@media (max-width: $desktop) {
  .main-jumbotron {
    height: 50.8rem;
    padding: 19rem 0 10rem;
    h3 {
      margin-top: 2.8rem;
    }
    .background-overlay {
      background-position: 30% center;
    }
  }
}