@media (min-width: $fullhd) {
  .main-page {
    .success-cases {
      .success-cases-description {
        padding-left: $gap !important;
        padding-right: $gap !important;
      }
    }
  }
}

@media (min-width: $desktop) {
  .main-page {
    .success-cases {
      @include success-cases-main();
      .decorative {
        left: auto;
        right: 0;
      }
      .success-cases-item {
        &::before {
          right: auto;
          left: 33rem;
        }
        &:hover {
          .success-cases-heading {
            transform: translateX(-5.5rem);
          }
        }
        .success-case-info {
          padding: 5.2rem 0 5.2rem 6rem;
        }
      }
    }
  }
}

@media (max-width: $hd + 1px) {
  .main-page {
    .success-cases {
      .success-cases-description {
        padding-left: $gap;
        padding-right: 6rem;
      }
    }
  }
}

@media (max-width: $desktop) {
  .main-page {
    .success-cases {
      padding-top: 2rem;
      .decorative {
        display: none;
      }
      .success-cases-description {
        padding: 0 $gap;
        h2 {
          font-size: 3.4rem;
          line-height: 4.7rem;
        }
        h2, p {
          text-align: center;
        }
        p {
          margin-bottom: 4rem;
        }
      }
      .success-case-info-wrap {
        position: relative;
        line-height: 0;
        .success-cases-image {
          display: inline-block;
          line-height: 0;
          width: 100%;
          height: 0;
          padding-bottom: 43.26%;
          margin: 0;
          overflow: hidden;
          .success-cases-image-wrap {
            height: 0;
            padding-bottom: 43.26%;
          }
        }
        .tag {
          position: absolute;
          left: 0;
          bottom: 0;
          margin: 0;
          &:not(:nth-child(2)) {
            display: none;
          }
        }
      }
      h3 {
        margin: 2.8rem 0 2rem;
      }
    }
  }
}

@media (max-width: 425px) {
  .main-page {
    .success-cases {
      .success-case-info-wrap {
        .success-cases-image,
        .success-cases-image-wrap {
          padding-bottom: 22rem;
        }
      }
    }
  }
}
