@mixin blog-main() {
  .blog {
    .right {
      position: initial;
      padding-top: 0;
      padding-bottom: 0;
      .blog-filters {
        margin-bottom: 6.4rem;
      }
    }
    .ajax-call-message {
      //.loader-placeholder > div {
      //  padding-left: $gap;
      //  padding-right: $gap;
      //}
      .btn-icon {
        display: none;
      }
    }
  }
  @media (min-width: $hd) {
    .blog {
      .right {
        .blog-filters {
          margin-bottom: 4rem;
        }
      }
    }
  }
  @media (min-width: $desktop + 1px) {
    .blog {
      .container > .row,
      .container-mx > .row{
        display: flex;
      }
      .left {
        min-width: 48rem + $gap*2;
        max-width: 48rem + $gap*2;
      }
      .right {
        max-width: 90.8rem + $gap;
        transform: translateX(12.4rem - $gap*2);
      }
      .image-wrap {
        display: none;
      }
      .blog-filters {
        margin-top: -2rem;
      }
    }
  }
  @media (max-width: $desktop) {
    .blog {
      .top-posts {
        .row {
          position: relative;
        }
        .left {
          margin-top: 10.9rem;
        }
        .right {
          display: block;
          transform: translateX(0);
          position: absolute;
          top: 0;
          left: 0;
          .image-container, .blog-item {
            display: none;
          }
        }
      }
      .left {
        .blog-filters {
          margin-bottom: 3.6rem;
        }
        .blog-info {
          p {
            display: none;
          }
        }
      }
    }
  }
  @media (max-width: $tablet) {
    .blog {
      .top-posts {
        .blog-item {
          .blog-item-heading {
            position: relative;
            margin-bottom: 5.5rem;
            .image-wrap {
              margin: 0;
            }
            .tag,
            .tag-doubled {
              position: absolute;
              left: 0;
              bottom: 0;
            }
            .date {
              position: absolute;
              bottom: -4.5rem;
            }
          }
        }
      }

    }
  }
}