@mixin reference-main() {
  .success-cases-references {
    padding: 0 0 20.8rem;
    h2 {
      margin-top: 0;
    }
    h2, .btn-arrow {
      z-index: 2;
      position: relative;
    }
    .carousel-inner {
      max-height: 100%;
    }
    .carousel-inner,
    .top, .bottom {
      float: left;
    }
    .top {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      //&.audio {
      //  height: 70rem;
      //}
    }
    .reference-media {
      width: 70%;
      position: absolute;
      top: 0;
      right: $gap*2;
      //height: 60rem;
      .soundcloud-frame {
        margin-top: 18rem;
        height: 24rem;
      }
      .youtube-wrap {
        position: relative;
        width: 100%;
        padding-bottom: 66.6%;
        //padding-top: 25px;
        height: 0;
        iframe,
        .youtube-thumbnail {
          top: 0;
          width: 100%;
          height: 100%;
          max-height: 60rem;
        }
        iframe {
          position: absolute;
        }
        .youtube-thumbnail {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: top right;
        }
      }

    }
    .reference-description-wrap {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      left: 0;
      z-index: 5;
      bottom: 0;
      background: $blue;
      padding: 5.2rem 6.4rem;
      width: 66%;
      max-width: 82rem;
      height: 34rem;
      @include reference-description();
      &:hover {
        background-color: $dark-blue;
        text-decoration: none;
      }
    }
    .bottom {
      width: 100%;
    }
    .btn-arrow.blue {
      margin-top: 7.6rem;
      max-width: 15rem;
    }
    .btn-arrow.orange {
      max-width: 30rem;
      margin-top: 40rem;
      margin-left: auto;
    }
  }
  @media (min-width: $fullhd) {
    .success-cases-references {
      .top {
        .reference-media {
          width: 90%;
        }
      }
    }
  }
  @media (min-width: $hd + 1px) {
    .success-cases-references {
      .top {
        .reference-media {
          max-width: 108.8rem;
          iframe,
          .youtube-thumbnail {
            max-height: 72.4rem;
          }
        }
      }
      .bottom {
         .btn-arrow.orange {
           margin-top: 32%;
         }
       }
    }
  }
  @media (max-width: $desktop) {
    .success-cases-references {
      padding: 0 0 9rem;
      h2 {
        text-align: center;
        font-size: 3.4rem;
        line-height: 4.7rem;
        margin-bottom: 3.6rem;
        height: 100%;
      }
      .top {
        position: relative;
        .reference-media {
          position: relative;
          width: 100%;
          right: 0;
          margin-bottom: 2.4rem;
          .youtube-thumbnail, iframe {
            //height: inherit;
          }
        }
        .reference-description-wrap {
          position: relative;
          width: 100%;
          max-width: 100%;
          height: auto;
          bottom: auto;
          padding: 3.2rem 3rem 4.6rem;
        }
      }
      .bottom {
        .btn-arrow {
          &.orange, &.blue {
            max-width: 100%;
            margin-top: 2.4rem;
          }
        }
      }
    }
  }
}

@mixin reference-description() {
  .reference-description {
    max-height: 11.4rem;
    margin: 0;
    p {
      display: inline-block;
      color: $white;
      font-size: inherit;
      margin: 0;
      overflow: hidden;
      line-height: 3.6rem;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      &::before {
        content: '“';
      }
      &::after {
        content: '”';
      }
    }
  }
  .reference-description-info {
    display: flex;
    justify-content: space-between;
    position: relative;
    color: $white;
    @include author();
    .logo-wrap {
      transform: translate(0,0);
      left: auto;
      top: auto;
      right: 0;
      bottom: 0;
      height: 5.8rem;
      img {
        width: auto;
        height: 100%;
      }
    }
  }

  @media (max-width: $desktop) {
    .reference-description {
      max-height: 100%;
      font-size: 2.2rem;
      line-height: 3.6rem;
      margin-bottom: 3.4rem;
      p {
        display: inline-block;
      }
    }
    .logo-wrap {
      display: none;
    }
  }
}

.quote {
  p::before {
    content: '“';
  }
  p::after {
    content: '”';
  }
}

@mixin author() {
  .author {
    margin-bottom: 0;
    .author-avatar {
      width: 6.4rem;
      height: 6.4rem;
      min-width: 6.4rem;
      min-height: 6.4rem;
      max-width: 6.4rem;
      max-height: 6.4rem;
      margin-right: 2.4rem;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .author-name {
      margin: 0;
      line-height: 3.6rem;
      white-space: nowrap;
    }
    .author-position {
      font-family: Karla-Regular, sans-serif;
      font-size: 1.6rem;
      line-height: 2.8rem;
    }
  }
  @media (max-width: $desktop) {
    .reference-description-info {
      .author {
        .author-name {
          font-size: 1.8rem;
          line-height: 3rem;
          margin-top: -.6rem;
        }
        .author-position {
          font-size: 1.4rem;
          line-height: 2.1rem;
        }
      }
    }
  }
}
