@mixin success-cases-main() {
  position: relative;
  padding-bottom: 14.4rem;
  counter-reset: case;
  .success-cases-item {
    display: flex;
    margin-bottom: 0;
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 33rem;
    }
    &:hover {
      &::before {
        background-color: $night-blue;
      }
      .success-cases-heading {
        transform: translateX(5.5rem);
      }
      .success-cases-image-wrap {
        transform: scale(1.1);
      }
      .success-case-info {
        h3 a,
        &::before {
          color: $white;
        }
        i span {
          background-color: $white;
        }
      }
    }
    .success-cases-heading {
      position: relative;
      transition: $default;
    }
    .success-cases-image {
      display: block;
      width: 43rem;
      height: 29rem;
      position: relative;
      overflow: hidden;
      &-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: $default;
      }
    }
    .success-case-info {
      position: relative;
      padding: 5.2rem 6rem 5.2rem 0;
      z-index: 1;
      height: 29rem;
      overflow: hidden;
      h3 {
        height: 10.8rem;
        margin: 0 0 3.2rem;
        padding-right: 6rem;
      }
    }
  }
  .decorative {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: $ghost-white;
    border: 1px solid $pale-grey;
  }
  .success-cases-description {
    h2 {
      margin-top: 0;
    }
    .btn-arrow {
      margin-top: 8.4rem;
    }
  }
  @media (max-width: $hd + 1px) {
    .success-cases-description {
      padding-left: 6rem;
    }

  }
  @media (min-width: $desktop) and (max-width: $hd) {
    .success-cases-content {
      transform: translateX(4rem);
    }
  }
  @media (min-width: $fullhd) {
    .success-cases-item {
      &::before {
        width: 200%;
      }
    }
    .success-case-info {
      &::before {
        counter-increment: case;
        content: '0'counter(case);
        position: absolute;
        top: 5.2rem;
        right: 4rem;
        color: $blue;
        font-family: Karla-Bold, sans-serif;
        font-size: 1.6rem;
        line-height: 2.8rem;
      }
    }
    .success-cases-description {
      padding-left: 6rem;
    }
  }
}