@font-face {
  font-family: 'Uni Sans Thin Caps';
  src: url('../fonts/UNISANSTHIN.OTF');
}

@font-face {
  font-family: 'Uni Sans Heavy Caps';
  src: url('../fonts/UNISANSHEAVY.OTF');
}

@font-face {
  font-family: 'Uni Sans Heavy Caps Italic';
  src: url('../fonts/UNISANSHEAVYITALIC.OTF');
}

@import 'ui-kit/variables';
@import 'ui-kit/color-library';
@import 'ui-kit/general';
@import 'ui-kit/buttons';

@import 'partials/header';
@import 'partials/footer';

@import 'pages/main/jumbotron';
@import 'pages/main/common-service-description';
@import 'pages/main/services';
@import 'pages/main/stock';
@import 'pages/main/steps';
@import 'pages/main/make-order';

@import 'pages/services';
@import 'pages/shipping';
@import 'pages/single-service';
@import 'pages/how-to-order';
@import 'pages/about';
@import 'pages/faq';
@import 'pages/blog';
@import 'pages/blog-post';
@import 'pages/contacts';
@import 'pages/prices';
@import 'pages/works-category';
@import 'pages/works-gallery';
@import 'pages/stock';

.wrap {
  display: none !important;
}

.tabs-wrap {
  display: flex;
  &.yellow {
    a, button {
      background-color: transparentize($yellow, .5);
      &.active {
        background-color: $yellow;
      }
    }
  }
  &.lavander {
    a, button {
      background-color: transparentize($lavander, .5);
      &.active {
        background-color: $lavander;
      }
    }
  }
  a, button {
    cursor: pointer;
    width: 50%;
    text-align: center;
    border-radius: 0;
    color: $black;
    &:first-child {
      margin-right: 2px;
    }
    &:last-child {
      margin-left: 2px;
    }
    span {
      position: relative;
      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 90%;
        width: 0;
        height: 1px;
        background-color: $black;
        transition: width $default;
      }
    }
    &:hover {
      span::after {
        width: 100%;
      }
    }
    &:not(.active) {

    }
  }
}

@media (max-width: $mobile) {
  .tabs-wrap {
    button {
      padding: 1.3rem;
    }
  }
}

.pagination {
  position: relative;
  font-family: "Uni Sans Thin Caps", sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding: 50px 50px 50px 0;
  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 400%;
    height: 100%;
    background-color: transparentize($lavander, .5);
  }
  a {
    position: relative;
    z-index: 1;
  }
  a,
  a:active,
  a:focus,
  a:hover {
    color: $black;
    text-decoration: none;
  }
  .active {
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: calc(100% - 2px);
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $black;
    }
  }
}

.smarthoop-services-category {
  margin-top: 200px;
  .services {
    .service-item {
      height: 775px;
      &:hover {
        .service-title {
          transform: translateY(0);
        }
        .service-full-desc {
          opacity: 1;
        }
        .service-img-wrap {
          .service-img {
            padding-bottom: 775px;
          }
        }
      }
      .service-title-wrap {
        position: absolute;
        top: 0;
        z-index: 2;
      }
      .service-title {
        position: relative;
        padding: 50px;
        max-height: 100%;
      }
      .service-desc {
        text-align: right;
        color: $violet;
        font-size: 25px;
        padding: 0 50px 0 63px;
      }
      .service-full-desc {
        opacity: 0;
      }
      .service-img-wrap {
        bottom: 0;
        top: auto;
        .service-img {
          padding-bottom: 525px;
        }
      }
      button {
        z-index: 3;
      }
    }
  }
}

@media (max-width: $large-desktop) {
  .smarthoop-services-category {
    .services {
      .service-item {
        .service-full-desc {
          display: none;
        }
        .service-img-wrap {
          .service-img {
            padding-bottom: 775px;
          }
        }
      }
    }
  }
}

//modals
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.fade.show {
  opacity: 1;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  display: none;
  overflow: hidden;
  outline: 0;
  background-color: transparentize($black, .5);
}
.fade {
  opacity: 0;
  transition: opacity .15s linear;
}

.modal.show .modal-dialog {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
}
.modal.fade .modal-dialog {
  transition: transform .3s ease-out;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
@media (max-width: 1200px) {
  .modal-dialog {
    max-width: 100%;
  }
  .modal.fade .modal-dialog {
    transform: translate(-50%, 0);
    top: 0;
  }
  .modal-content {
    .make-order {
      .form-wrap {
        padding: 5rem 2rem;
      }
    }
  }
}
@media (min-width: 1200px) {
  .modal-dialog {
    max-width: 900px;
  }
}
.modal-dialog {
  position: relative;
  width: auto;
  pointer-events: none;
}

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
  .make-order {
    padding-bottom: 0;
    .form-wrap {
      padding: 5rem 10rem;
    }
  }
}
