@function get-vw($target) {
  $vw-context: (1920*.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@function get-vw-t($target) {
  $vw-context: (1024*.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@function get-vw-m($target) {
  $vw-context: (375*.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@font-face {
  font-family: 'Uni Sans Thin Caps';
  src: url('../fonts/UNISANSTHIN.OTF'),
       url('../fonts/UNISANSTHIN.woff');
}

@font-face {
  font-family: 'Uni Sans Heavy Caps';
  src: url('../fonts/UNISANSHEAVY.OTF'),
       url('../fonts/UNISANSHEAVY.woff');
}

@font-face {
  font-family: 'Uni Sans Heavy Caps Italic';
  src: url('../fonts/UNISANSHEAVYITALIC.OTF'),
       url('../fonts/UNISANSHEAVYITALIC.woff');
}

@import 'ui-kit/variables';
@import 'ui-kit/color-library';
@import 'ui-kit/general';
@import 'ui-kit/buttons';

@import 'partials/header';
@import 'partials/footer';

@import 'pages/main/jumbotron';
@import 'pages/main/common-service-description';
@import 'pages/main/services';
@import 'pages/main/stock';
@import 'pages/main/steps';
@import 'pages/main/make-order';

@import 'pages/services';
@import 'pages/shipping';
@import 'pages/single-service';
@import 'pages/how-to-order';
@import 'pages/about';
@import 'pages/faq';
@import 'pages/blog';
@import 'pages/blog-post';
@import 'pages/contacts';
@import 'pages/prices';
@import 'pages/works-category';
@import 'pages/works-gallery';
@import 'pages/stock';

.wrap {
  display: none !important;
}

.default-section {
  margin-top: get-vw(200px);
  & + .make-order {
    display: none;
  }
  p + h4 {
    margin-top: get-vw(80px);
  }
}

.tabs-wrap {
  display: flex;
  &.yellow {
    a, button {
      background-color: transparentize($yellow, .5);
      &.active {
        background-color: $yellow;
      }
    }
  }
  &.lavander {
    a, button {
      background-color: transparentize($lavander, .5);
      &.active {
        background-color: $lavander;
      }
    }
  }
  a, button {
    cursor: pointer;
    width: 50%;
    text-align: center;
    border-radius: 0;
    color: $black;
    &:first-child {
      margin-right: get-vw(2px);
    }
    &:last-child {
      margin-left: get-vw(2px);
    }
    span {
      position: relative;
      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 90%;
        width: 0;
        height: get-vw(1px);
        background-color: $black;
        transition: width $default;
      }
    }
    &:hover {
      span::after {
        width: 100%;
      }
    }
    &:not(.active) {

    }
  }
}

.hidden {
  display: none;
}

.pagination {
  position: relative;
  font-family: "Uni Sans Thin Caps", sans-serif;
  font-size: get-vw(30px);
  font-weight: bold;
  padding: get-vw(50px) get-vw(50px) get-vw(50px) 0;
  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 400%;
    height: 100%;
    background-color: transparentize($lavander, .5);
  }
  a:not(.arrow) {
    position: relative;
    z-index: 1;
    &,
    &:active,
    &:focus,
    &:hover {
      color: $black;
      text-decoration: none;
    }
  }
  .active {
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: calc(100% - 0.10416666666vw);
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $black;
    }
  }
  .arrow {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 0;
    font-size: 0;
    width: get-vw(32px);
    height: get-vw(22px);
    &.prev-arrow {
      margin-right: get-vw(25px);
    }
    &.next-arrow {
      margin-left: get-vw(25px);
    }
    .icon {
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: get-vw(30px);
        background-image: url('../img/arrow-2.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: get-vw(32px);
        height: get-vw(10px);
      }
      &-next {
        &::after {
          content: '';
          transform: rotate(180deg) translate(0, 0.20833333333vw);
          left: 0;
          top: 50%;
        }
      }
    }
  }
}

@media (min-width: $min-tablet)
and (max-width: $tablet) {
  .pagination {
    font-size: get-vw-t(20px);
    padding: get-vw(50px) get-vw(50px) get-vw(50px) 0;
    a {
      margin: 0 get-vw-t(16.5px);
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    &::before {
      top: 0;
      right: get-vw-t(-40px);
      width: 400%;
      height: 100%;
    }
    .active {
      &::after {
        top: calc(100% - 0.10416666666vw);
        left: 0;
        width: 100%;
        height: 1px;
      }
    }
    .arrow {
      padding: 0;
      width: get-vw(32px);
      height: get-vw(22px);
      &.prev-arrow {
        margin-right: get-vw(25px);
      }
      &.next-arrow {
        margin-left: get-vw-t(-19px);
        top: get-vw-t(-5px);
      }
      .icon {
        &::after {
          top: 50%;
          transform: translate(-50%, -50%);
          background-size: 78%;
          width: get-vw-t(45px);
          height: get-vw-t(10px);
        }
        &-prev {
          &::after {
            left: calc(50% + 1.26953125vw);
          }
        }
        &-next {
          &::after {
            transform: rotate(180deg) translate(0, 0);
            left: get-vw-t(-4px);
            top: 50%;
          }
        }
      }
    }
  }
}

@media (max-width: $mobile) {
  .pagination {
    font-size: get-vw-m(20px);
    padding: get-vw-m(28px) 0;
    a {
      margin: 0 get-vw-m(10px);
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    &::before {
      top: 0;
      right: get-vw-m(-100px);
      width: 400%;
      height: 100%;
    }
    .active {
      &::after {
        top: calc(100% - 0.10416666666vw);
        left: 0;
        width: 100%;
        height: 1px;
      }
    }
    .arrow {
      padding: 0;
      width: get-vw(32px);
      height: get-vw(22px);
      &.prev-arrow {
        margin-right: get-vw(25px);
      }
      &.next-arrow {
        margin-left: get-vw-t(-19px);
        top: get-vw-t(-5px);
      }
      .icon {
        &::after {
          top: 50%;
          transform: translate(-50%, -50%);
          background-size: 100%;
          width: get-vw-m(32px);
          height: get-vw-m(10px);
        }
        &-prev {
          &::after {
            left: calc(50% + -6.66666666667vw);
            top: calc(50% + -1.06666666667vw);
          }
        }
        &-next {
          &::after {
            transform: rotate(180deg) translate(0, 0);
            left: get-vw-m(17px);
            top: calc(50% + -2.66666666667vw);
          }
        }
      }
    }
  }
}

.smarthoop-services-category {
  margin-top: get-vw(200px);
  .services {
    h1 {
      margin-bottom: get-vw(100px);
    }
    .decorative {
      &.lavander {
        top: auto;
        bottom: 0;
        left: get-vw(-35px);
      }
      &.yellow {
        top: get-vw(120px);
        right: get-vw(-35px);
        left: auto;
      }
    }
    .service-item {
      height: get-vw(775px);
      &:not(:hover) {
        .service-desc {
          height: get-vw(70px);
          overflow: hidden;
        }
      }
      &:hover {
        .service-title {
          transform: translateY(0);
        }
        .service-full-desc {
          opacity: 1;
        }
        .service-img-wrap {
          .service-img {
            padding-bottom: get-vw(775px);
          }
        }
      }
      .service-title-wrap {
        position: absolute;
        top: 0;
        z-index: 2;
        width: 100%;
      }
      .service-title {
        position: relative;
        padding: get-vw(50px);
        max-height: 100%;
        max-width: 100%;
        width: 100%;
      }
      .service-desc {
        & {
          padding: 0 get-vw(50px) 0 get-vw(63px);
          text-align: right;
          color: $violet;
        }
        &, p {
          font-size: get-vw(25px);
          line-height: get-vw(35px);
          color: $black;
        }
      }
      .service-full-desc {
        opacity: 0;
      }
      .service-img-wrap {
        bottom: 0;
        top: auto;
        .service-img {
          padding-bottom: get-vw(525px);
        }
      }
      button {
        z-index: 3;
      }
    }
    .back {
      margin-top: get-vw(50px);
      font-family: 'Uni Sans Thin Caps', sans-serif;
      font-weight: 700;
      display: inline-block;
      padding-left: get-vw(200px);
    }
  }
}

.services-template-default {
  .make-order {
    display: none;
  }
}

@media (min-width: $min-tablet)
  and (max-width: $tablet) {
  .smarthoop-services-category {
    margin-top: get-vw-t(150px);
    .services {
      padding-bottom: get-vw-t(50px);
      h1 {
        margin-bottom: get-vw-t(40px);
      }
      .decorative {
        &.lavander {
          width: get-vw-t(320px);
          height: get-vw-t(320px);
          left: get-vw(-35px);
        }
        &.yellow {
          width: get-vw-t(320px);
          height: get-vw-t(320px);
          top: get-vw(120px);
          right: get-vw-t(-12px);
        }
      }
      .service-item {
        height: get-vw-t(465px);
        margin-bottom: get-vw-t(30px);
        .btn {
          width: get-vw-t(225px);
        }
        &:not(:hover) {
          .service-desc {
            height: get-vw-t(78px);
          }
        }
        &:hover {
          .service-img-wrap {
            .service-img {
              padding-bottom: get-vw-t(465px);
            }
          }
        }
        .service-title {
          padding: get-vw-t(25px) get-vw-t(18px) get-vw-t(10px) get-vw-t(37px);
          line-height: get-vw-t(30px);
        }
        .service-desc {
          & {
            padding: 0 get-vw-t(18px) 0 get-vw-t(58px);
          }
          &, p {
            font-size: get-vw-t(22px);
            line-height: get-vw-t(28px);
          }
        }
        .service-img-wrap {
          .service-img {
            padding-bottom: get-vw-t(280px);
          }
        }
      }
      .back {
        margin-top: get-vw-t(-10px);
        padding-left: get-vw-t(140px);
      }
    }
  }
}

@media (max-width: $mobile) {
  .smarthoop-services-category {
    margin-top: get-vw-m(100px);
    .services {
      padding-bottom: get-vw-m(50px);
      h1 {
        margin-bottom: get-vw-m(40px);
        font-size: get-vw-m(34px);
        line-height: get-vw-m(40px);
      }
      .decorative {
        &.lavander {
          width: get-vw-m(265px);
          height: get-vw-m(270px);
          left: get-vw-m(0px);
          bottom: get-vw-m(19px);
        }
        &.yellow {
          width: get-vw-m(56px);
          height: get-vw-m(271px);
          top: get-vw-m(60px);
          right: 0;
        }
      }
      .service-item {
        height: get-vw-m(460px);
        margin: 0 0 get-vw-m(40px);
        .btn {
          width: get-vw-m(155px);
          right: get-vw-m(10px);
        }
        &:not(:hover) {
          .service-desc {
            height: get-vw-m(83px);
          }
        }
        &:hover {
          .service-img-wrap {
            .service-img {
              padding-bottom: get-vw-m(460px);
            }
          }
        }
        .service-title {
          padding: get-vw-m(22px) get-vw-m(10px) get-vw-m(12px) get-vw-m(15px);
          font-size: get-vw-m(18px);
          line-height: get-vw-m(26px);
        }
        .service-desc {
          & {
            padding: 0 get-vw-m(10px) 0 get-vw-m(15px);
          }
          &, p {
            font-size: get-vw-m(18px);
            line-height: get-vw-m(22px);
          }
        }
        .service-img-wrap {
          .service-img {
            padding-bottom: get-vw-m(270px);
          }
        }
      }
      .back {
        margin-top: get-vw-m(-16px);
        padding-left: get-vw-m(30px);
      }
    }
  }
}

//modals
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.fade.show {
  opacity: 1;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  display: none;
  overflow: hidden;
  outline: 0;
  background-color: transparentize($lavander, .1);
}
.fade {
  opacity: 0;
  transition: opacity .15s linear;
}

.modal.show .modal-dialog {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
}
.modal.fade .modal-dialog {
  transition: transform .3s ease-out;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.modal-body {
  position: relative;
  width: get-vw(900px);
  background-color: $white;
  margin: 0 auto;
  box-shadow: 0 0 2.60417vw rgba(0,0,0,.15);
  padding: get-vw(100px) get-vw(180px);
  text-align: center;
  h2.error {
    color: #da6f5b;
  }
  h2, p {
    margin-bottom: get-vw(50px);
  }
}

.modal-dialog {
  position: relative;
  width: auto;
  pointer-events: none;
  .close {
    position: absolute;
    top: get-vw(25px);
    right: get-vw(25px);
    font-size: get-vw(90px);
    padding: 0;
    color: $violet;
    width: get-vw(35px);
    height: get-vw(35px);
    span {
      position: absolute;
      top: 0;
      left: 0;
      width: get-vw(35px);
      height: get-vw(35px);
      &::before,
      &::after {
        content: '';
        position: absolute;
        width: get-vw(1.5px);
        min-width: 1.5px;
        height: get-vw(45px);
        background-color: $violet;
        top: 50%;
        left: 50%;
      }
      &::before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  //background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-radius: get-vw(3px);
  outline: 0;
  .make-order {
    padding-bottom: 0;
    margin-top: get-vw(-50px);
    h2 {
      max-width: get-vw(1111px);
      white-space: nowrap;
      padding-left: 0;
      padding-right: 0;
    }
    form:not(.box) {
      padding: 2.60417vw 5.20833vw;
    }
    .box-wrap {
      top: get-vw(505px);
    }
  }
  .call-form {
    .g-recaptcha,
    .custom-submit {
      margin-top: 0;
    }
  }
}

@media (min-width: $min-tablet)
and (max-width: $tablet) {

  .modal.fade .modal-dialog {
    transform: translate(-50%,0);
    top: get-vw-t(75px);
    margin-bottom: get-vw-t(25px);
  }

  .modal-body {
    width: get-vw-t(820px);
    padding: get-vw-t(70px) get-vw-t(170px);
    h2, p {
      margin-bottom: get-vw-t(40px);
    }
  }

  .modal-dialog {
    .close {
      position: absolute;
      top: get-vw-t(25px);
      right: get-vw-t(25px);
      font-size: get-vw-t(90px);
      width: get-vw-t(35px);
      height: get-vw-t(35px);
      span {
        width: get-vw-t(35px);
        height: get-vw-t(35px);
        &::before,
        &::after {
          width: get-vw-t(1.5px);
          min-width: 1.5px;
          height: get-vw-t(45px);
        }
      }
    }
  }

  .modal-content {
    border-radius: get-vw-t(3px);
    .make-order {
      margin-top: get-vw-t(-50px);
      h2 {
        max-width: get-vw-t(506px);
        white-space: initial;
      }
      form:not(.box) {
        padding: 2.60417vw 5.20833vw;
      }
      .box-wrap {
        top: get-vw-t(490px);
      }
    }
  }
}

@media (max-width: $mobile) {
  .modal.fade .modal-dialog {
    transform: translate(-50%,0);
    top: get-vw-m(30px);
    margin-bottom: get-vw-m(30px);
  }

  .modal-body {
    width: get-vw-m(347px);
    padding: get-vw-t(70px) get-vw-t(170px);
    h2, p {
      margin-bottom: get-vw-m(30px);
    }
  }

  .modal-dialog {
    .close {
      position: absolute;
      top: get-vw-m(20px);
      right: get-vw-m(20px);
      font-size: get-vw-m(90px);
      width: get-vw-m(25px);
      height: get-vw-m(25px);
      span {
        width: get-vw-m(25px);
        height: get-vw-m(25px);
        &::before,
        &::after {
          width: get-vw-m(1.5px);
          min-width: 1.5px;
          height: get-vw-m(35px);
        }
      }
    }
  }

  .modal-content {
    border-radius: 0;
    .make-order {
      margin-top: 0;
      h2 {
        max-width: get-vw-m(316px);
        white-space: initial;
      }
      form:not(.box) {
        padding: 0 get-vw-m(12px) get-vw-m(60px);
      }
      .box-wrap {
        top: get-vw-m(810px);
        height: get-vw-m(140px);
      }
    }
  }
}

.default-section {
  margin: get-vw(200px) 0 get-vw(100px);
}

.fileinput {
  &::-webkit-file-upload-button {
    visibility: hidden;
  }
}

.file-item {
  &::before {
    content: '';
    background-image: url('../img/icon-file.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: get-vw(17px);
    height: get-vw(22px);
  }
  .btn-close {
    font-size: 0;
    background-image: url('../img/icon-close.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: get-vw(14px);
    height: get-vw(14px);
    margin-left: auto;
  }
}

.pod-page-nashi-raboti-w {
  .make-order {
    display: none;
  }
}

@media (min-width: $min-tablet)
and (max-width: $tablet) {
  .file-item {
    &::before {
      width: get-vw-t(15px);
      height: get-vw-t(20px);
    }
    .btn-close {
      width: get-vw-t(12px);
      height: get-vw-t(12px);
    }
  }
  .pod-page-nashi-raboti-w,
  .pod-page-uslugi-w {
    .make-order {
      display: none;
    }
  }
}

@media (max-width: $mobile) {
  .file-item {
    &::before {
      width: get-vw-m(13px);
      height: get-vw-m(18px);
    }
    .btn-close {
      width: get-vw-m(10px);
      height: get-vw-m(10px);
    }
  }
}

#stockModal {
  .make-order .g-recaptcha,
  .make-order .custom-submit {
    margin-top: 0;
  }
}

@media (max-width: $mobile) {
  #callModal {
    .make-order form {
      textarea {
        margin-bottom: get-vw-m(30px);
      }
      button {
        margin-top: get-vw-m(30px);
      }
    }
  }
  #errorModal {
    .modal-body {
      padding: get-vw-m(80px) get-vw-m(30px) get-vw-m(56px);
    }
  }
  #stockModal {
    .make-order .g-recaptcha,
    .make-order .custom-submit {
      margin-top: get-vw-m(30px);
    }
    .make-order form textarea {
      margin-bottom: 0;
    }
  }
  .pod-page-nashi-raboti-w,
  .pod-page-uslugi-w {
    .make-order {
      display: none;
    }
  }
}

.page-template-default {
  .make-order {
    display: none;
  }
}


