.smarthoop-blog {
  margin-top: 10rem;
  .blog {
    margin-top: 10rem;
    h1 {
      margin: 0;
    }
    .tabs-wrap {
      margin-bottom: 5rem;
      a {
        display: block;
        margin: 0 .15rem;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .blog-post {
      position: relative;
      display: block;
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
      margin-bottom: 5rem;
      color: $violet;
      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        opacity: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: transparentize($white, .4);
        transition: $default;
      }
      .blog-img-wrap {
        position: relative;
        width: 100%;
        height: 50rem;
        .blog-img {
          width: inherit;
          height: inherit;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
        }
        .blog-type {
          position: absolute;
          top: 5rem;
          left: 0;
          background-color: $white;
          border-radius: 0 50px 50px 0;
          padding: 0 18px 0 20px;
          min-width: 17.5rem;
          font-size: 20px;
          line-height: 50px;
          text-transform: uppercase;
        }
      }
      .blog-info {
        padding: 0 5rem 6rem 6rem;
      }
      .blog-title {
        font-family: 'Uni Sans Thin Caps', sans-serif;
        font-size: 25px;
        line-height: 50px;
        margin: 3.5rem 0;
      }
      .blog-title,
      p {
        text-align: right;
      }
      p {
        color: $black;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 10rem;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        &:last-child {
          margin-bottom: 0;
        }
      }
      button {
        opacity: 0;
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: $default;
      }
      &:hover {
        &::before,
        button {
          opacity: 1;
          z-index: 1;
        }
      }
    }
  }
}