.smarthoop-blog {
  margin-top: get-vw(100px);
  .blog {
    margin-top: get-vw(100px);
    h1 {
      margin: 0;
    }
    .tabs-wrap {
      margin-bottom: get-vw(50px);
      a {
        display: block;
        margin: 0 get-vw(1.5px);
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .blog-inner-wrap {
      margin-bottom: get-vw(-50px);
    }
    .blog-post {
      position: relative;
      display: block;
      box-shadow: 0 0 get-vw(50px) rgba(0, 0, 0, 0.15);
      margin-bottom: get-vw(50px);
      color: $violet;
      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        opacity: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: transparentize($white, .4);
        transition: $default;
      }
      .blog-img-wrap {
        position: relative;
        width: 100%;
        height: get-vw(500px);
        .blog-img {
          width: inherit;
          height: inherit;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
        }
        .blog-type {
          position: absolute;
          top: get-vw(50px);
          left: 0;
          background-color: $white;
          border-radius: 0 get-vw(50px) get-vw(50px) 0;
          padding: 0 get-vw(18px) 0 get-vw(20px);
          min-width: get-vw(175px);
          font-size: get-vw(20px);
          line-height: get-vw(50px);
          text-transform: uppercase;
        }
      }
      .blog-info {
        padding: 0 get-vw(50px) get-vw(60px) get-vw(60px);
      }
      .blog-title {
        font-family: 'Uni Sans Thin Caps', sans-serif;
        font-size: get-vw(25px);
        line-height: get-vw(50px);
        margin: get-vw(35px) 0;
      }
      .blog-title,
      p {
        text-align: right;
      }
      p {
        color: $black;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: get-vw(100px);
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        &:last-child {
          margin-bottom: 0;
        }
      }
      button {
        opacity: 0;
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: $default;
      }
      &:hover {
        &::before,
        button {
          opacity: 1;
          z-index: 1;
        }
      }
    }
    .blog-pagination {
      padding-bottom: get-vw(100px);
      .pagination {
        &::before {
          background-color: transparentize($yellow, .5);
        }
      }
    }
  }
}

.page-template-blog {
  .make-order {
    display: none;
  }
}