.smarthoop-blog {
  margin-top: get-vw(100px);
  .blog {
    margin-top: get-vw(100px);
    h1 {
      margin: 0;
    }
    .tabs-wrap {
      margin-bottom: get-vw(50px);
      a {
        display: block;
        margin: 0 get-vw(1.5px);
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .service-select + .select2-container--default {
      display: none;
    }
    .blog-inner-wrap {
      margin-bottom: get-vw(-50px);
    }
    .blog-post {
      position: relative;
      display: block;
      box-shadow: 0 0 get-vw(50px) rgba(0, 0, 0, 0.15);
      margin-bottom: get-vw(50px);
      color: $violet;
      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        opacity: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: transparentize($white, .4);
        transition: $default;
      }
      .blog-img-wrap {
        position: relative;
        width: 100%;
        height: get-vw(500px);
        .blog-img {
          width: inherit;
          height: inherit;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
        }
        .blog-type {
          position: absolute;
          top: get-vw(50px);
          left: 0;
          background-color: $white;
          border-radius: 0 get-vw(50px) get-vw(50px) 0;
          padding: 0 get-vw(18px) 0 get-vw(20px);
          min-width: get-vw(175px);
          font-size: get-vw(20px);
          line-height: get-vw(50px);
          text-transform: uppercase;
        }
      }
      .blog-info {
        padding: 0 get-vw(50px) get-vw(60px) get-vw(60px);
      }
      .blog-title {
        font-family: 'Uni Sans Thin Caps', sans-serif;
        font-size: get-vw(25px);
        line-height: get-vw(50px);
        margin: get-vw(35px) 0;
      }
      .blog-title,
      .blog-short-desc {
        text-align: right;
      }
      .blog-short-desc {
        color: $black;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: get-vw(100px);
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .btn {
        opacity: 0;
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: $default;
      }
      &:hover {
        &::before,
        .btn {
          opacity: 1;
          z-index: 1;
        }
      }
    }
    .blog-pagination {
      padding-bottom: get-vw(100px);
      .bottom {
        top: 0;
      }
      .pagination {
        &::before {
          background-color: transparentize($yellow, .5);
        }
      }
    }
  }
}

.page-template-blog {
  & > .make-order {
    display: none;
  }
}

@media (min-width: $min-tablet) and (max-width: $tablet) {
  .smarthoop-blog {
    margin-top: get-vw-t(100px);
    .blog {
      margin-top: get-vw(100px);
      h1 {
        margin: 0;
      }
      .tabs-wrap {
        margin-bottom: get-vw-t(40px);
        .btn-span {
          padding-top: get-vw-t(14px);
          padding-bottom: get-vw-t(14px);
        }
        a {
          margin: 0 get-vw(1.5px);
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .blog-inner-wrap {
        margin-bottom: get-vw(-50px);
      }
      .blog-post {
        box-shadow: 0 0 get-vw(50px) rgba(0, 0, 0, 0.15);
        margin-bottom: get-vw(50px);
        &::before {
          top: 0;
          left: 0;
          opacity: 0;
          width: 100%;
          height: 100%;
        }
        .blog-img-wrap {
          width: 100%;
          height: get-vw-t(300px);
          .blog-type {
            font-family: 'Uni Sans Thin Caps', sans-serif;
            top: get-vw-t(32px);
            padding: 0 get-vw-t(19px);
            min-width: get-vw-t(175px);
            font-size: get-vw-t(20px);
            line-height: get-vw-t(50px);
          }
        }
        .blog-info {
          padding: 0 get-vw-t(16px) get-vw(60px) get-vw(60px);
          height: get-vw-t(260px);
        }
        .blog-title {
          font-size: get-vw-t(24px);
          line-height: get-vw-t(40px);
          margin: get-vw-t(18.5px) 0 get-vw-t(14px);
        }
        .blog-short-desc {
          display: block;
          max-height: get-vw-t(140px);
          height: get-vw-t(140px);
        }
        .btn {
          top: get-vw-t(240px);
          width: get-vw-t(225px);
        }
      }
      .blog-pagination {
        padding-bottom: get-vw-t(75px);
        .bottom {
          top: 0;
        }
      }
    }
  }
}

@media (max-width: $mobile) {
  .smarthoop-blog {
    margin-top: get-vw-m(100px);
    .blog {
      margin-top: 0;
      h1 {
        font-size: get-vw-m(34px);
        line-height: get-vw-m(40px);
      }
      .tabs-wrap {
        display: none;
      }
      .service-select + .select2-container--default {
        display: inline-block;
      }
      .service-select + .select2-container--default .select2-selection--single {
        border-radius: 0;
        padding-left: get-vw-m(18px);
      }
      .select2-container.select2-container--default .select2-dropdown.select2-dropdown--below {
        border-radius: 0 !important;
      }
      .select2-results__option {
        background-color: $lavander;
      }
      .blog-inner-wrap {
        margin-top: get-vw-m(50px);
        margin-bottom: get-vw(-50px);
      }
      .blog-post {
        box-shadow: 0 0 get-vw-m(50px) rgba(0, 0, 0, 0.15);
        margin-bottom: get-vw-m(40px);
        &::before {
          top: 0;
          left: 0;
          opacity: 0;
          width: 100%;
          height: 100%;
        }
        .blog-img-wrap {
          height: get-vw-m(230px);
          .blog-type {
            font-family: 'Uni Sans Thin Caps', sans-serif;
            top: get-vw-m(34px);
            padding: 0 get-vw-m(8px);
            min-width: get-vw-m(160px);
            font-size: get-vw-m(18px);
            line-height: get-vw-m(40px);
            border-radius: 0 get-vw-m(50px) get-vw-m(50px) 0;
          }
        }
        .blog-info {
          padding: 0 get-vw-m(10px) get-vw(60px) get-vw(60px);
          height: auto;
        }
        .blog-title {
          font-size: get-vw-m(18px);
          line-height: get-vw-m(26px);
          margin: get-vw-m(24px) 0 get-vw-m(10px);
        }
        .blog-short-desc {
          display: block;
          max-height: get-vw-m(140px);
          height: auto;
        }
        .btn {
          top: get-vw-m(190px);
          width: get-vw-m(160px);
        }
      }
      .blog-pagination {
        padding-bottom: get-vw-m(35px);
        margin-top: get-vw-m(-40px);
        .pagination::before {
          right: get-vw-m(-170px);
          width: get-vw-m(400px);
        }
        .bottom {
          top: 0;
        }
      }
    }
  }
}
