.smarthoop-contacts {
  .contacts {
    margin-top: get-vw(150px);
    position: relative;
    .address-wrap {
      width: get-vw(700px);
      padding-left: get-vw(15px);
    }
    .bordered {
      transform: translate(0, 0);
      border-color: $lavander;
      z-index: 20;
      position: relative;
      h1 {
        margin: 0;
        transform: translate(get-vw(-150px), get-vw(-45px));
      }
      .address {
        position: relative;
        padding: get-vw(50px) 0;
        a {
          color: inherit;
          &:hover {
            text-decoration: underline;
          }
        }
        &.active {
          &::before {
            content: '';
            position: absolute;
            display: block;
            background-color: transparentize($yellow, .5);
            top: 0;
            right: 0;
            width: 200%;
            height: 100%;
            z-index: -1;
          }
        }
      }
    }
    .map-wrap {
      position: absolute;
      top: get-vw(50px);
      right: 0;
      width: 58%;
      height: get-vw(900px);
      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 46px;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: $white;
      }
    }
    //#map {
    //  width: 100%;
    //  height: 900px;
    //  &::after {
    //    content: '';
    //    position: absolute;
    //    display: block;
    //    width: 100%;
    //    height: 20px;
    //    background-color: $white;
    //    left: 0;
    //    bottom: 0;
    //  }
    //}
  }
}

//.page-template-page-contacts {
//  .make-order {
//    .form-wrap {
//      margin-top: -40px;
//      z-index: 2;
//    }
//  }
//}
//
//@media (max-width: $hd) {
//  .smarthoop-contacts {
//    .contacts {
//      .address-wrap {
//        width: 500px;
//      }
//    }
//  }
//}
//
//@media (max-width: $desktop) {
//  .smarthoop-contacts {
//    .contacts {
//      .address-wrap {
//        padding-left: 15px;
//        padding-right: 15px;
//        width: 100%;
//        .bordered {
//          display: flex;
//          padding: 3rem 0;
//        }
//        h1 {
//          position: absolute;
//          left: -30px;
//          top: -60px;
//          transform: translate(0, 0);
//        }
//        h2 {
//          height: 60px;
//          font-size: 2rem;
//          line-height: 3rem;
//        }
//        p {
//          font-size: 1.6rem;
//          line-height: 2.6rem;
//        }
//        .address {
//          width: 50%;
//          padding: 50px 20px;
//          &.active {
//            &::before {
//              width: 100%;
//            }
//          }
//        }
//      }
//      .map-wrap {
//        padding-left: 15px;
//        padding-right: 15px;
//        position: relative;
//        width: 100%;
//        #map {
//          height: 500px;
//        }
//      }
//    }
//  }
//}
//
//@media (max-width: $mobile) {
//  .smarthoop-contacts {
//    .contacts {
//      .address-wrap {
//        h2 {
//          word-break: break-word;
//        }
//        p {
//          display: none;
//        }
//        button {
//          font-size: 1.4rem;
//          padding-left: 2rem;
//          padding-right: 2rem;
//        }
//      }
//    }
//  }
//}
