.smarthoop-contacts {
  margin-bottom: get-vw(-60px);
  .contacts {
    margin-top: get-vw(150px);
    position: relative;
    .address-wrap {
      width: get-vw(700px);
      padding-left: get-vw(15px);
      hr {
        display: none;
      }
    }
    .bordered {
      transform: translate(0, 0);
      border-color: $lavander;
      z-index: 20;
      position: relative;
      .next {
        display: none;
      }
      h1 {
        margin: 0;
        transform: translate(get-vw(-150px), get-vw(-45px));
      }
      .address {
        position: relative;
        padding: get-vw(50px) 0;
        a {
          color: inherit;
          &:hover {
            text-decoration: underline;
          }
        }
        &.active {
          &::before {
            content: '';
            position: absolute;
            display: block;
            background-color: transparentize($yellow, .5);
            top: 0;
            right: 0;
            width: 200%;
            height: 100%;
            z-index: -1;
          }
        }
      }
    }
    .map-wrap {
      position: absolute;
      top: get-vw(50px);
      right: get-vw(-30px);
      width: 58%;
      height: get-vw(900px);
      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 46px;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: $white;
      }
      small.map-big {
        font-size: get-vw(25px);
      }
    }
  }
  .map-small {
    display: none;
  }
}

.page-template-page-contacts {
  & > .make-order {
    z-index: 20;
    .decorative {
      &.background {
        display: none;
      }
    }
  }
}

@media (min-width: $min-tablet) and (max-width: $tablet) {
  .smarthoop-contacts {
    margin-bottom: get-vw-t(-60px);
    .contacts {
      margin-top: get-vw-t(75px);
      position: relative;
      .address-wrap {
        width: get-vw-t(540px);
        padding-left: get-vw-t(50px);
      }
      .bordered {
        padding-left: get-vw-t(52px);
        h1 {
          transform: translate(get-vw-t(-90px), get-vw-t(-10px));
          margin-bottom: get-vw-t(35px);
        }
        .address {
          padding: get-vw-t(33px) 0;
          h2 {
            margin-left: get-vw-t(-6px);
          }
          &.active {
            &::before {
              right: get-vw-t(17px);
            }
          }
        }
      }
      .map-wrap {
        top: get-vw-t(-5px);
        right: 0;
        width: get-vw-t(500px);
        height: get-vw-t(685px);
        small.map-big {
          font-size: get-vw-t(22px);
        }
      }
    }
  }
  .page-template-page-contacts {
    & > .make-order {
      .decorative {
        &.yellow {
          top: get-vw-t(-40px);
          right: get-vw-t(15px);
          width: get-vw-t(240px);
          height: get-vw-t(240px);
        }
      }
    }
  }
}

@media (max-width: $mobile) {
  .smarthoop-contacts {
    overflow: visible;
    margin-bottom: get-vw-t(-60px);
    .contacts {
      margin-top: get-vw-m(68px);
      .address-wrap {
        width: 100%;
        padding-left: get-vw-m(14px);
        padding-right: get-vw-m(12px);
        hr {
          display: block;
          position: absolute;
          z-index: 30;
          bottom: get-vw-m(49px);
          background-color: #cdcfe9;
          width: 91%;
          height: 1.6vw;
          border: none;
          margin: 0;
          left: get-vw-m(17px);
        }
        &::before,
        &::after {
          content: '';
          position: absolute;
          z-index: 30;
          bottom: get-vw-m(49px);
          background-color: #cdcfe9;
          width: 1.6vw;
          height: 39.5%;
        }
        &::before {
          left: get-vw-m(14px);
        }
        &::after {
          right: get-vw-m(12.1px);
        }
      }
      .bordered {
        padding-left: get-vw-m(15px);
        padding-bottom: 0;
        &::after {
          content: '';
          width: calc(100% + 3.2vw);
          border-bottom: 1.6vw solid $white;
          position: absolute;
          bottom: -1.6vw;
          left: -1.6vw;
        }
        .next {
          display: block;
          position: absolute;
          background-color: $lavander;
          border-radius: 0;
          width: get-vw-m(70px);
          height: get-vw-m(50px);
          right: get-vw-m(17px);
          transform: translate(0, get-vw-m(-50px));
          &::after {
            content: '';
            position: absolute;
            background-image: url(../img/arrow-2.png);
            background-repeat: no-repeat;
            background-size: 78%;
            transform: translate(-50%, -50%) rotate(180deg);
            top: 50%;
            left: calc(50% - 3px);
            width: get-vw-m(45px);
            height: get-vw-m(10px);
          }
        }
        h1, .address {
          margin-left: get-vw-m(12px);
        }
        h1 {
          transform: translate(get-vw-m(-37px), get-vw-m(-25px));
          margin-bottom: get-vw-t(35px);
          font-size: get-vw-m(34px);
          line-height: get-vw-m(46px);
        }
        .address {
          padding: get-vw-m(20px) 0 get-vw-m(52px);
          display: none;
          h2 {
            margin-left: 0;
          }
          &.active {
            display: block;
            &::before {
              right: get-vw-t(17px);
            }
          }
        }
      }
      .map-wrap {
        position: relative;
        top: auto;
        bottom: get-vw-m(44px);
        left: get-vw-m(15px);
        right: 0;
        width: get-vw-m(361px);
        height: get-vw-m(336px);
        &::before {
          top: 13px;
          height: 47px;
        }
      }
    }
    .map-big {
      display: none;
    }
    .map-small {
      display: block;
    }
  }
  .page-template-page-contacts {
    & > .make-order {
      margin-top: get-vw-m(150px);
      .decorative {
        &.yellow {
          top: get-vw-m(-25px);
          right: 0;
          width: get-vw-m(240px);
          height: get-vw-m(240px);
        }
      }
    }
  }
}
