.smarthoop-faq {
  margin-top: get-vw(200px);
  padding-bottom: get-vw(100px);
  .inner-wrap {
    position: relative;
  }
  .decorative {
    position: absolute;
    width: get-vw(425px);
    height: get-vw(425px);
    z-index: -1;
    &.lavander {
      top: get-vw(-50px);
      right: get-vw(-40px);
    }
    &.yellow {
      left: get-vw(-40px);
      bottom: 0;
    }
  }
  .panel {
    padding: get-vw(100px);
    box-shadow: 0 0 get-vw(50px) rgba(0, 0, 0, 0.15);
    margin-bottom: get-vw(50px);
    background-color: $white;
    .panel-answer {
      font-size: get-vw(25px);
      font-weight: 300;
      line-height: get-vw(35px);
      p {
        font-size: inherit;
        line-height: inherit;
      }
    }
  }
}