.smarthoop-how-to-order {
    margin-top: get-vw(200px);
    .steps {
        padding-bottom: get-vw(150px);
        .steps-wrap {
            margin: 0;
        }
        .step {
            position: relative;
            width: get-vw(975px);
            padding: get-vw(85px);
            h3 {
                color: $black;
                font-family: 'Uni Sans Heavy Caps', sans-serif;
                font-size: get-vw(40px);
                font-weight: 400;
                line-height: get-vw(50px);
            }
            img {
                position: absolute;
                display: block;
                height: auto;
                z-index: -1;
            }
            &:nth-child(1),
            &:nth-child(3),
            &:nth-child(5),
            &:nth-child(7) {
                @include bordered-block();
                transform: translate(0, 0);
                &::before {
                    top: get-vw(35px);
                    left: get-vw(-10px);
                    bottom: auto;
                }
            }
            &:nth-child(1) {
                &::before {
                    left: 0;
                }
            }
            &:nth-child(2),
            &:nth-child(4),
            &:nth-child(6),
            &:nth-child(8) {
                @include background-block();
                transform: translate(0, get-vw(50px));
                padding: get-vw(85px);
                margin-left: auto;
                z-index: 2;
                &::before {
                    bottom: get-vw(52px);
                    right: get-vw(15px);
                    top: auto;
                    left: auto;
                }
            }
            &:nth-child(2) {
                img {
                    bottom: 100%;
                    right: get-vw(75px);
                    width: get-vw(600px);
                    height: get-vw(800px);
                }
            }
            &:nth-child(3) {
                img {
                    top: calc(100% + 0.78125vw);
                    left: get-vw(-15px);
                    width: get-vw(575px);
                    height: get-vw(575px);
                }
            }
            &:nth-child(4) {
                margin-bottom: get-vw(100px);
            }
            &:nth-child(5) {
                z-index: 4;
                img {
                    bottom: get-vw(114px);
                    right: get-vw(-497px);
                    width: get-vw(397px);
                    height: get-vw(383px);
                }
            }
            &:nth-child(6) {
                top: get-vw(-100px);
                img {
                    left: get-vw(-623px);
                    top: get-vw(100px);
                    width: get-vw(690px);
                    height: get-vw(690px);

                }
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: get-vw(85px);
                    height: 100%;
                    background-color: $lavander;
                    z-index: -1;
                }
            }
            &:nth-child(7) {
                z-index: 10;
            }
        }
    }
}

.page-template-how-to-order {
    & > .make-order {
        position: relative;
        z-index: 1;
        padding-bottom: get-vw(150px);
        .decorative {
            &.background {
                display: none;
            }
            &.yellow {
                top: get-vw(460px);
            }
        }
    }
}
