.smarthoop-how-to-order {
    margin-top: get-vw(200px);
    .steps {
        padding-bottom: get-vw(150px);
        .steps-wrap {
            margin: 0;
        }
        .step {
            position: relative;
            width: get-vw(975px);
            padding: get-vw(85px);
            h3 {
                color: $black;
                font-family: 'Uni Sans Heavy Caps', sans-serif;
                font-size: get-vw(40px);
                font-weight: 400;
                line-height: get-vw(50px);
            }
            img {
                position: absolute;
                display: block;
                height: auto;
                z-index: -1;
            }
            &:nth-child(1),
            &:nth-child(3),
            &:nth-child(5),
            &:nth-child(7) {
                @include bordered-block();
                transform: translate(0, 0);
                &::before {
                    top: get-vw(35px);
                    left: get-vw(-10px);
                    bottom: auto;
                }
            }
            &:nth-child(1) {
                &::before {
                    left: 0;
                }
            }
            &:nth-child(2),
            &:nth-child(4),
            &:nth-child(6),
            &:nth-child(8) {
                @include background-block();
                transform: translate(0, get-vw(50px));
                padding: get-vw(85px);
                margin-left: auto;
                z-index: 2;
                &::before {
                    bottom: get-vw(52px);
                    right: get-vw(15px);
                    top: auto;
                    left: auto;
                }
            }
            &:nth-child(2) {
                img {
                    bottom: 100%;
                    right: get-vw(75px);
                    width: get-vw(600px);
                    height: get-vw(800px);
                }
            }
            &:nth-child(3) {
                img {
                    top: calc(100% + 0.78125vw);
                    left: get-vw(-15px);
                    width: get-vw(575px);
                    height: get-vw(575px);
                }
            }
            &:nth-child(1),
            &:nth-child(4) {
                img {
                    display: none;
                }
            }
            &:nth-child(4) {
                margin-bottom: get-vw(100px);
            }
            &:nth-child(5) {
                z-index: 4;
                img {
                    bottom: get-vw(114px);
                    right: get-vw(-497px);
                    width: get-vw(397px);
                    height: get-vw(383px);
                }
            }
            &:nth-child(6) {
                top: get-vw(-100px);
                img {
                    left: get-vw(-623px);
                    top: get-vw(100px);
                    width: get-vw(690px);
                    height: get-vw(690px);

                }
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: get-vw(85px);
                    height: 100%;
                    background-color: $lavander;
                    z-index: -1;
                }
            }
            &:nth-child(7) {
                z-index: 10;
            }
            &:nth-child(7),
            &:nth-child(8) {
                display: none;
            }
        }
    }
}

.page-template-how-to-order {
    & > .make-order {
        position: relative;
        z-index: 2;
        margin-top: get-vw(-50px);
        padding-bottom: get-vw(150px);
        .decorative {
            &.background {
                display: none;
            }
            &.yellow {
                top: get-vw(460px);
            }
        }
    }
}

@media (min-width: $min-tablet) and (max-width: $tablet) {
    .smarthoop-how-to-order {
        margin-top: get-vw-t(118px);
        .steps {
            padding-bottom: get-vw-t(215px);
            h1 {
                margin-bottom: get-vw-t(57px);
            }
            .steps-wrap {
                width: 100%;
            }
            .step {
                width: get-vw-t(700px);
                padding: get-vw-t(60px) get-vw-t(68px) get-vw-t(70px);
                min-height: auto;
                h3 {
                    font-size: get-vw-t(36px);
                    line-height: get-vw-t(46px);
                    margin-bottom: get-vw-t(18px);
                }
                h3, p {
                    max-width: 100%;
                }
                &::before {
                    font-size: get-vw-t(130px);
                }
                &:nth-child(1),
                &:nth-child(3),
                &:nth-child(5),
                &:nth-child(7) {
                    border: get-vw-t(12px) solid $violet;
                    &::before {
                        top: get-vw-t(30px);
                        left: get-vw-t(-2px);
                        bottom: auto;
                    }
                }
                &:nth-child(1) {
                    &::before {
                        left: get-vw-t(-2px);
                    }
                }
                &:nth-child(2),
                &:nth-child(4),
                &:nth-child(6),
                &:nth-child(8) {
                    transform: translate(0, get-vw-t(50px));
                    padding: get-vw-t(74px) get-vw-t(80px) get-vw-t(30px);
                    &::before {
                        bottom: get-vw-t(42px);
                        right: get-vw-t(9px);
                    }
                }
                &:nth-child(2) {
                    img {
                        bottom: 100%;
                        right: 0;
                        width: get-vw-t(373px);
                        height: get-vw-t(498px);
                    }
                }
                &:nth-child(3) {
                    transform: translate(0, get-vw-t(20px));
                    padding: get-vw-t(60px) get-vw-t(68px) get-vw-t(70px);
                    img {
                        top: calc(100% + 1.2vw);
                        left: get-vw-t(-12px);
                        width: get-vw-t(320px);
                        height: get-vw-t(320px);
                    }
                }
                &:nth-child(1),
                &:nth-child(4) {
                    img {
                        display: none;
                    }
                }
                &:nth-child(4) {
                    transform: translate(0, get-vw-t(70px));
                    padding-bottom: get-vw-t(60px);
                    margin-bottom: get-vw-t(120px);
                }
                &:nth-child(5) {
                    &::before {
                        left: get-vw-t(-10px);
                    }
                    img {
                        bottom: get-vw-t(160px);
                        right: get-vw-t(-274px);
                        width: get-vw-t(246px);
                        height: get-vw-t(236px);
                    }
                }
                &:nth-child(6) {
                    top: get-vw-t(-90px);
                    img {
                        left: get-vw-t(-260px);
                        top: get-vw-t(145px);
                        width: get-vw-t(420px);
                        height: get-vw-t(420px);

                    }
                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 43.42708vw;
                        height: 100%;
                        background-color: $lavander;
                        z-index: -1;
                    }
                }
                &:nth-child(7) {
                    z-index: 10;
                }
                &:nth-child(7),
                &:nth-child(8) {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: $mobile) {
    .smarthoop-how-to-order {
        margin-top: get-vw-m(96px);
        .steps {
            padding-bottom: get-vw-m(240px);
            h1 {
                font-size: get-vw-m(34px);
                line-height: get-vw-m(46px);
                margin-bottom: get-vw-m(55px);
            }
            .steps-wrap {
                width: 100%;
            }
            .step {
                width: 100%;
                padding: get-vw-m(65px) get-vw-m(25px) get-vw-m(15px);
                min-height: auto;
                height: auto;
                h3 {
                    font-size: get-vw-m(30px);
                    line-height: get-vw-m(36px);
                    margin-bottom: get-vw-m(20px);
                }
                h3, p {
                    max-width: 100%;
                }
                &::before {
                    font-size: get-vw-m(80px);
                }
                &:nth-child(1),
                &:nth-child(3),
                &:nth-child(5),
                &:nth-child(7) {
                    border: get-vw-m(6px) solid $violet;
                    &::before {
                        top: get-vw-m(-30px);
                        left: get-vw-m(-2px);
                        bottom: auto;
                    }
                }
                &:nth-child(2),
                &:nth-child(4),
                &:nth-child(6),
                &:nth-child(8) {
                    transform: translate(0, 0);
                    padding: get-vw-m(25px) get-vw-m(20px) get-vw-m(35px) get-vw-m(30px);
                    &::before {
                        bottom: get-vw-m(-20px);
                        right: get-vw-t(9px);
                    }
                }
                &:nth-child(1) {
                    order: 1;
                    margin-bottom: get-vw-m(100px);
                    &::before {
                        left: get-vw-t(-2px);
                    }
                }
                &:nth-child(2) {
                    order: 2;
                    margin-bottom: get-vw-m(50px);
                    img {
                        bottom: 100%;
                        right: get-vw-m(-80px);
                        width: get-vw-m(200px);
                        height: get-vw-m(268px);
                    }
                }
                &:nth-child(3) {
                    order: 3;
                    margin-bottom: get-vw-m(220px);
                    img {
                        top: calc(100% + 1.5vw);
                        left: get-vw-m(-6px);
                        width: get-vw-m(240px);
                        height: get-vw-m(240px);
                    }
                }
                &:nth-child(1),
                &:nth-child(4) {
                    img {
                        display: none;
                    }
                }
                &:nth-child(4) {
                    order: 4;
                    margin-bottom: get-vw-m(50px);
                }
                &:nth-child(5) {
                    order: 5;
                    margin-bottom: get-vw-m(180px);
                    &::before {
                        left: get-vw-t(-10px);
                    }
                    img {
                        bottom: get-vw-m(-170px);
                        right: get-vw-m(-20px);
                        width: get-vw-m(187px);
                        height: get-vw-m(200px);
                    }
                }
                &:nth-child(6) {
                    order: 6;
                    top: 0;
                    img {
                        left: 0;
                        top: get-vw-m(289px);
                        width: get-vw-m(240px);
                        height: get-vw-m(240px);
                    }
                }
                &:nth-child(7) {
                    order: 7;
                    z-index: 10;
                }
                &:nth-child(8) {
                    order: 8;
                }
                &:nth-child(7),
                &:nth-child(8) {
                    display: none;
                }
            }
        }
    }
}

