.smarthoop-prices {
  padding-top: get-vw(200px);
  table {
    margin: get-vw(64px) 0 get-vw(50px);
    width: 100%;
    font-family: 'Uni Sans Thin Caps', sans-serif;
    text-transform: uppercase;
    color: $violet;
    font-size: get-vw(25px);
    line-height: get-vw(50px);
    border-collapse: collapse;
    th {
      background-color: transparentize($yellow, .5);
      border: get-vw(2px) solid $white;
    }
    td {
      border: get-vw(2px) solid $yellow;
    }
    th, td {
      padding: get-vw(28px) get-vw(5px) get-vw(25px);
      text-align: center;
    }
  }
  .extra-info {
    position: relative;
    padding: get-vw(100px);
    box-shadow: 0 0 get-vw(50px) rgba(0, 0, 0, 0.15);
    margin-bottom: get-vw(150px);
    ul {
      li {
        padding-bottom: get-vw(30px);
      }
    }
    .content-editable {
      position: relative;
      z-index: 1;
    }
    img {
      position: absolute;
      top: get-vw(50px);
      right: get-vw(50px);
      width: get-vw(680px);
      height: auto;
    }
  }
}

//@media (max-width: $large-desktop) {
//  .smarthoop-prices {
//    table {
//      font-size: 18px;
//      line-height: 26px;
//    }
//    .extra-info {
//      img {
//        width: 40rem;
//        right: -5rem;
//        top: 60%;
//      }
//    }
//  }
//}
//
//@media (max-width: $desktop) {
//  .smarthoop-prices {
//    .extra-info {
//      padding: 5rem;
//    }
//  }
//}
//
//@media (max-width: $tablet) {
//  .smarthoop-prices {
//    .extra-info {
//      img {
//        top: 90%;
//      }
//    }
//  }
//}