.smarthoop-shipping {
  .content-editable {
    li {
      padding-bottom: get-vw(30px);
    }
  }
  .delivery {
    padding: 0 0 get-vw(150px);
    .delivery-info {
      margin-top: get-vw(250px);
    }
    .bordered {
      width: get-vw(850px);
      border-color: $lavander;
      transform: translate(0, 0);
      padding-top: get-vw(180px);
      z-index: 3;
      position: relative;
      h1 {
        position: absolute;
        top: get-vw(-70px);
        left: get-vw(30px);
      }
    }
    .delivery-img-wrap {
      position: absolute;
      top: 0;
      right: 0;
      width: get-vw(800px);
      height: get-vw(1037px);
      img {
        height: 100%;
        width: auto;
      }
    }
  }

  .payment {
    position: relative;
    padding-bottom: get-vw(350px);
    .row {
      position: relative;
    }
    .decorative {
      top: 0;
      left: 0;
      width: 54%;
      height: get-vw(550px);
    }
    .payment-img-wrap {
      position: absolute;
      top: get-vw(-50px);
      left: 0;
      width: get-vw(850px);
      height: get-vw(500px);
      img {
        width: 100%;
        height: auto;
      }
    }
    .payment-info {
      margin-left: 60.333333%;
    }
  }
}

.page-template-page-shipping {
  & > .make-order {
    display: none;
  }
}

//@media (max-width: $hd) {
//  .smarthoop-shipping {
//    .delivery {
//      .delivery-info {
//        flex: 0 0 100%;
//        max-width: 100%;
//      }
//      .bordered {
//        max-width: 100%;
//      }
//      .delivery-img-wrap {
//        display: none;
//      }
//    }
//  }
//}
//
//@media (max-width: $desktop) {
//  .smarthoop-shipping {
//    .payment {
//      padding-bottom: 150px;
//      .payment-img-wrap {
//        display: none;
//      }
//      .payment-info {
//        margin-left: 0;
//        flex: 0 0 100%;
//        max-width: 100%;
//      }
//    }
//  }
//}