.smarthoop-single-service {
    .back {
        margin-top: get-vw(35px);
    }
    .single-service-description {
        padding: get-vw(100px) 0 get-vw(150px);
        .bordered {
            margin-top: get-vw(35px);
            transform: translate(0, 0);
            border-color: $violet;
            position: relative;
            height: get-vw(680px);
            .col-12:first-child {
                position: static;
            }
            .service-img {
                position: absolute;
                bottom: 0;
                left: get-vw(10px);
                img {
                    position: absolute;
                    bottom: 0;
                    width: auto;
                    height: get-vw(960px);
                }
            }
            h1 {
                position: absolute;
                top: get-vw(-30px);
                width: get-vw(800px);
                text-align: right;
            }
            .text-wrap {
                position: absolute;
                top: get-vw(170px);
                right: 0;
                padding: get-vw(50px) get-vw(50px) 0;
                background-color: transparentize($yellow, .5);
                height: get-vw(750px);
            }
        }
    }
    .single-service-gallery {
        padding: 0 0 get-vw(250px);
        h2 {
            margin-bottom: get-vw(100px);
        }
        .gallery-wrap {
            position: relative;
            height: get-vw(660px);
            .img-wrap {
                position: absolute;
                display: block;
                //background-image: url('../img/Broderie-en-direct-1612x1078@1x.png');
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                &:nth-child(1) {
                    width: 60%;
                    height: get-vw(600px);
                    top: 0;
                    left: 0;
                }
                &:nth-child(2) {
                    width: 40%;
                    height: get-vw(800px);
                    top: get-vw(-100px);
                    right: 0;
                }
                &:nth-child(3) {
                    width: get-vw(500px);
                    height: get-vw(500px);
                    left: get-vw(50px);
                    top: get-vw(50px);
                    z-index: 2;
                }
                &:nth-child(4) {
                    width: get-vw(400px);
                    height: get-vw(400px);
                    left: 45%;
                    top: get-vw(400px);
                    z-index: 2;
                }
            }
        }
        .see-more {
            position: relative;
            z-index: 10;
        }
    }
    .single-service-more {
        padding-bottom: get-vw(150px);
        .decorative {
            width: get-vw(700px);
            height: get-vw(200px);
            right: get-vw(-180px);
            bottom: get-vw(-50px);
        }
        p {
            column-count: 2;
        }
    }
    .single-service-shop {
        //margin-bottom: -15rem;
        .bordered {
            transform: translate(0, 0);
            border-color: $violet;
            max-width: get-vw(950px);
            a {
                //margin-bottom: 14rem;
            }
        }
        .decorative {
            width: get-vw(425px);
            height: get-vw(425px);
            bottom: 0;
            right: 0;
        }
    }
    .single-service-related {
        padding: get-vw(75px) 0;
        h2 {
            margin-bottom: get-vw(25px);
        }
        .related-slider {
            padding: 0;
            &::after {
                content: '';
                position: absolute;
                display: block;
                top: 100%;
                left: -350%;
                width: 400%;
                height: 100%;
                background-color: transparentize($yellow, .5);
                z-index: -1;
            }
        }
        .slick-track {
            margin-left: get-vw(-15px);
            margin-right: get-vw(-15px);
        }
        .slick-slide {
            padding: 0 get-vw(15px);
        }
        .service-item {
            margin-bottom: 0;
        }
        .slick-arrow {
            position: absolute;
            top: 100%;
            left: 0;
            font-size: 0;
            width: get-vw(100px);
            height: get-vw(100px);
            &::after {
                content: '<';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $black;
                font-size: get-vw(30px);
            }
        }
        .slick-next::after {
            content: '>';
        }
        .back {
            margin-right: get-vw(30px);
        }
    }
}

.page-template-services-view {
    .make-order {
        .decorative {
            display: none;
        }
    }
}


//@media (max-width: $fullhd) {
//    .smarthoop-single-service .single-service-description .bordered h1 {
//       right: -12rem;
//    }
//}
//
//@media (max-width: $large-desktop) {
//    .smarthoop-single-service {
//        .single-service-description {
//            .bordered {
//                height: auto;
//                padding: 5rem;
//                .col-12:first-child {
//                    display: none;
//                }
//                h1 {
//                    position: absolute;
//                    top: -10rem;
//                    right: auto;
//                    text-align: left;
//                    width: 100%;
//                    font-size: 4rem;
//                    line-height: 4.8rem;
//                    left: 1.5rem;
//                    br {
//                        display: none;
//                    }
//                }
//                .text-wrap {
//                    position: relative;
//                    top: auto;
//                    height: auto;
//                    padding: 5rem;
//                    margin-top: 6rem;
//                }
//            }
//        }
//    }
//}