.smarthoop-stock {
  padding-bottom: get-vw(100px);
  h1 {
    margin: get-vw(200px) 0 get-vw(100px);
  }
  .stock-item {
    position: relative;
    margin-bottom: get-vw(150px);
    height: get-vw(675px);
    &.bordered {
      transform: translate(0, 0);
    }
    .content-editable {
      max-height: get-vw(450px);
      overflow-y: hidden;
    }
    p {
      position: relative;
      z-index: 2;
    }
    a {
      position: relative;
      z-index: 2;
      display: inline-block;
      margin-top: get-vw(45px);
    }
    img {
      position: absolute;
      bottom: get-vw(-150px);
      right: get-vw(-150px);
      width: auto;
      height: get-vw(475px);
    }
  }
}

//@media (max-width: $desktop) {
//  .smarthoop-stock {
//    .stock-item {
//      height: auto;
//      padding: 5rem;
//      img {
//        height: 30rem;
//        bottom: -10rem;
//        right: -5rem;
//      }
//    }
//  }
//}

.smarthoop-stock-item {
  margin-top: get-vw(250px);
  overflow: visible;
  h1 {
    margin: 0;
    position: absolute;
    top: get-vw(-50px);
    left: get-vw(-50px);
  }
  .stock-item {
    position: relative;
    padding-top: get-vw(140px);
    &::before {
      content: '';
      position: absolute;
      top: get-vw(70px);
      left: get-vw(30px);
      width: 50%;
      height: calc(100% + 5.20833333333vw);
      background-color: $lavander;
      opacity: .5;
      z-index: -1;
    }
    h2, p {
      width: 50%;
    }
    img {
      height: get-vw(700px);
      bottom: get-vw(-50px);
      right: get-vw(-100px);
    }
  }
  .stock-more {
    .stock-more-img {
      width: 100%;
      height: get-vw(600px);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .content-editable {
      padding-top: get-vw(50px);
    }
  }
}

//@media (max-width: $desktop) {
//  .smarthoop-stock-item {
//    margin-top: 15rem;
//    .stock-item {
//      &::before, h2, p {
//        width: 80%;
//      }
//      img {
//        height: 30rem;
//      }
//    }
//  }
//}
//
//@media (max-width: $mobile) {
//  .smarthoop-stock-item {
//    h1 {
//      left: 0;
//    }
//  }
//}