.smarthoop-stock {
  padding-bottom: get-vw(100px);
  h1 {
    margin: get-vw(200px) 0 get-vw(100px);
  }
  .stock-item {
    position: relative;
    margin-bottom: get-vw(150px);
    width: get-vw(655px);
    height: get-vw(675px);
    &.bordered {
      transform: translate(0, 0);
    }
    .content-editable {
      max-height: get-vw(450px);
      overflow-y: hidden;
    }
    p {
      position: relative;
      z-index: 2;
      max-width: get-vw(360px);
    }
    a {
      position: relative;
      z-index: 2;
      display: inline-block;
      margin-top: get-vw(45px);
    }
    img {
      position: absolute;
      bottom: get-vw(-100px);
      right: get-vw(-120px);
      width: auto;
      height: get-vw(475px);
    }
  }
}

.page-template-stock {
  .make-order {
    display: none;
  }
}

//@media (max-width: $desktop) {
//  .smarthoop-stock {
//    .stock-item {
//      height: auto;
//      padding: 5rem;
//      img {
//        height: 30rem;
//        bottom: -10rem;
//        right: -5rem;
//      }
//    }
//  }
//}

.smarthoop-stock-item {
  margin-top: get-vw(215px);
  overflow: visible;
  h1 {
    margin: 0;
    position: absolute;
    max-width: get-vw(343px);
    top: get-vw(-50px);
    left: get-vw(-50px);
  }
  .stock-item {
    position: relative;
    z-index: 10;
    padding-top: get-vw(250px);
    padding-left: get-vw(145px);
    width: 100%;
    margin-bottom: get-vw(100px);
    max-width: get-vw(1500px);
    left: get-vw(50px);
    &::before {
      content: '';
      position: absolute;
      top: get-vw(150px);
      left: get-vw(30px);
      width: get-vw(850px);
      height: calc(100% + 5.20833333333vw);
      background-color: $lavander;
      opacity: .5;
      z-index: -1;
    }
    &::after {
      content: '';
      width: 100%;
      height: get-vw(15px);
      background-color: $yellow;
      display: block;
      position: absolute;
      bottom: get-vw(-15px);
      left: 0;
    }
    .content-editable {
      width: get-vw(617px);
      height: get-vw(550px);
      overflow-y: auto;

    }
    img {
      height: get-vw(700px);
      bottom: get-vw(-50px);
      right: get-vw(-100px);
      z-index: 2;
    }
  }
  .stock-more {
    &-wrap {
      display: flex;
    }
    .stock-more-img {
      width: get-vw(1000px);
      height: get-vw(600px);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .content-editable {
      width: get-vw(497px);
      margin-left: get-vw(48px);
      padding-top: get-vw(50px);
    }
  }
  .back {
    font-family: 'Uni Sans Thin Caps', sans-serif;
    font-weight: bold;
    text-align: left;
    padding-left: get-vw(200px);
    margin-top: get-vw(50px);
  }
}

//@media (max-width: $desktop) {
//  .smarthoop-stock-item {
//    margin-top: 15rem;
//    .stock-item {
//      &::before, h2, p {
//        width: 80%;
//      }
//      img {
//        height: 30rem;
//      }
//    }
//  }
//}
//
//@media (max-width: $mobile) {
//  .smarthoop-stock-item {
//    h1 {
//      left: 0;
//    }
//  }
//}

.page-template-stock-view {
  & > .make-order {
    display: none;
  }
}