.smarthoop-works-category {
  .work-info {
    margin-top: get-vw(100px);
    text-align: center;
    .info-block {
      position: relative;
      background-color: transparentize($lavander, .5);
      width: get-vw(800px);
      top: get-vw(150px);
      left: get-vw(100px);
      right: auto;
      padding-top: get-vw(300px);
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: get-vw(-50px);
        left: get-vw(-50px);
        width: calc(100% + 5.20833333333vw);
        height: 100%;
        border: get-vw(15px) solid $yellow;
        z-index: 10;
      }
      h1 {
        position: absolute;
        top: get-vw(50px);
        left: get-vw(-150px);
        text-align: left;
        z-index: 12;
      }
      p {
        text-align: left;
      }
    }
    .work-info-img {
      position: absolute;
      width: get-vw(750px);
      right: 0;
      top: 0;
      img {
        width: 100%;
        height: auto;
      }
      &::after {
        border: none;
      }
    }
    h1 {
      position: relative;
      top: auto;
      right: auto;
      //position: absolute;
      //top: -25px;
      //right: 25px;
    }
  }
  .related-categories {
    margin-top: get-vw(250px);
    padding: get-vw(100px) 0 0;
  }
  .see-more {
    display: inline-block;
    text-align: center;
    margin-bottom: get-vw(100px);
  }
  .back {
    text-align: left;
    padding-left: get-vw(180px);
  }
}

.page-template-works-category  {
  & > .make-order {
    display: none;
  }
}

