.work-info {
  margin-bottom: get-vw(100px);
  .work-info-img {
    position: relative;
    width: get-vw(775px);
    img {
      width: 100%;
      height: auto;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: get-vw(-120px);
      left: get-vw(-85px);
      width: get-vw(975px);
      height: 100%;
      border: get-vw(15px) solid $violet;
      transition: height $default;
    }
  }
  .info-block {
    position: absolute;
    width: get-vw(800px);
    top: get-vw(250px);
    right: 0;
    padding: get-vw(100px);
    background-color: transparentize($yellow, .5);
  }
  h1 {
    position: absolute;
    z-index: 10;
    width: 110%;
    bottom: calc(100% - 1.30208333333vw);
    right: get-vw(25px);
    text-align: right;
    margin: 0;
  }
}

//.work-gallery {
//  //margin-left: get-vw(-25px);
//  //margin-right: get-vw(-25px);
//  .gallery-item {
//    display: inline-block;
//    width: calc(50% - 25px);
//    //margin: get-vw(50px) get-vw(25px);
//    margin-bottom: 50px;
//    &:first-child {
//      margin-top: 50px;
//    }
//    &:nth-child(odd) {
//      margin-right: 50px;
//    }
//    //&:nth-child(odd) {
//    //  margin-right: get-vw(50px);
//    //}
//    img {
//      width: 100%;
//      height: auto;
//      display: block;
//    }
//  }
//}

.work-gallery {
  margin-left: get-vw(-25px);
  margin-right: get-vw(-25px);
  .gallery-item {
    width: calc(50% - 1.30208333333vw);
    margin-bottom: get-vw(50px);
    padding: 0 get-vw(25px);
    &:first-child {
      margin-top: get-vw(50px);
    }
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

.gallery-item {
  width: calc(50% - 1.30208333333vw);
}

//.work-gallery {
//  width: get-vw(775px);
//  padding-bottom: get-vw(50px);
//  .gallery-item {
//    img {
//
//    }
//  }
//}
//.work-gallery-nav {
//  margin-bottom: get-vw(50px);
//  img {
//    cursor: pointer;
//    width: auto;
//    height: get-vw(200px);
//    margin: 0 auto;
//  }
//  .slick-current {
//    img {
//      border: get-vw(10px) solid $violet;
//    }
//  }
//}

.bottom {
  display: flex;
  align-items: center;
  .back {
    text-align: right;
    padding-left: get-vw(190px);
    font-family: "Uni Sans Thin Caps", sans-serif;
    font-size: get-vw(30px);
    font-weight: bold;
    flex: 1;
  }
}

.page-template-works-gallery {
  & > .make-order {
    display: none;
  }
}

//@media (max-width: $large-desktop) {
//  .work-info {
//    &-img {
//      display: none;
//    }
//    .info-block {
//      padding: get-vw(50px);
//    }
//  }
//}
//
//@media (max-width: $tablet) {
//  .work-gallery {
//    //column-count: 1;
//  }
//  .bottom {
//    flex-direction: column;
//    align-items: flex-start;
//    .back {
//      text-align: left;
//      margin-top: get-vw(20px);
//    }
//  }
//}
//
//@media (max-width: $mobile) {
//  .work-gallery {
//    .gallery-item {
//      img {
//        width: 100%;
//        height: auto;
//      }
//    }
//  }
//  .work-gallery-nav {
//    .gallery-nav-item img {
//       height: get-vw(100px);
//     }
//  }
//}