.work-info {
  margin-bottom: get-vw(100px);
  .work-info-img {
    position: relative;
    width: get-vw(775px);
    img {
      width: 100%;
      height: auto;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: get-vw(-120px);
      left: get-vw(-85px);
      width: get-vw(975px);
      height: 100%;
      border: get-vw(15px) solid $violet;
      transition: height $default;
    }
  }
  .info-block {
    position: absolute;
    width: get-vw(800px);
    top: get-vw(250px);
    right: 0;
    padding: get-vw(100px);
    background-color: transparentize($yellow, .5);
  }
  h1 {
    position: absolute;
    z-index: 10;
    width: 110%;
    bottom: calc(100% - 1.30208333333vw);
    right: get-vw(25px);
    text-align: right;
    margin: 0;
  }
}

.work-gallery {
  margin-left: get-vw(-25px);
  margin-right: get-vw(-25px);
  width: 106.3%;
  .gallery-item {
    width: calc(50% - 1.30208333333vw);
    margin-bottom: get-vw(50px);
    padding: 0 get-vw(25px);
    &:first-child {
      margin-top: get-vw(50px);
    }
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

.gallery-item {
  width: calc(50% - 1.30208333333vw);
}

.bottom {
  display: flex;
  align-items: center;
  position: relative;
  top: get-vw(-50px);
  .back {
    text-align: right;
    padding-left: get-vw(190px);
    font-family: "Uni Sans Thin Caps", sans-serif;
    font-size: get-vw(30px);
    font-weight: bold;
    flex: 1;
  }
}

.page-template-works-gallery,
.gallery-template-default {
  & > .make-order {
    display: none;
  }
}

@media (min-width: $min-tablet) and (max-width: $tablet) {
  .work-info {
    margin-bottom: get-vw-t(20px);
    .work-info-img {
      width: get-vw-t(455px);
      &::after {
        top: get-vw-t(-30px);
        left: get-vw-t(-28px);
        width: get-vw-t(515px);
        height: calc(100% + -2.34375vw);
        border: get-vw-t(12px) solid $violet;
      }
    }
    .info-block {
      width: get-vw-t(512px);
      top: get-vw-t(180px);
      padding: get-vw-t(133px) get-vw-t(45px) get-vw-t(20px);
    }
    h1 {
      bottom: calc(100% - 6.8359375vw);
      right: get-vw-t(13px);
    }
  }

  .work-gallery {
    left: get-vw-t(-5px);
    .gallery-item {
      width: calc(50% + -0.9765625vw);
      margin-bottom: get-vw-t(40px);
      padding: 0 get-vw-t(20px);
      &:first-child {
        margin-top: get-vw-t(40px);
      }
    }
  }

  .bottom {
    top: get-vw-t(-41px);
    position: relative;
    .back {
      font-size: get-vw-t(20px);
    }
  }
}

@media (max-width: $mobile) {
  .work-info {
    margin-bottom: get-vw-m(35px);
    .work-info-img {
      width: get-vw-m(300px);
      margin-left: get-vw-m(16px);
      &::after {
        top: get-vw-m(-37px);
        left: get-vw-m(-17px);
        width: get-vw-m(335px);
        height: calc(100% + -2.34375vw);
        border: get-vw-m(6px) solid $violet;
      }
    }
    .info-block {
      position: relative;
      width: get-vw-m(330px);
      margin-left: auto;
      right: get-vw-m(-15px);
      padding: get-vw-m(50px) get-vw-m(20px) get-vw-m(22px);
    }
    h1 {
      font-size: get-vw-m(34px);
      line-height: get-vw-m(40px);
      bottom: calc(100% - 6.8359375vw);
      right: get-vw-m(15px);
    }
  }

  .work-gallery {
    left: get-vw-m(3px);
    margin-top: get-vw-m(90px);
    .gallery-item {
      width: get-vw-m(347px);
      margin-bottom: get-vw-m(40px);
      padding: 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .bottom {
    position: relative;
    top: get-vw-m(-1px);
    flex-direction: column;
    .back {
      font-size: get-vw-m(20px);
      margin-top: get-vw-m(43px);
      .icon-arrow {
        top: get-vw-m(-4px);
        left: get-vw-m(-30px);
        width: get-vw-m(10px);
        height: get-vw-m(32px);
      }
    }
  }
}
