.smarthoop-services {
  .services {
    padding: 10rem 0 15rem;
    .decorative {
      &.yellow {
        top: 4rem;
        left: 30%;
      }
      &.lavander {
        bottom: 95px;
        right: -35px;
        left: auto;
        top: auto;
      }
    }
    .service-item {
      .service-img-wrap {
        height: 100%;
        padding-right: 0;
        .service-img {
          height: inherit;
          padding: 0;
        }
      }
      .service-title {
        background: white;
        border-radius: 50px 0 0 50px;
        margin-left: 7%;
        padding: 0 18px 0 0;
        margin-bottom: 50px;
        max-height: 10.5rem;
      }
      button {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        margin-left: auto;
        margin-right: 2.7rem;
        transform: translate(-50%, -50%);
        opacity: 0;
        z-index: -1;
      }
    }
    .see-more {
      margin-top: 5rem;
    }
  }
}

@media (min-width: $desktop + 1px) {
  .smarthoop-services .services {
    .service-item:hover {
      .service-title {
        transform: translateY(0) !important;
      }
      button {
        transform: translate(-50%, -50%);
        opacity: 1;
        z-index: 2;
      }
    }
  }
}

@media (max-width: $desktop) {
  .smarthoop-services .services {
    .service-item {
      .service-title {
        width: 93%;
      }
      button {
        opacity: 1;
        z-index: 2;
      }
    }
  }
}


