.common-service-description {
  padding-bottom: get-vw(240px);
  .common-service-wrap {
    display: flex;
    position: relative;
  }
  .common-service-img {
    width: get-vw(850px);
    min-width: get-vw(850px);
    img {
      width: 100%;
      height: auto;
    }
  }
  .common-service-text-wrap {
    right: get-vw(110px);
    width: get-vw(700px);
    min-width: get-vw(700px);
    transform: translate(-2.60416666667vw, 0);
    .btn {
      margin-left: get-vw(118px);
    }
  }
  .common-service-text {
    width: 100%;
    margin: get-vw(50px) 0;
  }
  .decorative {
    width: 100vw;
    height: get-vw(200px);
    left: get-vw(230px);
    bottom: get-vw(-50px);
  }
}

@media (min-width: $min-tablet)
   and (max-width: $tablet) {
  .common-service-description {
    padding-bottom: get-vw-t(142px);
    .common-service-img {
      width: get-vw-t(480px);
      min-width: get-vw-t(480px);
    }
    .common-service-text-wrap {
      right: 0;
      width: get-vw-t(520px);
      min-width: get-vw-t(520px);
      transform: translate(-4.22265625vw, 0);
      .btn {
        margin-left: get-vw-t(148px);
      }
    }
    .common-service-text {
      width: 100%;
      margin: get-vw-t(55px) 0 get-vw-t(40px);
    }
    .decorative {
      width: 100vw;
      height: get-vw-t(170px);
      left: get-vw-t(260px);
      bottom: get-vw-t(-48px);
    }
  }
}

@media (max-width: $mobile) {
  .common-service-description {
    padding-bottom: get-vw-m(87px);
    .common-service-wrap {
      flex-wrap: wrap;
    }
    .common-service-img {
      width: get-vw-m(346px);
      min-width: get-vw-m(350px);
      margin-left: get-vw-m(-15px);
    }
    .common-service-text-wrap {
      right: auto;
      width: get-vw-m(347px);
      min-width: get-vw-m(347px);
      transform: translate(0, -8.53333333333vw);
      .btn {
        width: get-vw-m(225px);
        margin-left: get-vw-m(60px);
      }
    }
    .common-service-text {
      width: 100%;
      margin: 0 0 get-vw-m(30px);
    }
    .decorative {
      width: get-vw-m(184px);
      height: get-vw-m(120px);
      right: get-vw-m(-15px);
      left: auto;
      bottom: get-vw-m(-15px);
    }
  }
}
