.jumbotron {
  margin-top: get-vw(100px);
  //height: 653px;
  margin-bottom: get-vw(118px);
  .inner {
    padding: get-vw(118px) 0;
  }
  h1 {
    margin: 0 0 get-vw(100px);
    max-width: get-vw(700px);
  }
  h1, .underline {
    position: relative;
    z-index: 2;
  }
  .see-more {
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: inline-block;
    .icon-arrow {
      top: 100%;
      transform: translate(-50%, 0);
      margin: get-vw(40px) auto 0;
    }
    &:hover,
    &:focus,
    &:active {
      .underline::after {
        width: 100%;
      }
    }
  }
  .main-slider,
  .video-carousel {
    position: absolute;
    top: get-vw(50px);
    right: get-vw(15px);
    width: 68vw;
    height: 38.2vw;
    &::after {
      content: '';
      position: absolute;
      display: block;
      top: get-vw(-50px);
      left: get-vw(-50px);
      width: 36.5vw;
      height: 36.5vw;
      background-color: $lavander;
      z-index: -1;
    }
  }
  .main-slider {
    overflow: hidden;
    //.item {
    //
    //  &::before {
    //    content: '';
    //    position: absolute;
    //    width: 100%;
    //    height: 100%;
    //    top: 0;
    //    left: 0;
    //    background-color: $white;
    //  }
    //}
    .img {
      position: absolute;
      width: 100%;
      height: 100%;

      top: 0;
      left: 0;

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      opacity: 1;
      transform: scale(1.2);
      animation-duration: 24s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: myMove;
    }
  }
  .video-carousel {
    .video-item {
      background-image: url('../img/videoblocks-machine-embroidery-is-an-embroidery-process-whereby-a-sewing-machine-or-embroidery-machine-is-used-to-create-patterns-on-textiles-textile-industrial-embroidery-machine-sewing-equipment-loom_rl_mluxx6x_thu.png');
      background-size: cover;
      background-position: center center;
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: $hd) {
  .jumbotron {
    h1 {
      //font-size: get-vw(40px);
      //line-height: get-vw(48px);
    }
    .see-more {
      .icon-arrow {
        //margin: get-vw(30px) auto 0;
        //height: get-vw(50px);
        //background-position: center bottom;
      }
    }
  }
}

@media (max-width: $desktop) {
  .jumbotron {
    margin-top: 120px;
    .inner {
      text-align: center;
      padding-top: 36rem;
    }
    h1 {
      margin: 0 0 3rem;
    }
    .see-more {
      width: 100%;
    }
    .decorative {
      display: none;
    }
    .main-slider,
    .video-carousel {
      top: 0;
      left: get-vw(15px);
      right: auto;
      width: calc(100% - 30px);
      height: get-vw(350px);
      &::after {
        width: get-vw(350px);
        height: get-vw(350px);
      }
      .item {
        height: get-vw(350px);
      }
    }
    .video-carousel {
      height: 50vw;
    }
  }
}

@media (max-width: $mobile) {
  .jumbotron {
    h1 {
      font-size: get-vw(32px);
      line-height: get-vw(39px);
    }
    .inner {
      padding-top: get-vw(330px);
    }
    .video-carousel {
      .video-item {
        width: calc(100% + 1.5625vw);
        margin-left: get-vw(-15px);
      }
    }
  }
}

@keyframes myMove {
  1.04167%, 32.29167% {
    opacity: 1;
  }
  34.375% {
    opacity: 0;
    transform: scale(1);
  }
  0%, to {
    transform: scale(1.2);
    opacity: 1;
  }
  98.95833% {
    opacity: 0;
    transform: scale(1.20606);
  }
}

