.jumbotron {
  margin-top: get-vw(100px);
  //height: 653px;
  margin-bottom: get-vw(85px);
  .inner {
    padding: get-vw(105px) 0 get-vw(360px);
  }
  h1 {
    margin: 0 0 get-vw(100px);
    max-width: get-vw(700px);
  }
  h1, .underline, .see-more {
    position: relative;
    z-index: 4;
  }
  .see-more {
    cursor: pointer;
    display: inline-block;
    .icon-arrow {
      position: absolute;
      top: calc(100% + 4.6875vw);
      left: 50%;
      transform: translate(-50%, 0);
      background-position: center bottom;
      transition: .3s ease-in;
    }
    //.icon-eye {
    //  top: 45px;
    //}
    &:hover,
    &:focus,
    &:active {
      .icon-arrow {
        top: calc(100% + 6.25vw);
        //margin: get-vw(150px) auto 0;
      }
    }
  }
  .main-slider,
  .video-carousel {
    position: absolute;
    top: get-vw(50px);
    right: get-vw(15px);
    width: get-vw(1243px);
    height: get-vw(700px);
    &::after {
      content: '';
      position: absolute;
      display: block;
      top: get-vw(-50px);
      left: get-vw(-50px);
      width: 36.5vw;
      height: 36.5vw;
      background-color: $lavander;
      z-index: -1;
    }
  }
  .main-slider {
    .slides-wrap {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
    }
    .img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      opacity: 1;
      transform: scale(1.2);
      animation-duration: 24s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      &:nth-child(1) {
        animation-name: myMove-1;
        z-index: 2;
      }
      &:nth-child(2) {
        animation-name: myMove-2;
        z-index: 1;
      }
      &:nth-child(3) {
        animation-name: myMove-3;
        z-index: 0;
      }
    }
  }
  .video-carousel {
    .video-item {
      background-image: url('../img/videoblocks-machine-embroidery-is-an-embroidery-process-whereby-a-sewing-machine-or-embroidery-machine-is-used-to-create-patterns-on-textiles-textile-industrial-embroidery-machine-sewing-equipment-loom_rl_mluxx6x_thu.png');
      background-size: cover;
      background-position: center center;
      width: 100%;
      height: 100%;
    }
  }
  .video-carousel {
    video {
      cursor: pointer;
    }
    .video-thumbnail {
      cursor: pointer;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .player-controls {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    .toggler {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% - 6px);
      z-index: 2;
    }
    .progress {
      cursor: pointer;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 6px;
      background-color: transparentize($white, .5);
      z-index: 2;
    }
    .progress-filled {
      transition: width $default;
      background-color: $yellow;
      width: 0;
      height: 100%;
    }
    .player-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: get-vw(100px);
      height: get-vw(100px);
      padding: 0;
      background-image: url('../img/video-icon.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
  }
}

::-webkit-media-controls {
  display: none;
}

@media (min-width: $min-tablet)
   and (max-width: $tablet) {
  .jumbotron {
    margin-top: get-vw-t(100px);
    margin-bottom: 0;
    .inner {
      padding: get-vw-t(74px) 0 get-vw-t(311px);
    }
    h1 {
      margin: 0 0 get-vw-t(58px);
      max-width: get-vw-t(520px);
    }
    .see-more {
      .icon-arrow {
        top: calc(100% + 3.5vw);
        background-size: 100%;
        height: get-vw-t(106px);
      }
      &:hover,
      &:focus,
      &:active {
        .icon-arrow {
          top: calc(100% + 5.25vw);
        }
      }
    }
    .main-slider,
    .video-carousel {
      top: get-vw-t(40px);
      right: get-vw-t(15px);
      width: get-vw-t(796px);
      height: get-vw-t(430px);
      &::after {
        top: get-vw-t(-40px);
        left: get-vw-t(-40px);
        width: get-vw-t(450px);
        height: get-vw-t(450px);
      }
    }
    .video-carousel {
      .player-button {
        width: get-vw-t(70px);
        height: get-vw-t(70px);
      }
    }
  }
}

@media (max-width: $mobile) {

}


@keyframes myMove-1 {
  1.04167%, 32.29167% {
    opacity: 1;
  }
  34.375% {
    opacity: 0;
    transform: scale(1);
  }
  0%, to {
    transform: scale(1.2);
    opacity: 1;
  }
  98.95833% {
    opacity:0;transform:scale(1.20606)}
}

@keyframes myMove-2 {
  32.29167% {
    opacity: 1;
    transform: scale(1.2);
  }
  34.375%,65.625% {
    opacity: 1
  }
  67.70833%{opacity:0;transform:scale(1)}
  to{opacity:0;transform:scale(1.2)}
}

@keyframes myMove-3 {
  65.625%{opacity:1;transform:scale(1.2)}
  67.70833%,98.95833%{opacity:1}
  to{opacity:0;transform:scale(1)}
}

