.jumbotron {
  margin-top: 50px;
  .inner {
    padding: 11.8rem 0;
  }
  h1 {
    margin: 0 0 10rem;
  }
  h1, .underline {
    position: relative;
    z-index: 2;
  }
  .see-more {
    cursor: pointer;
    display: inline-block;
    .icon-arrow {
      margin: 10.3rem auto 0;
    }
    &:hover,
    &:focus,
    &:active {
      .underline::after {
        width: 100%;
      }
    }
  }
  .main-slider,
  .video-carousel {
    position: absolute;
    top: 5rem;
    right: 1.5rem;
    width: 68vw;
    height: 36.5vw;
    &::after {
      content: '';
      position: absolute;
      display: block;
      top: -5rem;
      left: -5rem;
      width: 36.5vw;
      height: 36.5vw;
      background-color: $lavander;
      z-index: -1;
    }
  }
  .main-slider {
    .slick-arrow {
      position: absolute;
      width: 100px;
      height: 100px;
      background-color: $lavander;
      z-index: 1;
      border-radius: 0;
      padding: 0;
      bottom: 0;
      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        width: 3px;
        height: 20px;
        background-color: $white;
      }
      &::before {
        top: calc(50% - 6px);
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &::after {
        top: calc(50% + 6px);
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
    .slick-prev {
      right: 100px;
    }
    .slick-next {
      right: 0;
      &::before {
        transform: translate(-50%, -50%) rotate(135deg);
      }
      &::after {
        transform: translate(-50%, -50%) rotate(-135deg);
      }
    }
    .item {
      width: 100%;
      height: 36.5vw;
    }
    .img {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }
  .video-carousel {
    .video-item {
      background-image: url('../img/videoblocks-machine-embroidery-is-an-embroidery-process-whereby-a-sewing-machine-or-embroidery-machine-is-used-to-create-patterns-on-textiles-textile-industrial-embroidery-machine-sewing-equipment-loom_rl_mluxx6x_thu.png');
      background-size: cover;
      background-position: center center;
      width: 100%;
      height: 100%;
    }
    .video-progress {
    }
  }
  .see-more {
    position: relative;
    z-index: 2;
  }
}

@media (max-width: $hd) {
  .jumbotron {
    h1 {
      font-size: 4rem;
      line-height: 4.8rem;
    }
    .see-more {
      .icon-arrow {
        margin: 3rem auto 0;
        height: 5rem;
        background-position: center bottom;
      }
    }
  }
}

@media (max-width: $desktop) {
  .jumbotron {
    margin-top: 120px;
    .inner {
      text-align: center;
      padding-top: 36rem;
    }
    h1 {
      margin: 0 0 3rem;
    }
    .see-more {
      width: 100%;
    }
    .decorative {
      display: none;
    }
    .main-slider,
    .video-carousel {
      top: 0;
      left: 15px;
      right: auto;
      width: calc(100% - 30px);
      height: 350px;
      &::after {
        width: 350px;
        height: 350px;
      }
      .item {
        height: 350px;
      }
    }
  }
}

@media (max-width: $mobile) {
  .jumbotron {
    h1 {
      font-size: 3.2rem;
      line-height: 3.9rem;  
    }
    .inner {
      padding-top: 33rem;
    }
    .main-slider {
      .slick-arrow {
        width: 60px;
        height: 60px;
        bottom: auto;
        top: 0;
      }
      .slick-prev {
        right: 60px;
      }
    }
    .video-carousel {
      .video-item {
        width: calc(100% + 30px);
        margin-left: -15px;
      }
    }
  }
}