.make-order {
    padding-bottom: get-vw(50px);
    .decorative {
        &.background {
            top: get-vw(-100px);
            left: get-vw(15px);
            width: calc(100% - 6.77083vw);
            height: get-vw(500px);
            background-image: url('../img/Broderie-en-direct-1612x1078@1x.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top left;
        }
        &.yellow {
            top: get-vw(75px);
            right: 0;
            width: get-vw(425px);
            height: get-vw(425px);
            opacity: .5;
        }
    }
    .form-wrap {
        background-color: $white;
        margin: 0 auto;
        padding: get-vw(100px);
        box-shadow: 0 0 get-vw(50px) rgba(0, 0, 0, .15);
        h2, p {
            text-align: center;
        }
        h2 {
            max-width: get-vw(560px);
            margin-left: auto;
            margin-right: auto;
        }
        p {
            margin-bottom: get-vw(45px);
        }
        .tabs-wrap {
            margin: 0 get-vw(-100px);
        }
    }
    form {
        padding-top: get-vw(50px);
        margin-bottom: get-vw(-50px);
        &:not(.active) {
            display: none;
        }
        input, textarea, button {
            width: 100%;
            margin-bottom: get-vw(50px);
        }
        .submit-wrap {
            display: flex;
        }
    }
}

.rc-anchor-normal {
    width: 50% !important;
}

//@media (max-width: $mobile) {
//    .make-order {
//        .form-wrap  {
//            padding: get-vw(50px) get-vw(20px);
//            .tabs-wrap {
//                margin: 0 get-vw(-15px);
//            }
//        }
//    }
//}
