.make-order {
    position: relative;
    padding-bottom: get-vw(50px);
    .decorative {
        &.background {
            top: get-vw(-100px);
            left: get-vw(15px);
            width: calc(100% - 6.77083vw);
            height: get-vw(500px);
            background-image: url('../img/broderie.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top left;
        }
        &.yellow {
            top: get-vw(75px);
            right: 0;
            width: get-vw(425px);
            height: get-vw(425px);
            opacity: .5;
        }
    }
    .form-wrap {
        position: relative;
        width: get-vw(1200px);
        background-color: $white;
        margin: 0 auto;
        box-shadow: 0 0 get-vw(50px) rgba(0, 0, 0, .15);
        .form-inner-wrap {
            margin-bottom: get-vw(45px);
        }
        h2, p {
            text-align: center;
        }
        h2 {
            max-width: get-vw(670px);
            margin-left: auto;
            margin-right: auto;
            padding: get-vw(95px) get-vw(50px) 0;
        }
        p {
            margin-bottom: 0;
            padding: 0 get-vw(50px);
        }
        //.tabs-wrap {
        //    margin: 0 get-vw(-100px);
        //}
    }
    form {
        padding: get-vw(50px) get-vw(100px);
        &:not(.active) {
            display: none;
        }
        input, textarea, button, .form-element {
            width: 100%;
            margin-bottom: get-vw(50px);
        }
        textarea {
            height: get-vw(149px);
            margin-bottom: get-vw(46px);
        }
        .submit-wrap {
            display: flex;
        }
    }
    .submit-info-form.active + .box-wrap form {
        display: block;
    }
    #order-form:not(.active) + form + .file-form {
        display: none;
    }
    #order-form.active + form + .file-form {
        display: block;
    }
    .box-wrap {
        position: absolute;
        padding: 0;
        right: get-vw(100px);
        top: get-vw(604px);
        width: calc(50% - 6.23333vw);
        input {
            margin: 0;
        }
    }
}

.rc-anchor-normal {
    width: 50% !important;
}

@media (min-width: $min-tablet)
and (max-width: $tablet) {
    .make-order {
        padding-bottom: get-vw-t(65px);
        .decorative {
            &.background {
                top: get-vw-t(-80px);
                left: get-vw-t(15px);
                width: get-vw-t(920px);
                height: get-vw-t(380px);
            }
            &.yellow {
                top: get-vw-t(75px);
                width: get-vw-t(295px);
                height: get-vw-t(295px);
            }
        }
        .form-wrap {
            width: get-vw-t(820px);
            box-shadow: 0 0 get-vw-t(50px) rgba(0, 0, 0, .15);
            .form-inner-wrap {
                margin-bottom: get-vw-t(40px);
            }
            h2 {
                max-width: get-vw-t(506px);
                padding: get-vw-t(70px) 0 0;
            }
            p {
                padding: 0 get-vw-t(50px);
            }
        }
        form {
            padding: get-vw-t(50px) get-vw-t(40px);
            input, textarea, button, .form-element {
                margin-bottom: get-vw-t(42px);
            }
            textarea {
                height: get-vw-t(140px);
                margin-bottom: get-vw-t(45px);
            }
        }
        .box-wrap {
            right: get-vw-t(40px);
            top: get-vw-t(530px);
            width: calc(50% - 5.3vw);
        }
    }
}

@media (max-width: $mobile) {
    .make-order {
        padding-bottom: get-vw-m(50px);
        .decorative {
            &.background {
                top: get-vw-m(-60px);
                left: 0;
                width: 100%;
                height: get-vw-m(350px);
            }
            &.yellow {
                top: get-vw-t(75px);
                width: get-vw-m(320px);
                height: get-vw-m(370px);
            }
        }
        .form-wrap {
            width: get-vw-m(347px);
            box-shadow: 0 0 get-vw-m(50px) rgba(0, 0, 0, .15);
            .form-inner-wrap {
                margin-bottom: get-vw-m(32px);
            }
            h2 {
                max-width: get-vw-m(310px);
                padding: get-vw-m(50px) 0 0;
                line-height: get-vw-m(38px);
                margin-bottom: get-vw-m(20px);
            }
            p {
                padding: 0 get-vw-t(50px);
            }
        }
        form {
            padding: get-vw-m(40px) get-vw-m(12px) get-vw-m(58px);
            input, textarea, button, .form-element {
                margin-bottom: get-vw-m(30px);
            }
            textarea {
                height: get-vw-m(170px);
                margin-bottom: get-vw-m(200px);
            }
            .select2-container {
                margin-bottom: get-vw-m(30px);
            }
        }
        .box-wrap {
            right: get-vw-m(12px);
            top: get-vw-m(845px);
            width: calc(100% - 6.4vw);
        }
    }
}
