.make-order {
    position: relative;
    padding-bottom: get-vw(50px);
    .decorative {
        &.background {
            top: get-vw(-100px);
            left: get-vw(15px);
            width: calc(100% - 6.77083vw);
            height: get-vw(500px);
            background-image: url('../img/broderie.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top left;
        }
        &.yellow {
            top: get-vw(75px);
            right: 0;
            width: get-vw(425px);
            height: get-vw(425px);
            opacity: .5;
        }
    }
    .form-wrap {
        position: relative;
        width: get-vw(1200px);
        background-color: $white;
        margin: 0 auto;
        box-shadow: 0 0 get-vw(50px) rgba(0, 0, 0, .15);
        .form-inner-wrap {
            margin-bottom: get-vw(45px);
        }
        h2, p {
            text-align: center;
        }
        h2 {
            max-width: get-vw(670px);
            margin-left: auto;
            margin-right: auto;
            padding: get-vw(100px) get-vw(50px) 0;
        }
        p {
            margin-bottom: 0;
            padding: 0 get-vw(50px);
        }
        //.tabs-wrap {
        //    margin: 0 get-vw(-100px);
        //}
    }
    form {
        padding: get-vw(50px) get-vw(100px);
        &:not(.active) {
            display: none;
        }
        input, textarea, button, .form-element {
            width: 100%;
            margin-bottom: get-vw(50px);
        }
        textarea {
            height: get-vw(149px);
            margin-bottom: get-vw(46px);
        }
        .submit-wrap {
            display: flex;
        }
    }
    #order-form:not(.active) + form + .file-form {
        display: none;
    }
    #order-form.active + form + .file-form {
        display: block;
    }
    .box-wrap {
        position: absolute;
        padding: 0;
        right: get-vw(100px);
        top: get-vw(604px);
        width: calc(50% - 6.23333vw);
        input {
            margin: 0;
        }
    }
}

.rc-anchor-normal {
    width: 50% !important;
}

//@media (max-width: $mobile) {
//    .make-order {
//        .form-wrap  {
//            padding: get-vw(50px) get-vw(20px);
//            .tabs-wrap {
//                margin: 0 get-vw(-15px);
//            }
//        }
//    }
//}
