.services {
  padding-bottom: get-vw(215px);
  .decorative {
    width: get-vw(425px);
    height: get-vw(425px);
    opacity: .5;
    top: get-vw(-50px);
    left: get-vw(-170px);
  }
  .service-item {
    display: block;
    position: relative;
    height: get-vw(500px);
    overflow: hidden;
    box-shadow: 0 0 get-vw(50px) rgba(0, 0, 0, 0.15);
    padding-top: 80%;
    margin-bottom: get-vw(55px);
    background-color: $white;
    .service-img-wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      transition: $default;
      padding-right: 24%;
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: $default;
      }
      .service-img {
        width: 100%;
        padding-bottom: get-vw(380px);
        background-image: url('../img/38bba466020cded409f222437f8c15d6.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        transition: $default;
      }
    }
    .service-title {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      padding: get-vw(11px) get-vw(27px) get-vw(11px) 0;
      text-align: right;
      color: $violet;
      font-family: 'Uni Sans Thin Caps', sans-serif;
      font-size: get-vw(25px);
      font-weight: bold;
      line-height: get-vw(50px);
      transition: $default;
      max-height: get-vw(122px);
      overflow: hidden;
      text-overflow: ellipsis;
    }
    button {
      display: block;
      position: absolute;
      right: get-vw(27px);
      top: 100%;
      margin-top: get-vw(25px);
    }
  }
  .see-more {
    text-align: center;
  }
}

//@media (min-width: $desktop + 1px) {
  .services {
    .service-item:hover {
      .service-img-wrap {
        padding-right: 0;
        &::after {
          background-color: transparentize($white, .4);
        }
        .service-img {
          padding-bottom: get-vw(500px);
        }
      }
      .service-title,
      button {
        transform: translateY(get-vw(-124px));
      }
    }
  }
//}

//@media (max-width: $desktop) {
//  .smarthoop-home {
//    .services {
//      .service-item {
//        .service-title {
//          max-height: 20rem;
//          bottom: 50%;
//          right: 50%;
//          transform: translate(50%, 50%);
//          width: 100%;
//          padding-right: 0;
//          text-align: center;
//        }
//      }
//    }
//  }
//  .services {
//    .service-item {
//      padding-top: 0;
//      .service-img-wrap {
//        padding-right: 0;
//        &::after {
//          background-color: transparentize($white, .4);
//        }
//        .service-img {
//          padding-bottom: 50rem;
//        }
//      }
//
//      button {
//        right: 50%;
//        top: calc(50% + 10rem);
//        transform: translate(50%, -50%);
//      }
//    }
//  }
//}

