.services {
  padding-bottom: get-vw(210px);
  .decorative {
    width: get-vw(425px);
    height: get-vw(425px);
    opacity: .5;
    top: get-vw(-50px);
    left: get-vw(-170px);
  }
  .service-item {
    display: block;
    position: relative;
    height: get-vw(500px);
    overflow: hidden;
    box-shadow: 0 0 get-vw(50px) rgba(0, 0, 0, 0.15);
    padding-top: 80%;
    margin-bottom: get-vw(55px);
    background-color: $white;
    .service-img-wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      transition: $default;
      padding-right: 24%;
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: $default;
      }
      .service-img {
        width: 100%;
        padding-bottom: get-vw(380px);
        background-image: url('../img/38bba466020cded409f222437f8c15d6.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        transition: $default;
      }
    }
    .service-title {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      padding: get-vw(11px) get-vw(27px) get-vw(11px) 0;
      text-align: right;
      color: $violet;
      font-family: 'Uni Sans Thin Caps', sans-serif;
      font-size: get-vw(25px);
      font-weight: bold;
      line-height: get-vw(50px);
      transition: $default;
      max-height: get-vw(122px);
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: get-vw(280px);
    }
    .btn {
      display: block;
      position: absolute;
      right: get-vw(27px);
      top: 100%;
      margin-top: get-vw(25px);
    }
    &:hover {
      .service-img-wrap {
        padding-right: 0;
        &::after {
          background-color: transparentize($white, .4);
        }
        .service-img {
          padding-bottom: get-vw(500px);
        }
      }
      .service-title,
      .btn {
        transform: translateY(get-vw(-124px));
      }
    }
  }
  .see-more {
    text-align: center;
  }
}

.services-mobile {
  display: none;
}

@media (min-width: $min-tablet)
and (max-width: $tablet) {
  .services {
    padding-bottom: get-vw-t(170px);
    h2 {
      padding-left: get-vw-t(16px);
      margin-bottom: get-vw-t(40px);
    }
    .decorative {
      width: get-vw-t(296px);
      height: get-vw-t(425px);
      top: get-vw-t(-50px);
      left: -2%;
    }
    .service-item {
      height: get-vw-t(465px);
      box-shadow: 0 0 get-vw-t(50px) rgba(0, 0, 0, 0.15);
      padding-top: get-vw-t(375px);
      margin-bottom: get-vw-t(75px);
      .service-img-wrap {
        padding-right: 19%;
        .service-img {
          padding-bottom: get-vw-t(375px);
        }
      }
      .service-title {
        padding: get-vw-t(5px) get-vw-t(16px) get-vw-t(15px) 0;
        font-size: get-vw-t(22px);
        line-height: get-vw-t(40px);
        max-height: get-vw-t(90px);
        max-width: get-vw-t(280px);
      }
      .btn {
        right: get-vw-t(27px);
        margin-top: get-vw-t(25px);
      }
      .see-more {
        margin-top: get-vw-t(-25px);
      }
      &:hover {
        .service-img-wrap {
          .service-img {
            padding-bottom: get-vw-t(500px);
          }
        }
        .service-title,
        .btn {
          transform: translateY(get-vw-t(-124px));
        }
      }
    }
  }
}

@media (max-width: $mobile) {
  .services {
    padding-bottom: get-vw-m(100px);
  }
  .services-desktop {
    display: none;
  }
  .services-mobile {
    display: block;
  }
}

