@mixin bordered-block() {
  position: relative;
  border: get-vw(15px) solid $violet;
  transform: translate(get-vw(50px), get-vw(50px));
  z-index: 1;
  background-color: transparent;
  &::before {
    left: 0;
    color: $violet;
  }
}

@mixin background-block() {
  padding-top: get-vw(113px);
  padding-left: get-vw(130px);
  padding-right: get-vw(34px);
  background-color: $lavander;
  border: none;
  &::before {
    right: get-vw(-6px);
    color: $white;
  }
}

.steps {
  counter-reset: section;
  padding-bottom: get-vw(260px);
  .step {
    min-height: get-vw(390px);
    padding: get-vw(50px);
    &::before {
      counter-increment: section;
      content: counter(section);
      font-size: get-vw(150px);
      position: absolute;
      font-family: 'Uni Sans Heavy Caps', sans-serif;
      bottom: get-vw(-37px);
    }
    h3 {
      color: $violet;
      font-family: 'Uni Sans Thin Caps', sans-serif;
      font-size: get-vw(25px);
      font-weight: bold;
      line-height: get-vw(50px);
      margin-bottom: get-vw(25px);
    }
    p {
      position: relative;
      z-index: 1;
    }
  }
  .see-more {
    margin-top: get-vw(90px);
    text-align: center;
  }
}

.steps {
  .step {
    &:nth-child(1),
    &:nth-child(3),
    &:nth-child(6),
    &:nth-child(8) {
      @include bordered-block();
    }
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(7) {
      @include background-block();
    }
  }
}

@media (min-width: $min-tablet)
   and (max-width: $tablet) {
  .steps {
    padding-bottom: get-vw-t(185px);
    h2 {
      padding-left: get-vw-t(16px);
      margin-bottom: get-vw-t(62px);
    }
    &-wrap {
      width: get-vw-t(774px);
      margin: 0 auto;
    }
    .step {
      min-height: get-vw-t(387px);
      padding: get-vw-t(80px) get-vw-t(70px);
      &::before {
        font-size: get-vw-t(150px);
        bottom: get-vw-t(-37px);
      }
      h3 {
        font-size: get-vw-t(22px);
        line-height: get-vw-t(40px);
        margin-bottom: get-vw-t(5px);
      }
      h3, p {
        max-width: get-vw-t(200px);
      }
    }
    .see-more {
      margin-top: get-vw-t(90px);
    }
  }
  .steps {
    .step {
      &:nth-child(1),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(8) {
        @include bordered-block();
        border: get-vw-t(12px) solid $violet;
        transform: translate(get-vw-t(35px), get-vw-t(35px));
        z-index: 2;
      }
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(6),
      &:nth-child(7) {
        @include background-block();
        padding-top: get-vw-t(114px);
        padding-left: get-vw-t(112px);
        padding-right: get-vw-t(62px);
        transform: translate(0, 0);
        &::before {
          left: auto;
          right: get-vw-t(-6px);
        }
      }
    }
  }
}

@media (max-width: $mobile) {
  .steps {
    padding-bottom: get-vw-m(165px);
    h2 {
      padding-left: get-vw-t(16px);
      margin-bottom: get-vw-t(62px);
    }
    &-wrap {
      width: get-vw-m(1000px);
      margin: 0;
    }
    .steps-scroll {
      overflow-y: auto;
      height: get-vw-m(530px);
      margin-right: -15px;
    }
    .step {
      width: get-vw-m(250px);
      min-height: get-vw-m(250px);
      padding: get-vw-m(25px) get-vw-m(45px);
      &::before {
        font-size: get-vw-m(120px);
        line-height: get-vw-m(112px);
        bottom: get-vw-t(-37px);
      }
      h3 {
        font-size: get-vw-m(18px);
        line-height: get-vw-m(30px);
        margin-bottom: get-vw-m(5px);
      }
      h3, p {
        max-width: get-vw-m(160px);
      }
    }
    .see-more {
      margin-top: get-vw-t(90px);
    }
  }
  .steps {
    .step {
      &:nth-child(1),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(8) {
        @include bordered-block();
        border: get-vw-m(6px) solid $violet;
        transform: translate(get-vw-m(15px), get-vw-m(15px));
        z-index: 2;
      }
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(6),
      &:nth-child(7) {
        @include background-block();
        //padding-top: get-vw-t(114px);
        //padding-left: get-vw-t(112px);
        //padding-right: get-vw-t(62px);
        transform: translate(0, 0);
        &::before {
          left: auto;
          right: get-vw-m(-2px);
        }
      }
      &:nth-child(1) {
        order: 1;
      }
      &:nth-child(2) {
        order: 5;
      }
      &:nth-child(3) {
        order: 2;
      }
      &:nth-child(4) {
        order: 6;
      }
      &:nth-child(5) {
        order: 3;
      }
      &:nth-child(6) {
        order: 7;
      }
      &:nth-child(7) {
        order: 4;
      }
      &:nth-child(8) {
        order: 8;
      }
    }
  }
}
