.stock {
  padding-bottom: get-vw(140px);
  .stock-wrap {
    display: flex;
    position: relative;
  }
  .stock-img {
    width: get-vw(550px);
    min-width: get-vw(550px);
    img {
      width: 100%;
      height: auto;
    }
  }
  .stock-text-wrap {
    width: get-vw(1100px);
    min-width: get-vw(1100px);
    transform: translate(-2.60416666667vw, -2.86458333333vw);
  }
  .stock-text {
    width: 100%;
    position: relative;
    .stock-short-desc {
      position: relative;
      z-index: 1;
      max-width: get-vw(400px);
      margin-bottom: get-vw(45px);
    }
    a {
      display: inline-block;
      margin: 0 0 get-vw(100px);
    }
    .ornament {
      position: absolute;
      max-width: get-vw(440px);
      width: 50%;
      height: auto;
      bottom: get-vw(-50px);
      right: get-vw(50px);
    }
  }
}

//@media (max-width: $xl - 1px) {
//  .stock {
//    .stock-text {
//      .ornament {
//        right: -10rem;
//      }
//    }
//  }
//}
//
//@media (min-width: $desktop + 1px) {
//  .stock {
//    .stock-text {
//      &.bordered {
//        transform: translate(-9.3rem, -5rem);
//      }
//    }
//  }
//}
//
//@media (max-width: $desktop) {
//  .stock {
//    .stock-img {
//      display: none;
//    }
//  }
//}
//
//@media (max-width: $mobile) {
//  .stock {
//    .stock-text {
//      .ornament {
//        top: 100%;
//        right: 0;
//        transform: translate(0, -60px);
//      }
//    }
//  }
//}
