.stock {
  padding-bottom: get-vw(150px);
  .stock-img {
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
  .stock-text {
    position: relative;
    p {
      position: relative;
      z-index: 1;
      max-width: get-vw(400px);
    }
    a {
      display: inline-block;
      margin: get-vw(150px) 0 get-vw(40px);
    }
    .ornament {
      position: absolute;
      max-width: get-vw(440px);
      width: 50%;
      height: auto;
      top: get-vw(50px);
      right: get-vw(50px);
    }
  }
}

//@media (max-width: $xl - 1px) {
//  .stock {
//    .stock-text {
//      .ornament {
//        right: -10rem;
//      }
//    }
//  }
//}
//
//@media (min-width: $desktop + 1px) {
//  .stock {
//    .stock-text {
//      &.bordered {
//        transform: translate(-9.3rem, -5rem);
//      }
//    }
//  }
//}
//
//@media (max-width: $desktop) {
//  .stock {
//    .stock-img {
//      display: none;
//    }
//  }
//}
//
//@media (max-width: $mobile) {
//  .stock {
//    .stock-text {
//      .ornament {
//        top: 100%;
//        right: 0;
//        transform: translate(0, -60px);
//      }
//    }
//  }
//}
