.stock {
  padding-bottom: get-vw(140px);
  .stock-wrap {
    display: flex;
    position: relative;
  }
  .stock-img {
    width: get-vw(550px);
    min-width: get-vw(550px);
    img {
      width: 100%;
      height: auto;
    }
  }
  .stock-text-wrap {
    width: get-vw(1100px);
    min-width: get-vw(1100px);
    transform: translate(-2.60416666667vw, -2.86458333333vw);
  }
  .stock-text {
    width: 100%;
    position: relative;
    .stock-short-desc {
      position: relative;
      z-index: 1;
      max-width: get-vw(400px);
      margin-bottom: get-vw(45px);
    }
    a {
      display: inline-block;
      margin: 0 0 get-vw(100px);
    }
    .ornament {
      position: absolute;
      max-width: get-vw(440px);
      width: 50%;
      height: auto;
      bottom: get-vw(-50px);
      right: get-vw(50px);
    }
  }
}

@media (min-width: $min-tablet)
   and (max-width: $tablet) {
  .stock {
    padding-bottom: get-vw-t(90px);
    .stock-img {
      width: get-vw-t(360px);
      min-width: get-vw-t(360px);
    }
    .stock-text-wrap {
      width: get-vw-t(660px);
      min-width: get-vw-t(660px);
      transform: translate(-5.859375vw, -4.1vw);
    }
    .stock-text {
      &.bordered {
        padding: get-vw-t(70px) get-vw-t(88px);
      }
      h2 {
        margin-bottom: get-vw-t(20px);
      }
      .stock-short-desc {
        max-width: get-vw-t(385px);
        margin-bottom: get-vw-t(35px);
      }
      a {
        margin: 0 0 get-vw-t(95px);
      }
      .ornament {
        max-width: get-vw-t(232px);
        width: 50%;
        bottom: get-vw-t(-50px);
        right: get-vw-t(-15px);
      }
    }
  }
}

@media (max-width: $mobile) {
  .stock {
    padding-bottom: get-vw-m(150px);
    .stock-wrap {
      flex-wrap: wrap;
    }
    .stock-img {
      width: get-vw-m(350px);
      min-width: get-vw-m(350px);
      margin-left: get-vw-m(-15px);
    }
    .stock-text-wrap {
      width: get-vw-m(350px);
      min-width: get-vw-m(350px);
      transform: translate(0, -8.53333333333vw);
    }
    .stock-text {
      &.bordered {
        padding: get-vw-m(50px) get-vw-m(27px) get-vw-m(140px) get-vw-m(6px);
      }
      h2 {
        //margin-bottom: get-vw-m(20px);
      }
      .stock-short-desc {
        max-width: 100%;
        margin-bottom: get-vw-m(30px);
      }
      a {
        width: get-vw-m(225px);
        //margin: 0 0 get-vw-t(95px);
      }
      .ornament {
        width: get-vw-m(140px);
        max-width: get-vw-m(140px);
        bottom: get-vw-m(-50px);
        right: get-vw-m(-15px);
      }
    }
  }
}
