$white: #fff;
$snow: #fcfcfc;
$ghost-white: #f9f9ff;
$pale-grey: #e9eaf9;

$lavender: #e9eaf9;
$silver: #d2d2dc;
$grey-blue: #6b6d8c;
$blue: #222eff;
$dark-blue: #1922ba;
$dusk: #3a3d66;
$night-blue: #090c40;

$green: #00da6e;

$orange: #ff7421;
$dark-orange: #d15e1b;

$red: #ff2174;

$black: #000;