.links-list {
  padding: 0;
  list-style: none;
  line-height: 1;
  li {
    display: inline-block;
    position: relative;
    padding: 0 2.5rem 3rem 0;
    font-size: 1.6rem;
    line-height: 2.4rem;
    &:last-child {
      padding-right: 0;
    }
    &:not(:last-child) {
      &::after {
        content: '';
        width: 1px;
        height: 2.4rem;
        position: absolute;
        right: 1.25rem;
        background-color: #e9eaf9;
      }
    }
    a {
      font-size: inherit;
      line-height: inherit;
    }
  }
}

@media (max-width: $mobile) {
  .links-list {
    li {
      padding: 0 2.5rem 2.4rem 0;
      &:not(:last-child)::after {
        right: 1.1rem;
      }
    }
  }
}