.tabs {
  .tab-nav {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    button {
      padding: 2rem 3.2rem;
      font-family: Karla-Regular, sans-serif;
      font-weight: normal;
      white-space: nowrap;
      background-color: transparent;
      border-bottom: 1px solid transparentize($night-blue, .9);
      color: $grey-blue;
      &.active {
        font-family: Karla-Bold, sans-serif;
        color: $night-blue;
        //border-bottom: 1px solid $orange;
        //box-shadow: 0 3px 0 $orange;
      }
      &:hover {
        color: $night-blue;
      }
    }
    hr {
      position: absolute;
      left: 0;
      bottom: -.3rem;
      height: .4rem;
      margin: 0;
      background-color: $orange;
      transition: $default;
    }
  }
}

@media (max-width: $mobile) {
  .tabs {
    width: 100%;
    .tab-nav {
      justify-content: space-between;
      border-bottom: 1px solid transparentize($night-blue, .9);
      button {
        border-bottom: none;
      }
    }
  }
}

@media (max-width: $mobile) {
  .tabs {
    .tab-nav {
      button {
        padding: 2rem .2rem;
        width: 25%;
        text-align: center;
        &:nth-child(1) {
          width: 15%;
        }
        &:nth-child(4) {
          width: 35%;
        }
      }
    }
  }
}
