.tag-wrap {
  .tag, .tag-doubled {
    margin-bottom: 2rem;
  }
}

a.tag,
.tag {
  font-family: Karla-Bold, sans-serif;
  display: inline-block;
  padding: .7rem 1.6rem;
  font-size: 1.4rem;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6rem;
  letter-spacing: .19rem;
  text-transform: uppercase;
  background-color: $blue;
  color: $snow;
  cursor: pointer;
  transition: $default;
  &:hover {
    text-decoration: none;
    background-color: $dark-blue;
    color: $snow;
  }
  &:visited {
    color: $snow;
  }
  &:not(:last-child) {
    margin-right: 2rem;
  }
  &.ghost-white {
    color: $night-blue;
    background-color: $ghost-white;
    border: 1px solid rgba(9, 12, 64, .04);
    &:hover {
      color: $night-blue;
    }
  }
  &.outline {
    border: 1px solid $pale-grey;
    background-color: $white;
    color: $night-blue;
    &:hover {
      background-color: $ghost-white;
      color: $night-blue;
    }
    &:active,
    &.active {
      background-color: $night-blue;
      color: $white;
    }
  }
  &.night-blue {
    background-color: $night-blue;
    &:hover {
      background-color: $grey-blue;
    }
  }
  &.blue {
    background-color: $blue;
    color: $white;
    border: 1px solid $blue;
    &:hover {
      background-color: $dark-blue;
      color: $white;
      border-color: $dark-blue;
    }
  }
  &.orange {
    background-color: $orange;
    border: 1px solid $orange;
    &:hover {
      background-color: $dark-orange;
      border-color: $dark-orange;
    }
  }
  &.white {
    background-color: $white;
    color: $night-blue;
    &:hover {
      background-color: $ghost-white;
      color: $night-blue;
    }
    &:visited {
      color: inherit;
    }
  }
}

a.tag-doubled,
.tag-doubled {
  font-family: Karla-Bold, sans-serif;
  display: flex;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
  span {
    padding: .7rem 1.6rem;
    font-size: 1.4rem;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: .31rem;
    text-transform: uppercase;
  }
  span:first-child {
    background-color: $blue;
    color: $snow;
    transition: $default;
  }
  span:last-child {
    background-color: $ghost-white;
    border: 1px solid $lavender;
    i {
      margin-left: 6px;
    }
  }
  &:hover {
    span:first-child {
      background-color: $dark-blue;
    }
  }
  &.night-blue {
    span:first-child {
      background-color: $night-blue;
    }
    span:last-child {
      color: $night-blue;
      i {
        background-color: $night-blue;
      }
    }
    &:hover {
      span:first-child {
        background-color: $grey-blue;
      }
    }
  }
  &.blue {
    span:first-child {
      background-color: $blue;
    }
    span:last-child {
      color: $blue;
      i {
        background-color: $blue;
      }
    }
    &:hover {
      span:first-child {
        background-color: $dark-blue;
      }
    }
  }
  &.orange {
    span:first-child {
      background-color: $orange;
    }
    span:last-child {
      color: $orange;
      i {
        background-color: $orange;
      }
    }
    &:hover {
      span:first-child {
        background-color: $dark-orange;
      }
    }
  }
}

.tag-outline-blue {
  background-color: transparent;
  border-top: 2px solid $night-blue;
  border-bottom: 2px solid $night-blue;
  color: $blue;
  &:hover {
    background-color: inherit;
    color: $dark-blue;
  }
}

.tag-outline-orange {
  background-color: transparent;
  border-top: 2px solid $night-blue;
  border-bottom: 2px solid $night-blue;
  color: $orange;
  &:hover {
    background-color: inherit;
    color: $dark-orange;
  }
}
