$default: .3s ease-out;

.scale-animation {
  animation: scale .5s ease-in-out;
}

@media (min-width: 1201px) {
  @keyframes scale {
    from {font-size: 3.4rem;}
    50% {font-size: 4.4rem;}
    to {font-size: 3.4rem;}
  }
}

@media (max-width: 1200px) {
  @keyframes scale {
    from {font-size: 4.4rem;}
    50% {font-size: 5.4rem;}
    to {font-size: 4.4rem;}
  }
}

