.youtube-frame {
  width: 100%;
  position: relative;
}
.youtube-frame,
.youtube-thumbnail {
  height: 60rem;
}
.youtube-thumbnail {
  position: absolute;
  z-index: 1;
  width: calc(100% - 5.2rem);
  .btn-play {
    position: absolute;
    width: 13rem;
    height: 13rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparentize(#fcfcfc, .7);
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
      width: 0;
      height: 0;
      border-left: 1rem solid transparent;
      border-right: 1rem solid transparent;
      border-bottom: 1.5rem solid $white;
    }
    &:hover {
      background-color: transparentize(#fcfcfc, .4);
      &::after {
        border-bottom-color: $blue;
      }
    }
  }
}

@media (max-width: $desktop) {
  .youtube-thumbnail {
    .btn-play {
      width: 10rem;
      height: 10rem;
    }
  }
}
