.contact-us {
  padding-top: 16.4rem;
  .form-wrap {
    margin: 0;
    padding: 7.6rem 12rem;
    background-color: #f9f9ff;
    border: 1px solid #e9eaf9;
  }
  .contact-form {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    h2 {
      margin-bottom: 6.2rem;
      color: $night-blue;
    }
    input, textarea {
      border-bottom-color: $grey-blue;
      &:focus + label {
        color: $dusk;
      }
    }
    .checkbox-wrap {
      margin-bottom: 6.4rem;
      span {
        color: $night-blue;
      }
    }
    .btn {
      width: 24rem;
    }
    .form-message {
      margin-left: 1.6rem;
    }
  }
  .hys-contacts {
    padding-top: 6rem;
    .media {
      margin-bottom: 6rem;
      h3 {
        font-size: 2.4rem !important;
        margin-bottom: 3rem;
      }
      .social-icons {
        display: flex;
        margin: 0;
        padding: 0;
        li {
          float: none;
          &:not(:last-child) {
            a {
              margin-right: 2rem;
            }
          }
          a {
            margin-left: 0;
            color: $grey-blue;
            font-size: 2.2rem;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .hys-contacts-list {
    .contact-item {
      &:not(:last-child) {
        margin-bottom: 5.2rem;
      }
      .purpose-type {
        display: inline-block;
        font-family: Karla-Bold, sans-serif;
        margin: 0 0 2.4rem;
        p {
          margin: 0;
          color: $grey-blue;
        }
      }
      .contact-info {
        display: flex;
        margin-bottom: 1.6rem;
        h3 {
          margin: 0;
          color: $night-blue;
        }
        small {
          color: $dusk;
        }
      }
      .contact-avatar {
        width: 6.4rem;
        height: 6.4rem;
        margin-right: 2.4rem;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        img {
          width: auto;
          height: 100%;
        }
      }
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
          display: inline-block;
          margin-bottom: 2rem;
          a {
            font-size: 1.6rem;
            margin-right: 2rem;
            &:not(.blue):hover {
              text-decoration: none;
            }
            i {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
  .hys-offices {
    padding: 20.8rem 0;
    h3 {
      margin: 0 0 3.6rem 12rem;
    }
    .office-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 29rem;
      padding: 2rem 12rem;
      position: relative;
      overflow: hidden;
      &:hover {
        .office-map {
          transform: scale(1.1);
        }
      }
      .office-map {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        transition: $default;
      }
      h2 {
        z-index: 1;
        color: $white;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
          position: relative;
          padding-left: 3.3rem;
          &:not(:last-child) {
            margin-bottom: 2rem;
          }
          &::before {
            content: '\e903';
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
            font-family: 'icomoon';
            font-size: 2rem;
            color: $orange;
          }
          a {
            color: $white;
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

@media (min-width: $desktop + 1px) and (max-width: $hd) {
  .contact-us {
    padding-top: 13rem;
    .form-wrap {
      padding: 6.4rem 6rem 7rem;
      background-color: transparent;
      border: none;
    }
    .hys-offices {
      padding: 10rem 0 15.8rem;
      h3 {
        margin: 0 0 3.6rem 6rem;
      }
      h2 {
        color: $white;
      }
    }
  }
}

@media (max-width: $desktop) {
  .contact-us {
    padding-top: 10rem;
    .form-wrap {
      margin: -.1rem -2.6rem 0;
      padding: 7rem 2.6rem 6.2rem;
    }
    .contact-form {
      h2 {
        text-align: center;
        font-size: 3.4rem;
        line-height: 1.38;
        margin-bottom: 6.4rem;
      }
      .submit-wrap {
        display: flex;
        flex-direction: column;
        .btn {
          width: 100%;
        }
        .form-message {
          margin-top: 1.6rem;
          margin-left: 0;
        }
      }

    }

    .hys-contacts {
      padding-top: 10rem;
      .media {
        margin-bottom: 6.4rem;
        h3 {
          margin-bottom: 2.4rem;
        }
      }
    }
    .hys-contacts-list {
      .contact-item {
        .purpose-type {
          margin-bottom: 3rem;
        }
        .contact-info {
          margin-bottom: 2.4rem;
        }
        h3 {
          font-size: 1.8rem;
        }
        small {
          font-size: 1.4rem;
        }
        ul {
          li:not(:last-child) {
            a {
              margin-right: 3rem;
            }
          }
        }
      }
    }
    .hys-offices {
      padding: 9.6rem 0 4.4rem;
      h3 {
        margin: 0 0 4.6rem;
        text-align: center;
        font-size: 3.4rem;
        line-height: 1.38;
      }
      .office-item {
        background-color: transparent;
        padding: 0 2.6rem;
        height: auto;
        margin-bottom: 5.2rem;
        h2 {
          font-size: 2.2rem;
          line-height: 1.64;
          color: $night-blue;
          margin-bottom: 1rem;
        }
        ul {
          li {
            padding-left: 0;
            &::before {
              content: '';
            }
            a {
              color: $blue;
            }
          }
        }
      }
    }
  }
}

//TEMPORARY
@media (min-width: $mobile) and (max-width: $desktop) {
  .contact-us {
    .form-wrap {
      margin: 5rem 0 0;
    }
  }
}