#blog.not-found {
  padding: 11rem 0 18rem;
}
.not-found {
  h1, h3 {
    text-align: center;
  }
  h3 {
    color: $grey-blue;
    margin-bottom: 6.4rem;
  }
  .btn-wrap {
    display: flex;
    justify-content: center;
    .btn {
      padding-left: 4.4rem;
      padding-right: 4.4rem;
      &:not(:last-child) {
        margin-right: 2.4rem;
      }
      span {
        font-size: 1.6rem;
      }
    }
  }
}

@media (max-width: $tablet) {
  .not-found {
    .btn-wrap {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      .btn {
        width: 35rem;
        &:not(:last-child) {
          margin: 0 0 3.6rem;
        }
      }
    }
  }
}

@media (max-width: $mobile) {
  .not-found {
    h3 {
      font-size: 1.8rem;
      line-height: 3.6rem;
      color: $night-blue;
    }
    .btn-wrap {
      .btn {
        width: 100%;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
      }
    }
  }
}