.privacy-policy {
  .sticky {
    ul {
      min-width: 36rem;
      padding: 3.6rem 5rem;
      background-color: $ghost-white;
      border: 1px solid $pale-grey;
      list-style: none;
      li {
        font-size: 1.6rem;
      }
      li:not(:last-child) {
        padding-bottom: 1.6rem;
      }
    }
  }
  .sticky-mobile {
    display: none;
  }
}

@media (max-width: $tablet) {
  .privacy-policy {
    .sticky {
      display: none;
    }
    .sticky-mobile {
      display: block;
      margin: 6.4rem 0 5.2rem;
      ul {
        padding: 3.6rem 5rem;
        background-color: #f9f9ff;
        border: 1px solid #e9eaf9;
        list-style: none;
        li {
          font-size: 1.6rem;
        }
        li:not(:last-child) {
          padding-bottom: 1.6rem;
        }
      }
    }
  }
}