.services {
  margin-top: 10rem;
  .services-jumbotron {
    padding: 9.6rem 0 13rem;
    h2 {
      max-width: 91.2rem;
      margin: 0 0 2rem;
    }
    p {
      max-width: 78.8rem;
      color: $white;
    }
  }
  .services-list {
    padding: 9.6rem 0;
    .service-item {
      cursor: pointer;
      padding: 4.8rem 2.4rem 0;
      background-color: $ghost-white;
      transition: $default;

      .service-image {
        width: 18rem;
        height: 18rem;
        margin: 0 auto 4.8rem;
        img {
          width: auto;
          height: 100%;
        }
      }
      p {
        -webkit-line-clamp: 4;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        margin: 0;
      }
      button {
        position: absolute;
        padding: 0;
        .ic.ic-arrow span {
          left: 0;
        }
        &:hover {
          .ic.ic-arrow span {
            width: 2.3rem;
          }
        }
      }
    }
    .service-item-details {
      h3 {
        margin: 0 0 3.2rem;
      }
      ul {
        li {
          display: inline-block;
          position: relative;
          margin-bottom: 3.2rem;
          &::before {
            content: '';
            display: block;
            position: absolute;
            left: -3.4rem;
            top: .7rem;
            width: 1rem;
            height: 1rem;
            background-color: $blue;
          }
          span {
            display: block;
          }
          span:first-child {
            font-family: Karla-Bold, sans-serif;
            font-size: 1.6rem;
            line-height: 2.4rem;
            margin-bottom: 1rem;
            color: $blue;
          }
          span:last-child {
            font-size: 1.8rem;
            line-height: 3rem;
          }
          p {
            margin-bottom: 0;
          }
        }
      }
    }
    .service-item-wrap {
      .service-item {
        border-radius: .1rem;
        &:hover,
        &.active {
          border-radius: .4rem;
          background-color: $pale-grey;
          button {
            left: 3rem;
            bottom: 5rem;
            opacity: 1;
            transform: translateY(0) rotate(90deg);
          }
        }
        button {
          transform: translateY(-3rem) rotate(90deg);
          opacity: 0;
        }
      }
    }
    .services-accordion {
      .service-item {
        padding: 3.2rem 2.6rem 8rem;
        margin-bottom: 1.6rem;
        background-color: $ghost-white;
        &.active {
          background-color: $pale-grey;
        }
        .service-title {
          margin-top: 0;
        }
        button {
          left: 2rem;
          bottom: 4rem;
          transform: rotate(90deg);
        }
      }
      .service-item-details {
        h3 {
          margin-top: 1.6rem;
        }
        ul {
          margin-bottom: 2rem;
        }
      }
    }
  }
}

@media (min-width: $hd + 1px) {
  .services {
    .services-list {
      .service-item-wrap {
        .service-item-details {
          ul {
            float: left;
            li {
              float: left;
              &:nth-child(odd) {
                padding-right: 5rem;
              }
              &:nth-child(even) {
                padding-left: 5rem;
                &::before {
                  left: calc(-3.4rem + 5rem);
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: $desktop + 1px) and (max-width: $hd) {
  .services {
    .services-list {
      .service-item-wrap {
        .service-item-details {
          h3 {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
          }
          ul {
            padding-left: 4.8rem;
            li {
              display: block;
              margin-left: auto;
              margin-right: auto;
            }
          }
        }
      }
    }
  }
}

@media (min-width: $desktop + 1px) {
  .services {
    .services-list {
      .service-item-wrap {
        .service-item {
          height: 60rem;
        }
        .service-item-details {
          padding-top: 69.6rem;
          ul {
            li {
              width: 50%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $desktop) {
  .services {
    .services-jumbotron {
      padding: 6.4rem 0 5.2rem;
      h2 {
        font-size: 2.6rem;
        line-height: 3.6rem;
        margin-bottom: 1rem;
      }
      p {
        margin: 0;
      }
    }
    .services-list {
      padding: 0;
      .container {
        margin: 0;
        width: 100%;
      }
      .services-accordion {
        margin-left: -$gap;
        margin-right: -$gap;
        .service-item {

        }
        .service-item-details {
          &:not(.invisible) {
            transition: opacity $default;
          }
          &.invisible {
            height: 0;
            overflow: hidden;
          }
        }
      }
    }
  }
}
