@mixin blog-item() {
  .blog-item-heading {
    position: relative;
    margin-bottom: 5.5rem;
    .image-wrap {
      margin: 0;
    }
    .tag,
    .tag-doubled {
      position: absolute;
      left: 0;
      bottom: 0;
    }
    .date {
      position: absolute;
      bottom: -4.5rem;
    }
  }
}