.make-order {
    padding-bottom: 5rem;
    .decorative {
        &.background {
            top: -10rem;
            left: 1.5rem;
            width: calc(100% - 13rem);
            height: 50rem;
            background-image: url('../img/Broderie-en-direct-1612x1078@1x.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top left;
        }
        &.yellow {
            top: 7.5rem;
            right: 0;
            width: 42.5rem;
            height: 42.5rem;
            opacity: .5;
        }
    }
    .form-wrap {
        background-color: $white;
        margin: 0 auto;
        padding: 10rem;
        box-shadow: 0 0 50px rgba(0, 0, 0, .15);
        h2, p {
            text-align: center;
        }
        h2 {
            max-width: 56rem;
            margin-left: auto;
            margin-right: auto;
        }
        p {
            margin-bottom: 4.5rem;
        }
        .tabs-wrap {
            margin: 0 -10rem;
        }
    }
    form {
        padding-top: 5rem;
        margin-bottom: -5rem;
        &:not(.active) {
            display: none;
        }
        input, textarea, button {
            width: 100%;
            margin-bottom: 5rem;
        }
    }
}

@media (max-width: $mobile) {
    .make-order {
        .form-wrap  {
            padding: 5rem 2rem;
            .tabs-wrap {
                margin: 0 -15px;
            }
        }
    }
}
