.services {
  padding-bottom: 21.5rem;
  .decorative {
    width: 42.5rem;
    height: 42.5rem;
    opacity: .5;
    top: -5rem;
    left: -17rem;
  }
  .service-item {
    display: block;
    position: relative;
    height: 50rem;
    overflow: hidden;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
    padding-top: 80%;
    margin-bottom: 5.5rem;
    background-color: $white;
    .service-img-wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      transition: $default;
      padding-right: 24%;
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: $default;
      }
      .service-img {
        width: 100%;
        padding-bottom: 38rem;
        background-image: url('../img/38bba466020cded409f222437f8c15d6.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        transition: $default;
      }
    }
    .service-title {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      padding: 1.1rem 2.7rem 1.1rem 0;
      text-align: right;
      color: $violet;
      font-family: 'Uni Sans Thin Caps', sans-serif;
      font-size: 2.5rem;
      font-weight: bold;
      line-height: 5rem;
      transition: $default;
      max-height: 12.2rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    button {
      display: block;
      position: absolute;
      right: 2.7rem;
      top: 100%;
      margin-top: 2.5rem;
    }
  }
  .see-more {
    text-align: center;
  }
}

@media (max-width: $large-desktop) {
  //.smarthoop-main-page .services .service-item .service-img-wrap .service-img {
  //  padding-bottom: 145%;
  //}
}

@media (min-width: $desktop + 1px) {
  .services {
    .service-item:hover {
      .service-img-wrap {
        padding-right: 0;
        &::after {
          background-color: transparentize($white, .4);
        }
        .service-img {
          padding-bottom: 50rem;
        }
      }
      .service-title,
      button {
        transform: translateY(-12.4rem);
      }
    }
  }
}

@media (max-width: $desktop) {
  .services {
    .service-item {
      padding-top: 0;
      .service-img-wrap {
        padding-right: 0;
        &::after {
          background-color: transparentize($white, .4);
        }
        .service-img {
          padding-bottom: 50rem;
        }
      }
      .service-title {
        max-height: 20rem;
        bottom: 50%;
        right: 50%;
        transform: translate(50%, 50%);
        width: 100%;
        padding-right: 0;
        text-align: center;
      }
      button {
        right: 50%;
        top: calc(50% + 10rem);
        transform: translate(50%, -50%);
      }
    }
  }
  //.smarthoop-main-page .services {
  //  .service-item {
  //    padding-top: 60%;
  //    .service-img-wrap {
  //      .service-img {
  //        padding-bottom: 73%;
  //      }
  //    }
  //    .service-title {
  //      transform: translateY(-125%);
  //    }
  //    button {
  //      transform: translateY(-100%);
  //    }
  //  }
  //}
}

//@media (max-width: $mobile) {
//  .smarthoop-main-page .services {
//    .service-item {
//      .service-img-wrap .service-img {
//        padding-bottom: 100%;
//      }
//      .service-title {
//        transform: translateY(-100%);
//      }
//      button {
//        transform: translateY(-120%);
//      }
//    }
//  }
//}

